body{
  background-color: #ffffff;  
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 3em;
  color: #0F5900;
}


/*封面照片*/

.bgimage {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.bgimage-inside {
  min-height: 200px;
  padding-top: 37.36%;
  /* this is actually (426/1140)*100 */
}

#myCarousel .container {
  width: 80%;
}

#myCarousel .container .row {
  margin-top: 125px;
  min-height: 200px;
}


/*店家資訊*/

#shop_info {
  background-color: #ffffff;
  text-align: center;
}

#shop_info p {
  font-size: 20px;
}

hr.star-light {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border-top: solid 5px #3BC31F;
  text-align: center;
}


/*小公告*/

#min-news {
  display: none;
  padding-top: 1px;
  padding-bottom: 10px;
  padding: 50px;
}

    #min-news .col-md-4 {
    }

    #min-news h2 {
        color: #0F5900;
        text-align: left;
        border-bottom: solid 2px #76E35F;
        padding: 10px 20px;
    }

    #min-news .list-group-item:first-child {
        border: none !important;
    }


    #min-news .list-group-item {
        border-left: none;
        border-right: none;
        border-radius: 0px;
        background-color: #ffffff;
    }

        #min-news .list-group-item h4 {
            color: rgb(25, 25, 25);
        }

        #min-news .list-group-item p {
            color: rgb(50, 50, 50);
        }

    #min-news .pager a {
        background-color: #76E35F;
        color: #0F5900;
        font-weight: bolder;
    }

/*小公告SCROLL UP*/

.scroll-up {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: rgb(255, 238, 84) ;
  border:inherit !important;
  
   width: 100% !important;
   text-align: center;
}

.scroll-up li{
    
  
  /*-moz-animation: scroll-up 0.5s linear infinite;
  -webkit-animation: scroll-up 0.5s linear infinite;
  animation: scroll-up 0.5s linear infinite;
  -moz-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;*/
}

@-moz-keyframes scroll-up {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes scroll-up {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes scroll-up {
  0% {
    -moz-transform: translateY(0);
    /* Browser bug fix */
    -webkit-transform: translateY(0);
    /* Browser bug fix */
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
    /* Browser bug fix */
    -webkit-transform: translateY(-100%);
    /* Browser bug fix */
    transform: translateY(-100%);
  }
}


/*大公告*/

#big-news {
  display: block;
}

#big-news h2 {
  color: #0F5900;
  text-align: center;
}

#big-news tbody {
  background-color: rgb(255, 200, 100);
}

@media(max-width:767px) {
  #min-news {
    display: block;
  }
  #big-news {
    display: none;
  }
}

#big-news .table tr:nth-child(odd){
  background-color: #C0F7B4;
}
#big-news .table tr:nth-child(odd):hover{
  background-color: #5AD640;
}
#big-news .table tr:nth-child(even){
  background-color: #97EE85;
}
#big-news .table tr:nth-child(even):hover{
  background-color: #5AD640;
}


/*地圖*/

#map {
  background-color: #ffffff;
}

#map h2 {
  color: #0F5900;
  text-align: center;
}
