﻿<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-關於我們</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <!--滾輪視差-->
    <script type="text/javascript" src="./js/aboutUs/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="./js/aboutUs/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="./js/aboutUs/jquery.scrollTo-1.4.2-min.js"></script>
    <script type="text/javascript" src="./js/aboutUs/aboutUs.js"></script>
    <!--end滾輪視差-->
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap-theme.min-yellow.css">
    <link rel="stylesheet" type="text/css" href="./css/aboutUs/aboutUs.css">
    <% include masterhref.ejs %>

</head>
<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="aboutusCtrl">

        <!--照片-->
        <section id="services">
            
        </section>
        <!--視差滾輪圖片-->
        <section id="img01"></section>
		<section id="img01mobile"></section>
        <!--關於-->

        <section id="services0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="section-heading">關於眼寶</h2>
                        <p>
                            本公司致力於研究視光學與視力保健相關技術，長久以來深受各界專業肯定，並長期提供專業技術協助公益社團辨理社會服務。

                            目前門市提供精確驗光配鏡與視力保健技術指導相關服務，另外公司提供眼鏡鏡框批發、眼鏡相關零件批發、健康食品研發批售、多媒體攝影剪輯、電腦基本維修、社區警監系統架設與維護、一般ＤＭ/名片/廣告文宣品製作、網站專案代工等服務。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--視差滾輪圖片-->
        <section id="img02"></section>
		<section id="img02mobile"></section>
        <!--各種服務-->

        <section id="services1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="section-heading">各種服務</h2>
                    </div>
                </div>
                <div class="col-md-4 container services">
                    <img src="./images/100721-200.png" height="100" width="100" />
                    <h3 class="service-heading">視力矯正</h3>
                    <p class="text-muted"></p>
                </div>


                <div class="col-md-4 container services">
                    <img src="./images/13032.png" height="60" width="60" style="margin-bottom:30px;margin-top:10px;" />
                    <h3 class="service-heading">保健食品</h3>
                    <p class="text-muted"></p>
                </div>

                <div class="col-md-4 container services">
                    <img src="./images/freeikon-65.png" height="100" width="100" />
                    <h3 class="service-heading">實力調整</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
        </section>

        <!--視差滾輪圖片-->
        <section id="img03"></section>
		<section id="img03mobile"></section>
        <!--年度紀事-->
        <div id="year-about" class="row">
            <div class="container col-md-12" >

                <h2 class="section-heading">年度紀事</h2>
                <div class="col-md-6 year-list">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in USYear | limitTo: 3:0">
                            <h4>{{x.year}}</h4>
                            <p>{{x.title}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 year-list">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in USYear | limitTo: 3:3">
                            <h4>{{x.year}}</h4>
                            <p>{{x.title}}</p>
                        </li>
                    </ul>
                </div>
                
               
                
                <ul class="pager col-md-12">
                    <li><a ng-click="YearUPP();">上一頁</a></li>
                    <li><a ng-click="YearDOWNP();">下一頁</a></li>
                </ul>
            </div>
        </div>


        <% include masterfooter.ejs %>
        <!-- /.container -->
    </div>
</body>
</html>
