﻿<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-活動消息</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/activityArea/activityArea.css" rel="stylesheet">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css">
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/activityArea/zabuto_calendar.min.css" rel="stylesheet">

    <script src="./js/common/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="./js/common/moment.js" type="text/javascript"></script>
    <script src="./js/common/bootstrap.min.js" type="text/javascript"></script>
    <script src="./js/common/angular.min.js" type="text/javascript"></script>
    <script> 
        var a_date = '<%=date%>';
        var a_search = '<%=search%>';
    </script>
    <script src="./js/activityArea/activityArea.js"></script>
    <script src="./js/activityArea/zabuto_calendar.min.js"></script>
    <% include masterhref.ejs %>
</head>

<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="activityAreaCtrl" >
        <!-- Page Content -->
        <div class="container">
            <div class="row">

                <div class="col-md-4" id="big-search">
                    <div class="mobileSearch dropdownn dropdown-toggle" data-toggle="dropdown">
                        <button class="btn btn-lg btn-default " type="button" >
                            <h4>文章搜尋</h4>
                            <span class="caret"></span>
                        </button>
                    </div>

                    <!-- 搜尋 -->
                    <div class="dropdownn-content dropdown-menu searchMenu" style="background-color:#ffffff;position:relative;z-index:1">
                        <div class="well search">
                            <h4>搜尋</h4>
                            <div class="input-group">
                                <input type="text" class="form-control"id="ACTIVITYserachtext" style="position: initial;">
                                <span class="input-group-btn" >
                                    <button class="btn btn-default" type="button" style="position: initial;">
                                        <span class="glyphicon glyphicon-search" ng-click="ACTIVITYserachdata();"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="well dateSearch ">
                            <h4>發文日期搜尋:</h4>
                            <div class="row">
                                <div id="my-calendar"></div>
                            </div>
                        </div>

                        <!-- 文章分類 -->

                        <div class="well list-group">
                            <h4>文章分類</h4>
                            <a  class="list-group-item" ng-click="ACTIVITYsearchyear(x.year);" ng-repeat="x in ACTIVITYyear">{{x.year}}</a>
                        </div>
                    </div>

                </div>


                <!-- 文章列表 -->

                <div id="blog-list" class="col-md-8">

                    <!-- First Blog Post -->
                    <div ng-repeat="x in ACTIVITYload">
                        <h2>{{x.activityTitle}}</h2>

                        <p><span class="glyphicon glyphicon-time"></span> 發文日期: {{x.activityDate}} {{x.activityTime}}</p>
                        <hr>
                        <img class="img-responsive" src="{{x.activityPicture}}" alt="">
                        <br>
                        <a class="btn btn-primary" href="./article?type=ACTIVITY&id={{x.activityID}}" ng-click="ACTIVITYclick(x.activityID);">繼續閱讀<span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                  
                  

                    <!-- Pager -->
                    <ul class="pager">
                        <li class="previous">
                            <a href="#top" ng-click="ACTIVITYUPP();">&larr; 上一頁</a>
                        </li>
                        <li class="next">
                            <a href="#top" ng-click="ACTIVITYDOWN();">下一頁 &rarr;</a>
                        </li>
                    </ul>

                </div>



            </div>


        </div>
        <% include masterfooter.ejs %>
    </div>

</body>

</html>
