﻿<!DOCTYPE html>
<html lang="en" ng-app="App">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-眼寶光學生技</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/activityArea/photoswipe.min.js"></script>
    <script type="text/javascript" src="./js/activityArea/photoswipe-ui-default.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap-theme.min-yellow.css">
    <link rel="stylesheet" type="text/css" href="./css/activityArea/acticle.css">
    <link rel="stylesheet" type="text/css" href="./css/activityArea/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="./css/activityArea/default-skin.css">
    <script>  
        var type = '<%=type%>';
        var A_id = '<%=A_id%>';
        console.log(type);
        console.log(A_id);
    </script>
    <script type="text/javascript" src="./js/article/articleControlle.js"></script>
    <% include masterhref.ejs %>
</head>
<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="articleCtrl">
        <div class="container">


            <div class="row" id="big-search">
                <!-- aside -->
                <div class="col-md-4 col-xs-12 well list-group">
                    <h4>近期文章</h4>
                    <a href="./article?type={{type}}&id={{x.id}}" class="list-group-item" ng-repeat="x in content.article">{{x.name}}</a>
                </div>

                <!-- 文章列表 -->

                <div id="blog-list" class="col-md-8 col-xs-12">
                    <!-- First Blog Post -->
                    <div>
                        <h2>{{content.search[0].articleTitle}}</h2>

                        <p><span class="glyphicon glyphicon-time"></span>發文日期: {{content.search[0].articleDate}} {{content.search[0].articleTime}}</p>
                        <hr>
                        <div id="ArticleIMG">
                            <img class="img-responsive" src="{{content.search[0].articlePicture}}" alt="">
                            <hr>
                        </div>
                        <div id="Articlecontent"></div>
                    </div>
                    <div id="articlevideo" class="col-xs-12 col-md-12 col-lg-12" style="height:350px;">
                </div>

                    <!--圖片區-->
                    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                        <figure ng-repeat="x in content.pic" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{x.picture}}" itemprop="contentUrl" data-size="800x600">
                                <img src="{{x.picture}}" itemprop="thumbnail" alt="Image description" />
                            </a>
                            <figcaption itemprop="caption description">Image caption  1</figcaption>

                        </figure>

                    </div>
                    <!--圖片區-->


                    <!-- Pager -->
                    <!--<ul class="pager">
                        <li class="previous">
                            <a href="#">← 上一則</a>
                        </li>
                        <li class="next">
                            <a href="#">下一則 →</a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>

    <% include masterfooter.ejs %>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true" >

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
