﻿<html ng-app="NgPages">

<head>
    <meta charset="utf-8">
    <title>眼寶光學生技YENBAO</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/common/bootstrap-datepicker.min.css" />
    <link href="./css/common/animate.min.css" rel="stylesheet">
    <link href="./css/backend/backend.css" rel="stylesheet">

    <script src="./js/common/jquery.min.js"></script>
    <script src="./js/common/bootstrap.min.js"></script>
    <script src="./js/common/jquery.slimscroll.min.js"></script>
    <script src="./js/common/modernizr.min.js"></script>

    <script src="./js/common/moment.min.js"></script>
    <script src="./js/common/daterangepicker.js"></script>
    <script src="./js/common/html5-qrcode.min.js"></script>
    <script src="./js/common/jsqrcode-combined.min.js"></script>
    <script src="./js/common/jquery.twzipcode.min.js"></script>
    <script>
        var c_id = '<%=c_id%>';
        var c_name = '<%=c_name%>';
        var c_type = '<%=c_type%>';
        var c_account = '<%=c_account%>';
        var c_password = '<%=c_password%>';
        var c_article = '<%=c_article%>';
        var B_name;
        if (c_type == 1) { B_name = '總公司'; }
        else if (c_type == 2) { B_name = '旗艦店'; }
        else if (c_type == 3) { B_name = '加盟店'; }
    </script>
    <script src="./js/common/ckeditor.js"> var CKEDITOR_BASEPATH = '/js/common/';</script>
    <script src="./js/common/jquery.js"></script>
    <script type="text/javascript" src="js/backend/backend.js"></script>
    

    <script src="./js/common/angular.min.js"></script>
    <script src="./js/common/angular-route.js"> </script>
    <script type="text/javascript" src="./js/backend/ngrouter.js"></script>

</head>

<body ng-controller="backendController" >

    <div class="wrapper preload">
        <header class="top-nav sidebar-mini">
            <div class="top-nav-inner">

                <!--For Pad or Smartphone-->
                <div class="nav-header">

                    <!--Settings-->
                    <ul class="nav-notification pull-right">
                        <li>
                            <!--Settings Icon-->
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog fa-lg"></i>
                            </a>

                            <!--Top Menu Info-->
                            <ul class="dropdown-menu dropdown-sm pull-right ">
                                <li class="user-avatar">
                                    <div class="user-content">
                                        <h5>{{BB_name}}</h5>
                                    </div>
                                    <div class="user-content">
                                        <a href="" onclick="window.close();">登出 Log Out</a>
                                    </div>
                                </li>
                                <li class="divider"></li>

                                <li id="SQAmessagefromN">
                                    <a href="#viewAll">通知 Notification <span id="QASmessage" style="background-color: red;" class="badge pull-right"></span></a>
                                </li>
                                <li id="SmessagefromM">
                                    <a href="#messageManagement">訊息 Message <span id="Smessage" style="background-color: red;" class="badge pull-right"></span></a>
                                </li>
                                <li id="SordersfromM">
                                    <a href="#ordersManagement">訂單 Orders <span id="Sorders" style="background-color: red;" class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a href="#companyProfile">個檔 Company Profile</a>
                                </li>
                                <li>
                                    <a target="_blank" href="./">前往前端 FrontEnd</a>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    <!--Humburger Icon-->
                    <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleSM">
                        <span><i class="fa fa-bars"></i></span>
                    </button>

                    <!--Company Name-->
                    <div class="brand">
                        <a href="#"><i class="fa fa-diamond"></i><span class="brand-name">後台管理系統</span></a>
                    </div>

                </div>

                <!--For Computer-->
                <div class="nav-container">

                    <!--Humburger Icon-->
                    <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleLG">
                        <span><i class="fa fa-bars"></i></span>
                    </button>

                    <!--Top menu-->
                    <div class="pull-right">

                        <!--User Settings-->
                        <div class="user-block hidden-xs">
                            <a id="userToggle" data-toggle="dropdown">
                                <div class="user-detail inline-block">
                                    {{BB_name}} <i class="fa fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="panel dropdown-menu user-panel">
                                <div class="panel-body paddingTB-sm">
                                    <ul>
                                        <li>
                                            <a href="#companyProfile">
                                                <i class="fa fa-edit fa-lg"></i>
                                                <span>個檔 Company Profile</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a target="_blank" href="./">
                                                <i class="fa fa-location-arrow fa-lg"></i>
                                                <span>前端 To FrontEnd</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="" onclick="window.close();">
                                                <i class="fa fa-power-off fa-lg"></i>
                                                <span>登出 Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <!--Notifications Menu-->
                        <ul id="Bmessagefrom" class="nav-notification">

                            <!--Notification-->
                            <li>
                                <a href="#productManagement" data-toggle="dropdown"><i class="fa fa-bell fa-lg"></i></a>
                                <span id="QABmessage" class="badge active"></span>
                                <ul class="dropdown-menu notification pull-right">
                                    <li><a href="" id="howmoreQA">你有 {{QAnum}} 則通知 New notifications</a></li>
                                    <li ng-click="QAclick(item.QAp_id ,item.QAp_name,item.QAp_type,item.QAp_price);" ng-repeat="item in QAmessage | limitTo:7">
                                        <a href="" ng-class="{noreply:item.QAreply==0}"  >
                                            <span class="notification-icon" ng-show="item.QAreply == 0 ">
                                                <i class="fa fa-warning"></i>
                                            </span>
                                            <span ng-show="item.QAreply == 1 ">{{item.QAname}}留言(已回復)</span>
                                            <span ng-show="item.QAreply == 0 ">{{item.QAname}}留言未回覆</span>
                                            <span class="time text-muted">{{item.QAdate}}</span>
                                        </a>
                                    </li>
                                    <li><a href="#viewAll">觀看所有通知  View all notifications</a></li>
                                </ul>
                            </li>

                            <!--Message-->
                            <li class="chat-notification">
                                <a href="#messageManagement" class="sidebarRight-toggle"><i class="fa fa-comments fa-lg"></i></a>
                                <span id="noreadmessage" class="badge badge-danger bounceIn active"></span>
                            </li>
                            <!--Orders-->
                            <li class="chat-notification">
                                <a href="#ordersManagement" class="sidebarRight-toggle"><i class="fa fa-comments fa-lg"></i></a>
                                <span id="noreadorders" class="badge badge-danger bounceIn active"></span>
                            </li>

                        </ul>
                    </div><!--Top menu-->

                </div> <!--For Computer-->
            </div><!-- top-nav-inner -->
        </header>



        <aside class="sidebar-menu fixed sidebar-mini" id="mAside">
            <div class="slimScrollDiv">
                <div class="sidebar-inner scrollable-sidebar">

                    <!--Side Menu-->
                    <div class="main-menu">
                        <ul>

                            <!--Company Branches Id Management -->
                             <a id="branchfrom" href="#branchManagement">
                                     <li class="openable bg-palette3">
                                    <span class="menu-content">
                                        <span class="menu-icon">
                                            <i class="block fa fa-home fa-lg"></i>
                                        </span>
                                        <span class="text">分店管理</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        分店<br>管理
                                    </span>
                                </li>
                            </a>


                            <!--Members Management-->
                            <a id="memberfrom" href="#memberManagement">
                                <li class="openable bg-palette4">
                                    <span class="menu-content block">
                                        <span class="menu-icon">
                                            <i class="block fa fa-user fa-lg"></i>
                                        </span>
                                        <span class="text">會員管理</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        會員<br>管理
                                    </span>
                                </li>
                            </a>

                            <!--Carousel Management-->
                            <a id="carouselfrom" href="#carouselManagement">
                                <li class="openable bg-palette2">
                                    <span class="menu-content block">
                                        <span class="menu-icon">
                                            <i class="block fa fa-bullhorn fa-lg"></i>
                                        </span>
                                        <span class="text">輪播管理</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        輪播<br>管理
                                    </span>
                                </li>
                            </a>

                            <!--News-->
                            <a id="newsfrom" href="#newsManagement">
                                <li class="openable bg-palette1">
                                    <span class="menu-content block">
                                        <span class="menu-icon">
                                            <i class="block fa fa-clock-o fa-lg"></i>
                                        </span>
                                        <span class="text">最新消息管理</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        最新<br>消息
                                    </span>
                                </li>
                            </a>

                            <!--Activity-->
                            <a id="activityfrom" href="#activityManagement">
                                <li class="openable bg-palette3">
                                    <span class="menu-content block">
                                        <span class="menu-icon">
                                            <i class="block fa fa-newspaper-o fa-lg"></i>
                                        </span>
                                        <span class="text">活動消息管理</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        活動<br>消息
                                    </span>
                                </li>
                            </a>

                            <!--Products-->
                            <a id="productfrom" href="#productManagement">
                                <li class="openable bg-palette4">
                                    <span class="menu-content block">
                                        <span class="menu-icon">
                                            <i class="block fa fa-tag fa-lg"></i>
                                        </span>
                                        <span class="text">商品管理</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        商品<br>管理
                                    </span>
                                </li>
                            </a>

                            <!--Knowledge-->
                            <a id="knowledgefrom" href="#knowledgeManagement">
                                <li class="openable bg-palette2">
                                    <span class="menu-content block">
                                        <span class="menu-icon">
                                            <i class="block fa fa-star fa-lg"></i>
                                        </span>
                                        <span class="text">知識分享管理</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        知識<br>分享
                                    </span>
                                </li>
                            </a>

                            <!--Analysis-->
                            <a id="analysisfrom" href="#analysisManagement">
                                <li class="openable bg-palette1">
                                    <span class="menu-content block">
                                        <span class="menu-icon">
                                            <i class="block fa fa-bar-chart fa-lg"></i>
                                        </span>
                                        <span class="text">流量分析</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        流量<br>分析
                                    </span>
                                </li>
                            </a>

                        </ul>
                    </div>
                </div>
            </div>
        </aside>

        <!--Contents Show With Angular-->
        <div class="main-container sidebar-mini">
            <div class="padding-md">
                <div ng-view></div>
            </div>
        </div>

    </div><!--wrapper-->


</body>
</html>