﻿<!DOCTYPE html>
<html ng-app="App">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-服務據點</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/common/bootstrap.min.css">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css" >
    <link href="./css/common/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!--<link href="./css/branches/freelancer.css" rel="stylesheet">-->
    <link href="./css/branches/shopSearch.css" rel="stylesheet">
    <link href="./css/common/footer.css" rel="stylesheet">
    <script type="text/javascript" src="js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/branches/branchesControlle.js"></script>    
    <% include masterhref.ejs %>
</head>

<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" >

        <section id="choose_shop">
            <div class="container">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">選擇地區</div>
                        <div class="panel-body">
                            <div class="col-md-4">
								<h3>國界縣市</h3>
                                <select id="country" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-4">
								<h3>區域</h3>
                                <select id="district" class="form-control">
                                    <option>請選擇</option>
                                </select>
                            </div>
                            <div class="col-md-4">
								<h3>店面名稱</h3>
                                <select id="branch" class="form-control">
                                    <option>請選擇</option>
                                </select>
                            </div><br>
                            <div id="sub_btn" class="col-md-4 col-md-offset-0">
                                <a id="searchBranch" class="btn btn-danger" role="button">送出</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Footer -->
        <% include masterfooter.ejs %>

    </div>

</body>

</html>
