﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-服務據點</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css" >
    <link href="./css/branchesContent/shopInfo.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/main/main.css">
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/common/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="./css/common/jquery.marquee.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script>
        var c_id = '<%=c_id%>';
    </script>
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="./js/common/mapcontrol.js" async defer></script>-->
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
	<script type="text/javascript" src="./js/common/jquery.marquee.min.js"></script>
    <!--<script type="text/javascript" src="./js/common/bingmap.js"></script>-->
    <script type="text/javascript" src="./js/branches/branchycontentControlle.js"></script>
    <% include masterhref.ejs %>

</head>
<body ng-app="App" >
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="branchycontentControlle">
        <!--封面照片-->
        <div id="myCarousel">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 bgimage" style="background-image:url(./images/branch/{{BranchCantent.c_picture}});">
                        <div class="bgimage-inside"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 店家資訊 -->
        <section id="shop_info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{BranchCantent.c_name}}</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>{{BranchCantent.c_zipcode}}{{BranchCantent.c_country}}{{BranchCantent.c_district}}{{BranchCantent.c_address}}</p>
                        <p><i class="fa fa-phone"></i><abbr title="Phone">電話</abbr>: {{BranchCantent.c_phone}}</p>
                        <p><i class="fa fa-envelope-o"></i><abbr title="Email">信箱</abbr>: <a>{{BranchCantent.c_email}}</a></p>
                        <p><i class="fa fa-clock-o"></i><abbr title="Hours">營業時間</abbr>: {{BranchCantent.c_time}}</p>
                    </div>
                </div>
            </div>

        </section>

        <!--小公告-->
      
        <div id="min-news">
            <div class="col-md-4">
                <h2 class="section-heading">最新消息</h2>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="x in SBranchnews">
                        <a ng-click="NEWSclick(x.newsid);" data-toggle="modal">
                            <h4>{{x.newsTitle}}</h4>
                        </a>
                        <p>{{x.newsDate}}</p>
                    </li>
                </ul>
                <ul class="pager">
                    <li style="margin-right:50px;"><a ng-click="SNewsUPP();">上一頁</a></li>
                    <li><a ng-click="SNewsDOWNP();">下一頁</a></li>
                </ul>
            </div>
        </div>

        <!--大公告-->

        <section id="big-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>公告</h2>
                        <hr class="star-light">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr ng-repeat="x in Branchnews" ng-click="NEWSclick(x.newsid);">
                                    <td>{{x.newsTitle}}</td>
                                    <td>{{x.newsDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pager">
                            <li style="margin-right:50px;"><a ng-click="NewsUPP();">上一頁</a></li>
                            <li><a ng-click="NewsDOWNP();">下一頁</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <!-- 地圖 -->

        <section id="map">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>地圖</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ">
                        <!--<div id='printoutPanel'></div>
                        <div id='directionsInputContainer'></div>-->
                        <div class="ng-cloak" id='myMap' style='width:100%;height:400px;'></div>
                        <!-- Embedded Google Map -->
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="news-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <div class="form-wrap">
                        <div class="form-group">

                            <h2>{{NEWScontent[0].articleTitle}}</h2>

                            <p><span class="glyphicon glyphicon-time"></span>發文日期:{{NEWScontent[0].articleDate}} {{NEWScontent[0].articleTime}}</p>
                            <hr>
                            <div class="newContain">

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include masterfooter.ejs %>

    </div>
    <!--<script type="text/javascript" src="./js/common/bingmap.js" async defer></script>-->
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=experimental&callback=loadMapScenario' async defer></script>
</body>

</html>
