﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-結帳</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/shoppingCart/checkOut.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap-theme.min-yellow.css">
    <link rel="stylesheet" type="text/css" href="./css/shoppingCart/checkOut.css">
    <% include masterhref.ejs %>
</head>
<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="ctrl">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center-block">
                    <div id="buyHistory" class="row">
                        <table class="tableDetail table table-bordered ">
                            <thead>
                                <tr>
                                    <th>商品圖片</th>
                                    <th>單價</th>
                                    <th>數量</th>
                                    <th>總金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cardata">
                                    <td><img src="./images/product/{{item.picture}}" href="./productContent?id={{item.productid}}">{{item.name}}</td>
                                    <td>{{item.totalprice/item.amount}}元</td>
                                    <td>{{item.amount}}個</td>
                                    <td>{{item.totalprice}}元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form id="purchaserDetail">
                        <div class="form-group">
                            <label for="exampleInputEmail1">收件人</label>
                            <input id="name" type="text" class="form-control" placeholder="請填寫收件人真實姓名">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">郵遞區號</label>
                            <input id="zip" type="text" class="form-control" placeholder="請填寫郵遞區號">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">收件地址</label>
                            <input id="address" type="text" class="form-control" placeholder="請填寫完整收件地址">
                        </div>
                       
                        <div class="alert alert-info text-right">
                            共 {{totalprice}} 元
                        </div>
                        <div class="detailButton">
                            <button id="detailSubmit" type="submit" class="btn btn-default" ng-click="ordersend(totalprice);">送出</button>
                        </div>
                        
                    </form>
                    
            </div>
        </div>
    </div>


        <% include masterfooter.ejs %>
    <!-- /.container -->
    </div>
</body>
</html>
