﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-付款方式</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/shoppingCart/checkfinal.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap-theme.min-yellow.css">
    <link rel="stylesheet" type="text/css" href="./css/shoppingCart/checkOut.css">
    <% include masterhref.ejs %>
    <script language="JavaScript">
        function printScreen(printlist) {
            var value = printlist.innerHTML;
            var printPage = window.open("printPage", '_blank', 'PopUp');
            printPage.document.open();
            printPage.document.write("<HTML><head></head><BODY onload='window.print();window.close()'>");
            printPage.document.write("<PRE>");
            printPage.document.write(value);
            printPage.document.write("</PRE>");
            printPage.document.close("</BODY></HTML>");
        }
    </script>
</head>
<body>
    <div id="fullmenu-hide" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 center-block" id="printlist">
                    <h2>付款完成!!</h2>
                    <p>您的訂單編號是：<%=orderid%></p>
                    <p>您的總金額是：<%=totalprice%></p>
                    <div id="howtopay">

                    </div>
                    <button type="button" class="btn btn-primary btn-sm" onclick="printScreen(printlist)">列印此頁</button>
                </div>
            </div>
        </div>

        <% include masterfooter.ejs %>
    <!-- /.container -->
    </div>
</body>
</html>
