﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-聯絡我們</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/font-awesome.css" rel="stylesheet" type="text/css" >
    <link href="./css/common/bootstrap-social.css" rel="stylesheet" type="text/css" >    
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css" >
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/contactUs/contactUs.css" rel="stylesheet">
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/contactUs/contactUs.js"></script>
    <% include masterhref.ejs %>
</head>
<body>
    <!--http://www.jb51.net/article/34954.htm-->

    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="ctrl">

        <!--聯絡我們-->
        <div class="row">
            <div id="contact_us" class="new-container col-md-12">
                <h2 id="contact-header">聯絡我們</h2>
                <div id="contact-body" class="col-md-6  col-md-offset-3">
                    <h2 class="section-heading"></h2>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" placeholder="姓名" class="form-control" id="cu_name" maxlength="20">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="電話" class="form-control" id="cu_phone" maxlength="20">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email信箱" class="form-control" id="cu_email">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="主旨" class="form-control" id="cu_subject"  maxlength="20">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="內文" rows="5" id="cu_comment"></textarea>
                        </div>
                        <div class="form-group validateCode">
                            <table border="0" >
                                <tr>
                                    <td>
										<div class="code" id="checkCode" ng-click="createCode()"></div>
										<a ng-click="createCode()">更換驗證碼</a>
									</td>
                                </tr>
                                <tr>
                                    <td>驗證碼：
                                        <input  type="text" id="inputCode" placeholder="請輸入驗證碼" />
                                    </td>
                                </tr>
                             
                            </table>
                        </div>
                        <button type="submit" ng-click="submit()" class="btn btn-default">送出</button>
                    </form>
                </div>

            </div>
        </div>
        <% include masterfooter.ejs %>
        <!-- /.container -->
    </div>
</body>

</html>
