﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-首頁</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/main/maincontroller.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="./css/common/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap-social.css">   
    <link rel="stylesheet" type="text/css" href="./css/common/bootstrap-theme.min-yellow.css">
    <link rel="stylesheet" type="text/css" href="./css/main/main.css">
    <link rel="stylesheet" type="text/css" href="./css/common/footer.css">
    <% include masterhref.ejs %>
</head>
<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" class="row" ng-controller="mainController">
        <!--旋轉木馬-->
        <section id="photocover" class="section-white">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators" style="text-align: center;">
                    <li data-target="#carousel-example-generic" ng-repeat="x in HOMEhorse" data-slide-to="{{$index}}" ng-class="{ active : $index==0}"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item" ng-class="{active:$index==0}" ng-repeat="x in HOMEhorse">
                        <a><img src="{{x.carouselPicture}}" ng-click="gotoherf(x.carouselUrl)"></a>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </section>
        <!--旋轉木馬-->
        <!--最新消息-->
        <div id="news" class="row">
            <div class="new-container row">
                <div class="col-md-4">
                    <h2 class="section-heading">最新消息</h2>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in HOMEnews">
                            <a ng-click="NEWSclick(x.newsid);" data-toggle="modal">
                                <h4>{{x.newsTitle}}</h4>
                            </a>
                            <p>{{x.newsDate}}</p>
                        </li>
                    </ul>
                    <ul class="pager">
                        <li style="margin-right:50px;"><a ng-click="NewsUPP();">上一頁</a></li>
                        <li><a ng-click="NewsDOWNP();">下一頁</a></li>
                    </ul>
                </div>
                <div id="about" class="col-md-offset-1 col-md-7">
                    <h2>關於眼寶</h2>
                    <h4>
                        本公司致力於研究視光學與視力保健相關技術，長久以來深受各界專業肯定，並長期提供專業技術協助公益社團辨理社會服務。
                        目前門市提供精確驗光配鏡與視力保健技術指導相關服務，另外公司提供眼鏡鏡框批發、眼鏡相關零件批發、健康食品研發批售、多媒體攝影剪輯、電腦基本維修、社區警監系統架設與維護、一般ＤＭ/名片/廣告文宣品製作、網站專案代工等服務。
                    </h4>
                </div>
            </div>
        </div>
        <!--最新消息-->
        <!-- 小知識 -->
        <div id="knowledge" class="row">
            <div class="container">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <img src="{{HOMEknowledge[0].picture}}" />
                </div>
                <div class="col-xs-12 col-md-8 col-lg-8">
                    <h2 class="section-heading">小知識</h2>
                    <p>{{HOMEknowledge[0].title}}</p>
                    <a href="./article?type=KNOWLEDGE&id=+{{HOMEknowledge[0].knowledgeid}}" ng-click="KNOWLEDGEclick(HOMEknowledge[0].knowledgeid);" class="btn btn-primary knowledgeMore">查看更多</a>
                </div>
            </div>
        </div>
        <!-- 小知識 -->
        <!-- 最新產品 -->
        <div id="new_product" class="row">
            <div class="new-container">
                <h2>新品上架</h2>

                <div class="col-md-3 products" style="text-align:center;" ng-repeat="x in HOMEproduce">
                    <a href="./productContent?id={{x.id}}">
                        <img src="{{x.productPicture}}">
                    </a>
                    <div class="caption">
                        <a href="./productContent?id={{x.id}}">{{x.productName}}</a>
                        <h4>${{x.productPrice}}</h4>
                    </div>
                </div>

            </div>
        </div>
        <!-- 最新產品 -->
        <!-- 社群網站 -->
        <div id="index_bottom" class="row">
            <div class="new-container">
                <div id="social" class="col-md-4">
                    <h2>社群網站</h2>
                    <a class="btn btn-lg btn-social-icon btn-twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="btn btn-lg  btn-social-icon btn-facebook">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a class="btn btn-lg  btn-social-icon btn-pinterest">
                        <span class="fa fa-weibo"></span>QR.png
                    </a>
                    <a class="btn btn-lg  btn-social-icon btn-twitter">
                        <span class="fa fa-qq"></span>
                    </a>
                </div>
                <div id="productHistory" class="col-md-4">
                    <h2>產品履歷查詢</h2>
                    <div class="form-inline">
                        <input class="form-control" id="SearchPid" placeholder="P+產品編號" />
                        <a ng-click="SearchProduct()" class="btn btn-md btn-primary ">開始查詢</a>
                    </div>
                </div>
                <div id="QRcode" class="col-md-4">
                    <h2>QR CODE</h2>
                    <img id="QRimg" src="" />
                </div>
            </div>
        </div>


        <!--最新消息內容-->
        <div class="modal fade" id="news-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
					
                <div class="loginmodal-container">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="form-wrap">
						
                        <div class="form-group">
							
                            <h2>{{NEWScontent[0].articleTitle}}</h2>

                            <p><span class="glyphicon glyphicon-time"></span>發文日期:{{NEWScontent[0].articleDate}} {{NEWScontent[0].articleTime}}</p>
                            <hr>
                            <div class="newContain">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 社群網站 -->
        <% include masterfooter.ejs %>
    </div>
</body>
</html>