﻿<!DOCTYPE html>
<html ng-app="App">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>眼寶光學生技-知識分享</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css" >
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/knowledgeSharing/knowledgeSharing.css" rel="stylesheet">
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/knowledge/knowledgeControlle.js"></script>
    <script>
        var k_type = '<%=type%>';
        var k_search = '<%=search%>';
    </script>
    <% include masterhref.ejs %>
</head>

<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="knowledgeCtrl">

        <div class="container" style="padding-top:160px;">

            <div class="row">

                <!-- 小搜尋 & 文章分類 -->

                <div class="dropdown" id="small-search">
                    <button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <h4>搜尋文章</h4>
                        <span class="caret"></span>
                    </button>

                    <div class="col-md-4 dropdown-menu">

                        <!-- 搜尋 -->

                        <div class="well search">
                            <h4>搜尋</h4>
                            <div class="input-group">
                                <input type="text" id="searchtextS" class="form-control" style="position: initial;">
                                <span class="input-group-btn" >
                                    <button class="btn btn-default" type="button" style="position: initial;">
                                        <span class="glyphicon glyphicon-search" ng-click="searchtextS();"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!-- 文章分類 -->

                        <div class="well list-group">
                            <h4>文章分類</h4>
                            <a href="#" class="list-group-item" ng-click="searchtype(x.id);" ng-repeat="x in KNOWLEDGEtype">{{x.name}}</a>
                        </div>

                    </div>
                </div>

                <!-- 大搜尋 & 文章分類 -->

                <div class="col-md-4" id="big-search">
                    <!-- 搜尋 -->

                    <div class="well search">
                        <h4>搜尋</h4>
                        <div class="input-group">
                            <input type="text" id="searchtextB" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" >
                                    <span class="glyphicon glyphicon-search" ng-click="searchtextB();"></span>
                                </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- 文章分類 -->

                    <div class="well list-group">
                        <h4>文章分類</h4>
                        <a href="#" class="list-group-item" ng-click="searchtype(x.id);" ng-repeat="x in KNOWLEDGEtype">{{x.name}}</a>
                    </div>

                </div>

                <!-- 文章列表 -->

                <div id="blog-list" class="col-md-8">
                    <!--文章1-->
                    <div ng-repeat="x in KNOWLEDGEload">
                    <h2>{{x.knowTitle}}</h2><hr>
                    <p><span class="glyphicon glyphicon-time"></span> 發文日期: {{x.knowDate}} {{x.knowTime}}  /  文章類別: {{x.knowType}}</p>
                    <img class="img-responsive" src="{{x.knowPicture}}" alt="">
                    <br>
                    <a class="btn btn-primary" href="./article?type=KNOWLEDGE&id={{x.knowID}}" ng-click="KNOWLEDGEclick(x.knowID);">前往閱讀<span class="glyphicon glyphicon-chevron-right" ></span></a>
                    
                    </div>
                    


                    <!-- Pager -->
                    <ul class="pager">
                        <li class="previous">
                            <a href="#top" ng-click="KNOWLEDGEUPP();">&larr; 上一頁</a>
                        </li>
                        <li class="next">
                            <a href="#top" ng-click="KNOWLEDGEDOWN();">下一頁 &rarr;</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <% include masterfooter.ejs %>
        <!-- /.container -->
    </div>

</body>

</html>
