﻿<footer class="footer">

            <p class="text-muted col-sm-4">客服信箱  yenbaoweb@gmail.com</p>
            <p class="text-muted col-sm-4">服務專線  +886 (04)2213-4021</p>
            <p class="text-muted col-sm-4">Copyright &copy; 2015 YenBao Rights Reserved</p>
            <p class="text-muted col-sm-6">總部地址 台灣台中市東區東英里7鄰旱溪街386號</p>
    
    <!--<a id="translateLink">簡體</a>-->
</footer>

<!--<script type="text/javascript" src="./js/common/tw_cn.js"></script>
<script type="text/javascript">
var defaultEncoding = 1;
var translateDelay = 1000;
var cookieDomain = "./"
var msgToTraditionalChinese = "繁體";
var msgToSimplifiedChinese = "简体";
var translateButtonId = "translateLink";
translateInitilization();
</script>-->