﻿
<script type="text/javascript" src="./js/index/indexController.js"></script> 
<link rel="stylesheet" type="text/css" href="./css/common/font-awesome.css">
<link rel="stylesheet" type="text/css" href="./css/common/bootstrap-social.css"> 
<link rel="stylesheet" type="text/css" href="./css/index/index.css">