﻿



    <!--上方登入列-->
    <nav class="navbar-fixed-top" id="navbar-login" role="navigation" ng-controller="noticeNavController">

        <div class="container">
            <div id='MicrosoftTranslatorWidget' class='Dark' style='float:left;color:white;background-color:#555555'></div>
          <div class="top-btn">
              <a id="register" type="button" class="btn btn-sm btn-default" href="/register">註冊 </a>
          </div>
          <div class="top-btn">
            <button id="login-btn" type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#login-modal">登入 </button>
          </div>

          <div class="top-btn">
                <button id="logout-btn" type="button" class="btn btn-sm btn-default" onclick="login(0); gohomepag()">登出 </button>
            </div>
            <div class="dropdown top-btn">
                <button id="message" class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                    通知 <span id="memberQAnum" style="background-color:red;" class="badge"></span>
                </button>
                <div class="dropdown-menu">
                    <a ng-click="memberQAclick(item.QAid);" ng-repeat="item in memberQAmessage" href="./productContent?id={{item.QAp_id}}" class="list-group-item" ng-class="{messagenoreply:item.QAmemberreply==0}">
                      <p>眼寶回復了您在{{item.QAp_name}}的留言</p>
                      <p class="time">{{item.QAreplytime}}</p>
                    </a>
                    <a href="./message" class="list-group-item all-message">查看更多</a>
                </div>
            </div>
            <div class="dropdown top-btn">
                <h id="hello" style="color:black"></h>
            </div>
        </div>
    </nav>
<script type='text/javascript'>
    setTimeout(function () {
    {
        var s = document.createElement('script');
        s.type = 'text/javascript'; s.charset = 'UTF-8'; s.src = ((location && location.href && location.href.indexOf('https') == 0) ? 'https://ssl.microsofttranslator.com' : 'http://www.microsofttranslator.com') + '/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**&ctf=False&ui=true&settings=undefined&from=zh-CHT&hidelanguages=af,ar,bn,bs-Latn,bg,ca,yue,hr,cs,da,nl,et,fj,fil,fi,fr,de,el,ht,he,hi,mww,hu,id,it,ja,sw,tlh,ko,lv,lt,mg,ms,mt,yua,no,otq,fa,pl,pt,ro,ru,sm,sr-Cyrl,sr-Latn,sk,sl,es,sv,ty,th,to,tr,uk,ur,vi,cy';
        var p = document.getElementsByTagName('head')[0] || document.documentElement; p.insertBefore(s, p.firstChild);
    }
    }, 0);
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('#chousemeau').tooltip('show');
        setTimeout(function () {
            $('#chousemeau').tooltip('hide');
        }, 3000);
    });
    </script>

<style>
  @media screen and (max-width: 425px){
  #WidgetFloaterPanels .DDStyle table{
  min-width:215px !important;
  }
  #WidgetFloaterPanels .DDStyle table td{
  display:block;
  width:50% !important;
  }
  #WidgetFloaterPanels .DDStyle table tr{

  }
  }
</style>

<!--<script type="text/javascript">
window.lockiProjectId=178,function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src="//assets.locki.io/locki.js",(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}();
</script>-->
<!--<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-97060353-1'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="./js/common/translate_google.js"></script>-->
    <!--小視窗選單-->
    <div id="fullmenu" ng-show="mobileMenuShow" ng-controller="mobileMenuController">
        <div class="col-xs-4 fullmenu-btn">
            <a href="./activityArea">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                <h6>活動消息</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a href="./onlineMall">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <h6>特色產品</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a href="./knowledgeSharing">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                <h6>知識分享</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a ng-click="memberhome();">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <h6>會員專區</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a href="./branches">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                <h6>服務據點</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a href="./aboutUs">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <h6>關於我們</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a href="./contactUs">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <h6>聯絡我們</h6>
            </a>
        </div>
    </div>

    <!--上方選單-->
    <nav id="top-menu" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="webMenuController">
        <div class="container">
            <!-- 上方選單 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="mobileMenuShow()">
                    <span id="chousemeau" class="glyphicon glyphicon-th" data-toggle="tooltip" data-placement="left" title="選單"></span>
                </button>
                <img src="./images/logo.png" onclick="gohomepag()" />
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="./activityArea">
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><br />活動消息
                        </a>
                    </li>
                    <li>
                        <a href="./onlineMall">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br />特色產品
                        </a>
                    </li>
                    <li>
                        <a href="./knowledgeSharing">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br />知識分享
                        </a>
                    </li>
                    <li>
                        <a ng-click="memberhome();">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br />會員專區
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><br />聯絡方式
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="./aboutUs">關於我們</a></li>
                            <li><a href="./branches">服務據點</a></li>
                            <li><a href="./contactUs">聯絡我們</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--登入畫面-->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="loginController">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <div class="form-wrap">
                    <h2>會員登入</h2>
                    <hr />
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" name="text" id="userid" class="form-control" placeholder="帳號">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="password" name="password" id="userpwd" class="form-control" placeholder="密碼">
                        </div>
                        <div class="checkbox">
                            <label><input id="rememberpwd" name="rememberpwd" type="checkbox" value="">記住密碼</label>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-default btn-lg btn-block" value="登入" data-dismiss="modal" ng-click="userlogin()">
                    </form>
                    <a onclick="forgetpsd();" class="forget" data-toggle="modal" data-target=".forget-modal">忘記密碼?</a>
                    <p class="register"><a href="/register">註冊會員</a></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
