﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-會員專區</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="./css/common/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css">
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/memberArea/memberArea.css" rel="stylesheet">
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script src="js/common/jquery.twzipcode.min.js"></script>
    <script type="text/javascript" src="./js/memberArea/memberAreaController.js"></script>
    <script type="text/javascript" src="./js/memberArea/highcharts.js"></script>
    <% include masterhref.ejs %>
    <script type="text/javascript">

        function edit() {
            document.getElementById("edit-2").style.display = 'block';
            document.getElementById("edit-1").style.display = 'none';
        }
        function OK() {
            alert("修改成功!");
        }
    </script>


</head>
<body >
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="ctrl">
        <section id="title">
            <h1>會員專區</h1>
        </section>

        <!--關於-->

        <section id="services0">
            <div class="new-container">
                <div class="row">

                    <!--會員資料-->

                    <div id="member_about" class="col-md-6">
                        <div>
                            <p style="font-size:30px;text-align:center;">通訊資料</p>
                            <p>姓名:  {{Memberdata.information[0].memberName}}</p>
                            <p>生日:  {{Memberdata.information[0].memberBirthday}}</p>
                            <p>連絡電話:  {{Memberdata.information[0].memberPhone}}</p>
                            <p>聯絡地址:  {{Memberdata.information[0].memberAddress}}</p>
                            <p>Email信箱:  {{Memberdata.information[0].memberEmail}}</p>
                            <a class="btn btn-md btn-default" href="#" data-toggle="modal" data-target="#edit-modal">修改會員資料</a>
                        </div>
                    </div>

                    <!--紅利點數-->

                    <div id="member_point" class="col-md-6">
                        <div>
                            <h2>紅利點數</h2>
                            <p>{{Memberdata.information[0].memberDividend}}點</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="row" id="healthContent">
            <div class="col-md-6 col-xs-12">
                <div id="container"></div>
            </div>
            <div class="col-md-6 col-xs-12" id="health">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>保健日期</th>
                            <th>開始時間</th>
                            <th>結束時間</th>
                            <th>操作時間</th>
                            <th>店家</th>
                            <th>服務人員</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in Memberhealth.health">
                            <td>{{x.date}}</td>
                            <td>{{x.starttime}}</td>
                            <td>{{x.endtime}}</td>
                            <td>{{x.time}}</td>
                            <td>{{x.name}}</td>
                            <td>{{x.charge}}</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pager">
                    <li style="margin-right:50px;"><a style="background-color: #76E35F;color: #0F5900; font-weight: bolder;" ng-click="HealthUPP();">上一頁</a></li>
                    <li><a style="background-color: #76E35F;color: #0F5900; font-weight: bolder;" ng-click="HealthDOWN();">下一頁</a></li>
                </ul>
            </div>
        </section>

        <!--購物紀錄-->
        <div id="buyHistory" class="row">
            <div class="new-container col-md-12 ">

                <h2 class="section-heading">購物紀錄</h2>
                <div id="buy-history-sort" ng-show="transactionHistory[0].transactionid!=-1">
                    <div>
                        <p>排序方式:</p>
                    </div>
                    <div class="form-group col-md-3">
                        <select class="form-control" id="chooseorder" ng-model="myValue" ng-change="transactionOrder();">
                            <option value="new">最新</option>
                            <option value="old">最舊</option>
                            <option value="high">價格高至低</option>
                            <option value="low">價格低至高</option>
                        </select>
                    </div>
                </div>

                <div ng-repeat="item in transactionHistory">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>交易編號</th>
                                <th>購買時間</th>
                                <th>交易金額</th>
                            </tr>
                        </thead>
                        <tbody ng-show="item.transactionid==-1">
                            <tr>
                                <td></td>
                                <td>無購物紀錄</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody ng-show="item.transactionid!=-1">
                            <tr>
                                <td>{{item.transactionid}}</td>
                                <td>{{item.transactiontime}}</td>
                                <td>{{item.transactiontotalprice}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a ng-click="detailManager($index)" ng-show="item.visible==false">看明細<span class="glyphicon glyphicon-chevron-down"></span></a>

                    <a ng-click="detailManager($index)" ng-show="item.visible==true">收起明細 <span class="glyphicon glyphicon-chevron-up"></span></a>

                    <table ng-show="item.visible==true" class="tableDetail table table-bordered ">
                        <thead>
                            <tr>
                                <th>商品</th>
                                <th>單價</th>
                                <th>數量</th>
                                <th ng-show="item.hypermyopia!=null">眼鏡用途</th>
                                <th ng-show="item.hypermyopia!=null">特殊加工</th>
                                <th>總金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img ng-src="{{item.productimg}}">{{item.productname}}</td>
                                <td>{{item.productprice}}元</td>
                                <td>{{item.productquantity}}個</td>
                                <td ng-show="item.hypermyopia==1">近視眼鏡</td>
                                <td ng-show="item.hypermyopia==2">遠視眼鏡</td>
                                <td ng-show="item.hypermyopia==3">遠近兩用眼鏡</td>
                                <td ng-show="item.hypermyopia!=null && item.productspecial!=''">{{item.productspecial}}</td>
                                <td ng-show="item.hypermyopia!=null && item.productspecial==''">無</td>
                                <td>{{item.transactiontotalprice}}元</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <ul class="pager col-md-12" style="text-align:center;">
                <li><a ng-click="transactionUPP();">上一頁</a></li>
                <li><a ng-click="transactionDOWN();">下一頁</a></li>
            </ul>
        </div>



        <% include masterfooter.ejs %>
        <!-- /.container -->


        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="editmodal-container">
                    <div class="form-wrap row">
                        <h2>會員資料修改</h2>
                        <p>姓名:  <input id="m_update_name" value="{{Memberdata.information[0].memberName}}" class="form-control"></p>
                        <p>生日: <input value="{{Memberdata.information[0].memberBirthday}}" class="form-control" disabled></p>
                        <p>連絡電話: <input id="m_update_phone" value="{{Memberdata.information[0].memberPhone}}" class="form-control"> </p>
                        <p>會員地址:</p>
                        <p>
                            <div id="twzipcode" ></div>
                            <input type="text" name="text" id="m_update_address" class="form-control" placeholder="ex:台中路1號3樓" value="{{Memberdata.information[0].memberAddressnum}}">
                        </p>
                        <p>Email信箱: 
						<input id="m_update_email" value="{{Memberdata.information[0].memberEmail}}" class="form-control">
						</p>
                        <div class="col-md-12 col-xs-12" style="text-align:center;">
                            <div class="btn btn-md btn-default" style="background-color: #0F5900;color:#ffffff;" data-toggle="modal" data-target="#edit-modal">取消</div>
                            <div class="btn btn-md btn-default" style="background-color: #0F5900;color:#ffffff;" ng-click="MemberUpdate();">送出</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
