﻿<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>眼寶光學生技-通知</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css" >
    <link href="./css/message/message.css" rel="stylesheet">
    <link href="./css/common/footer.css" rel="stylesheet">
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/message/messageController.js"></script>
    <% include masterhref.ejs %>
</head>
<body>
    <% include master.ejs %>
    <div id="fullmenu-hide"  ng-controller="messageController">
        <!--通知-->
        <div id="messagelist" class="new-container row">
            <h2 id="contact-header">我的通知</h2>
            <ul class="list-group col-md-offset-2 col-md-8  col-xs-12 col-lg-offset-4 col-lg-4 col-sm-offset-2 col-sm-8">
                <li ng-repeat="item in memberQAmessage" class="list-group-item" ng-class="{messagenoreply:item.QAmemberreply==0}">
                    <a href="./productContent?id={{item.QAp_id}}" ng-click="memberQAclick(item.QAid);" class="list-group-item" ng-class="{messagenoreply:item.QAmemberreply==0}">
                        <h4>眼寶回復了您在{{item.QAp_name}}的留言</h4>
                        <p class="content">{{item.QAquestion}}</p>
                        <p class="dateTime">{{item.QAreplytime}}</p>
                    </a>
                </li>

            </ul>
            <div style="text-align: center;" class="col-md-12  col-xs-12 col-lg-12 col-sm-12">
                <button ng-click="BIGERQAmessageloadmore();" type="button" style="font-size: 15px;background-color: #0F5900;color: #ffffff;">載入更多</button>
            </div>
        </div>
        <% include masterfooter.ejs %>
    </div>

</body>

</html>
