﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首頁</title>
    <script type="text/javascript" src="js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common/angular.min.js"></script>
    <script type="text/javascript" src="js/index/indexController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="css/common/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap-theme.min-yellow.css">
    <link rel="stylesheet" type="text/css" href="css/index/index.css" >
</head>
<body>

    <!--上方登入列-->
    <nav class="navbar-fixed-top" id="navbar-login" role="navigation" ng-controller="noticeNavController">
        <div class="container">
            <div class="top-btn">
                <button id="login-btn" type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#login-modal">登入 </button>
            </div>
            <div class="top-btn">
                <button id="logout-btn" type="button" class="btn btn-sm btn-default" onclick="login(0)">登出 </button>
            </div>
            <div class="dropdown top-btn ">
                <button id="message" class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    新訊息 <span class="badge">7</span>
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="list-group-item">通知一</a>
                    <a href="#" class="list-group-item">通知二</a>
                    <a href="#" class="list-group-item">通知三</a>
                    <a href="#" class="list-group-item">通知四</a>
                    <a href="#" class="list-group-item">通知五</a>
                    <a ng-click="pageManager('./message')" class="list-group-item all-message">查看全部</a>
                </div>
            </div>
            <div class="dropdown top-btn ">
                <h id="hello" style="color:black">行一，您好</h>
             </div>
        </div>
    </nav>

    <!--小視窗選單-->
    <div id="fullmenu" ng-show="mobileMenuShow" ng-controller="mobileMenuController">
        <div class="col-xs-4 fullmenu-btn">
            <a ng-click="pageManager('./activityArea')"  >
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                <h6>活動消息</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a ng-click="pageManager('./onlineMall')">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <h6>特色產品</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a ng-click="pageManager('./knowledgeSharing')">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                <h6>知識分享</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn" >
            <a ng-click="memberhome();">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <h6>會員專區</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a ng-click="pageManager('./branches')">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                <h6>服務據點</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a ng-click="pageManager('./aboutUs')">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <h6>關於我們</h6>
            </a>
        </div>
        <div class="col-xs-4 fullmenu-btn">
            <a ng-click="pageManager('./contactUs')">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <h6>聯絡我們</h6>
            </a>
        </div>
    </div>

    <!--大視窗上方選單-->
    <nav id="top-menu" class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="webMenuController">
        <div class="container">
            <!-- 上方選單 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="mobileMenuShow()">
                    <span  class="glyphicon glyphicon-th"></span>
                </button>
                <img src="./images/logo.png" ng-click="pageManager('./main')"/>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <a ng-click="pageManager('./activityArea')">
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><br />活動消息
                        </a>
                    </li>
                    <li>
                        <a  ng-click="pageManager('./onlineMall')">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br />特色產品
                        </a>
                    </li>
                    <li>
                        <a ng-click="pageManager('./knowledgeSharing')">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span><br />知識分享
                        </a>
                    </li>
                    <li>
                        <a ng-click="memberhome();" >
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br />會員專區
                        </a>
                    </li>                      
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><br />聯絡方式
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="pageManager('./aboutUs')">關於我們</a></li>
                            <li><a ng-click="pageManager('./branches')">服務據點</a></li>
                            <li><a ng-click="pageManager('./contactUs')">聯絡我們</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <!--登入畫面-->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="loginController">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <div class="form-wrap">
                    <h2>會員登入</h2>
                    <hr />
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" name="text" id="userid" class="form-control" placeholder="帳號">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="password" name="password" id="userpwd" class="form-control" placeholder="密碼">
                        </div>
                        <div class="checkbox">
                            <label><input id="rememberpwd" name="rememberpwd" type="checkbox" value="">記住密碼</label>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-default btn-lg btn-block" value="登入" data-dismiss="modal" ng-click="userlogin()">
                    </form>
                    <a onclick="forgetpsd();" class="forget" data-toggle="modal" data-target=".forget-modal">忘記密碼?</a>
                    <p class="register"><a href="/register" >註冊會員</a></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <iframe ng-src="{{page}}" ng-controller="pageController">

    </iframe>
</body>
</html>
