﻿<!DOCTYPE html>
<html ng-app="App">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-特色商品</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css">
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/onlineMall/shopHomepage.css" rel="stylesheet">
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/onlineMall/onlineMallController.js"></script>
    <% include masterhref.ejs %>
</head>

<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="mallController">
        <div class="container " style="margin-top:160px;">

            <div id="big-list" class="row">
                <div class="row">
                    <!--上方選項-->
                    <div id="product-option" class="col-md-12 col-xs-12">
                        <!--搜尋-->
                        <div id="search-product" class="col-md-4 col-xs-12">
                            <div class="input-group">
                                <input id="search" type="text" class="form-control" value="" style="position: initial;">
                                <span class="input-group-btn">
                                    <button id="searchbtn" class="btn btn-default" type="button" style="position: initial;">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!--排序-->
                        <div id="product-sort" class="col-md-3 col-xs-7">
                            <div class="input-group">
                                <select class="form-control" id="chooseorder" style="position: initial;" onchange="changeorder(this.value)">
                                    <option value="new">最新</option>
                                    <option value="old" >最舊</option>
                                    <option value="high">價格高至低</option>
                                    <option value="low">價格低至高</option>
                                </select>
                            </div>
                        </div>

                        <!--購物車-->
                        <div id="shoppingcart" class="col-md-4 col-xs-3">
                            <a ng-click="OpenShoppingCar();" class="btn btn-default">購物車</a>
                        </div>
                        <div id="expansionType" class="col-md-1 col-xs-2">
                            <span ng-show="expansionStatus" class="typeExpand" ng-click="expansionTypeShow(1)" data-toggle="collapse"></span>
                            <span ng-hide="expansionStatus" class="typeCollapse" ng-click="expansionTypeShow(0)" data-toggle="collapse"></span>
                        </div>
                    </div>

                    <!--產品類別-->
                    <div class="typeContentWapper col-md-12 col-xs-12 collapse ">
                        <div ng-repeat="items in productTypeList" class="typeItemDiv">
                            <dl>
                                <dt>{{items.title}}</dt>
                                <dd ng-repeat="item in items.content" ng-click="changetype(item.id)">{{item.name}}</dd>
                            </dl>
                        </div>
                    </div>

                    <!--商品列表-->
                    <div class="productList row">
                        <div ng-repeat="item in productList" class="col-sm-4 col-lg-4 col-md-4 col-xs-12 product">
                            <a href="./productContent?id={{item.p_id}}" ng-click="rememberproduct(item)">
                                <div class="thumbnail row">
                                    <img class="col-xs-12 col-md-12" style="width:100%;height:25vh;" ng-src="{{item.imgSrc}}">
                                    <div class="caption col-xs-12 col-md-12">
                                        <h4>{{item.title}}</h4>
                                        <p>所屬類別：{{item.type}}</p>
                                        <h4 class="pull-right price">${{item.price}}</h4>
                                        <input type="button" class="btn btn-danger" style="background-color: #0F5901; color: #FFFFFF; border-color: #0F5900;" value="前往購買">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div style="text-align:center;">
                        <ul class="pagination">
                            <li><a href="#top" ng-click="PRODUCTUPP()"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                              <li ><a>{{pageval}}</a></li>
                            <li><a href="#top" ng-click="PRODUCTDOWN()"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--瀏覽紀錄-->
            <div id="history" class="pull-right" ng-show="productrecord_data != null">
                <div id="history_panel" class="panel panel-default">
                    <div class="panel-heading">瀏覽紀錄</div>
                    <div class="list-group">
                        <a ng-repeat="item in productrecord_data track by $index" href="./productContent?id={{item.p_id}}" ng-click="rememberproduct(item)" class="list-group-item"><img ng-src="{{item.imgSrc}}"><br><h5>{{item.title}}<br>${{item.price}}</h5></a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

        <% include masterfooter.ejs %>
        <!-- /.container -->
    </div>

</body>

</html>
<script>
    var order = '<%=order%>';
$(function () {
    $('#search').val('<%=search%>');
    $('#searchbtn').on('click', function () {
        location.href = "./onlineMall?type=<%=type%>&order=<%=order%>&search=" + $('#search').val();
    });
});
document.getElementById("chooseorder").value = '<%=order%>';
function changeorder(order) {
    location.href = "./onlineMall?type=<%=type%>&order=" + order + "&search=<%=search%>";
}
app.controller('mallController', function ($scope, $http) {
    if (localStorage["productrecord"] == undefined) {
        $scope.productrecord_data = null;
    }
    else {
        var record_data = JSON.parse(localStorage["productrecord"]);
        $scope.productrecord_data = record_data;
        console.log($scope.productrecord_data);
    }
    $scope.changetype = function (type) {
        location.href = "./onlineMall?type=" + type + "&order=<%=order%>&search=<%=search%>";
    };
    $.ajax({
        type: "GET",
        url: "../../frontendapi/PRODUCTftypeload",
        data: '',
        dataType: "json"
    }).done(function (result) {
        $scope.productTypeList = result;
        for (var i = 0; i <= $scope.productTypeList.length - 1; i++) {
            $.ajax({
                type: "POST",
                url: "../../frontendapi/PRODUCTstypeload",
                data: {
                    id: $scope.productTypeList[i].Fid,
                    i: i
                },
                dataType: "json"
            }).done(function (res) {
                $scope.productTypeList[res[0].i].content = res[0].type;
            });
        }
    });
    var p_type = '<%=type%>';
    var p_order = '';
    if (order == 'new') { p_order = 'productlist.productid DESC'; }
    else if (order == 'old') { p_order = 'productlist.productid ASC'; }
    else if (order == 'high') { p_order = 'p_data.price DESC'; }
    else if (order == 'low') { p_order = 'p_data.price ASC'; }
    var p_search = '<%=search%>';
    //撈資料
    $http.post("../../frontendapi/PRODUCTload", { order: p_order, type: p_type, search: p_search, num: 0 }
   ).then(function mySucces(response) {
       $scope.productList = response.data.product;
       var p = Math.ceil(response.data.data[0].count / 9);
       $scope.pageval = '第1頁/共' + p + '頁';
   });
    var Page = 0;
    $scope.PRODUCTUPP = function () {
        if (Page > 0) {
            Page -= 9;
            $http.post("../../frontendapi/PRODUCTload", { order: p_order, type: p_type, search: p_search, num: Page }
            ).then(function mySucces(response) {
                $scope.productList = response.data.product;
                $scope.pageval = '第' + ((Page / 9) + 1) + '頁' + $scope.pageval.substring($scope.pageval.indexOf("/"), $scope.pageval.length);
            });
        }
    }
    $scope.PRODUCTDOWN = function () {
        Page += 9;
        $http.post("../../frontendapi/PRODUCTload", { order: p_order, type: p_type, search: p_search, num: Page }
        ).then(function mySucces(response) {
            if (response.data.product[0]) {
                $scope.productList = response.data.product;
                $scope.pageval = '第' + ((Page / 9) + 1) + '頁' + $scope.pageval.substring($scope.pageval.indexOf("/"), $scope.pageval.length);
            }
            else {
                Page -= 9;
            }
        });
    }
    $scope.rememberproduct = function (item) {
        if (localStorage["productrecord"] == undefined || localStorage["productrecord"] == "") {
            var product = [item];
            localStorage["productrecord"] = JSON.stringify(product);
        }
        else {
            var productrecord = JSON.parse(localStorage["productrecord"]);
            var product = [item];
            if (productrecord.length <= 2) {
                var p_remember = -1;
                for (var i = 0 ; i < productrecord.length ; i++) {
                    if (item.p_id == productrecord[i].p_id) {
                        p_remember = i;
                    }
                }
                
                if (p_remember == -1) {
                    for (var i = 1 ; i <= productrecord.length ; i++) {
                        product[i] = productrecord[i - 1];
                        localStorage["productrecord"] = JSON.stringify(product);
                    }
                }
                else {
                    for (var i = 1 ; i <= p_remember ; i++) {
                        product[i] = productrecord[i-1];
                        localStorage["productrecord"] = JSON.stringify(product);
                    }
                }
            }
            else {
                var p_remember = -1;
                for (var i = 0 ; i <= 2 ; i++) {
                    if (item.p_id == productrecord[i].p_id) {
                        p_remember = i;
                    }
                }
                if (p_remember == -1) {
                    for (var i = 1 ; i <= 2 ; i++) {
                        product[i] = productrecord[i - 1];
                        localStorage["productrecord"] = JSON.stringify(product);
                    }
                }
                else {
                    for (var i = 1 ; i <= p_remember ; i++) {
                        product[i] = productrecord[i-1];
                        localStorage["productrecord"] = JSON.stringify(product);
                    }
                    if (p_remember == 1) {
                        product[2] = productrecord[1];
                        localStorage["productrecord"] = JSON.stringify(product);
                    }
                }

            }
        }
    }

    function init() {
        $scope.expansionStatus = true;
        $scope.expansionImg = { "background-position": "0 -30px" };
    }
    init();

    $scope.expansionTypeShow = function (typeNumber) {
        if (typeNumber == 0) {//開
            $scope.expansionStatus = 1;
            $('.typeContentWapper').collapse('hide');

        } else {//收
            $scope.expansionStatus = 0;
            $('.typeContentWapper').collapse('show');

        }
    }
    $scope.OpenShoppingCar = function () {
        $http.post("./frontendapi/LOGIN", { id: window.localStorage["userid"], pwd: window.localStorage["userpwd"] }
        ).then(function mySucces(response) {
            $scope.LOGINdata = response.data;
            if ($scope.LOGINdata == 'nologin') {
                $('#login-modal').modal();
                window.localStorage["memberid"] = '';
            }
            else {
                location.href = './shoppingCart';
                window.localStorage["memberid"] = $scope.LOGINdata[0].id;
            }
        });
    }
});
</script>