﻿<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-產品內容</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/productContent/productContent.css" rel="stylesheet">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css" >
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/common/bootstrap-magnify.min.css" rel="stylesheet" >
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap-magnify.min.js"></script>

    <script>var p_id = '<%=id%>';</script>
    <script type="text/javascript" src="./js/productContent/productContentController.js"></script>
    <% include masterhref.ejs %>
    <script language="JavaScript">
        function printScreen(printlist) {
            var value = printlist.innerHTML;
            var printPage = window.open("", "printPage", "");
            printPage.document.open();
            printPage.document.write("<HTML><head></head><BODY onload='window.print();window.close()'>");
            printPage.document.write("<PRE>");
            printPage.document.write(value);
            printPage.document.write("</PRE>");
            printPage.document.close("</BODY></HTML>");
        }

    </script>

</head>

<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="productCtrl">

        <div class="container" style="">
            <!--商品標題-->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><small>產品介紹 > {{PRODUCTcontent.loaddata[0].Pname}}</small></h1>
                </div>
            </div>
			<div id="shopcarIcon" ng-click="OpenShoppingCar();" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="查看購物車"></div>
            <div class="row">
                <!-- 商品縮圖 -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner thumbnail product-main-image" role="listbox" style="">

                            <div class="item mag" ng-class="{active:$index==0}" ng-repeat="picture in PRODUCTcontent.picture" >
                                <img class="product-item" data-toggle="magnify" src="{{picture.ProductPics}}" alt="">
                            </div>
                        </div>

                        <!-- 下方小圖 -->
                        <ul class="horizontal-slide" style="height:140px;">
                            <li class="span2" ng-repeat="picture in PRODUCTcontent.picture">
                                <a data-target="#myCarousel" data-slide-to="{{$index}}" class="thumbnail">
                                    <img src="{{picture.ProductPics}}" alt="" style="height:70px;"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="visible-xs">
                    <div class="clearfix"></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div id="rightbox" class="col-md-12 well product-short-detail">
                        <div>

                            <!--商品右邊介紹-->

                            <div class="the-list">
                                <div id="printlist" class="col-xs-12 col-md-12 col-lg-12">
                                    <h1>{{PRODUCTcontent.loaddata[0].Pname}}</h1>
                                    <h4 class="col-xs-12">產品類別：{{PRODUCTcontent.loaddata[0].Ptype}}</h4>
                                    <h4 class="col-xs-12">產品編號：P{{PRODUCTcontent.loaddata[0].Pid}}</h4>
                                    <h3 class="col-xs-12">${{PRODUCTcontent.loaddata[0].Pprice}}元</h3>
                                    <h4 class="col-xs-12">可獲得紅利點數：{{PRODUCTcontent.loaddata[0].Pdividend}}點</h4>
                                    <h4 class="col-xs-12">庫存量：{{PRODUCTcontent.loaddata[0].Pstock}}</h4>
                                </div>
                                    <button type="button" data-toggle="modal" data-target="#qrcode" class="btn btn-primary btn-sm">開啟QR CODE</button><br><br>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="printScreen(printlist)">列印此頁</button>
                            </div>

                            <!--QR CODE 視窗-->

                            <div id="qrcode" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->

                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">QR CODE</h4>
                                        </div>

                                        <div class="modal-body">
                                            <div class="col-xs-12">
                                                <img style="" src="https://api.qrserver.com/v1/create-qr-code/?size=180x180&data={{QRhref}}" />
                                            </div>
                                        </div>

                                        <div class="modal-footer" style="text-align:center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">完成</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <hr />

                            <!--數量-->
                            <div id="amount" class="input-group col-xs-4">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number " data-type="minus" data-field="quant[1]"  ng-click="quantityNumberD()">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>

                                <input type="text" name="quant[1]" class="form-control input-number text-center" ng-model="PRODUCTcaramount" disabled>

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" ng-click="quantityNumberU()">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>

                            <!--加入購物車按鈕-->
                            <div id="buy_btn" class="form-group col-md-12 ">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-4 center-block">
                                    <button ng-click="InsertShoppingCar(PRODUCTcontent.loaddata[0].Pid);" id="singlebutton" name="singlebutton" class="btn btn-default center-block">
                                        加入購物車
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 下方TAB -->
            <div class="row">
              <div class="col-xs-12  product-detail-tab">
                  <ul class="nav nav-tabs">
                      <li class="active"><a href="#preview" data-toggle="tab">產品介紹</a></li>
                      <li><a href="#stuff" data-toggle="tab">產品規格</a></li>
                      <li><a href="#review" data-toggle="tab">問與答</a></li>
                  </ul>

                  <!-- Tab 內容 -->

                  <div class="tab-content ">
                      <!--商品介紹-->
                      <div class="tab-pane active" id="preview">
                          <div class="well" id="previewcontent">
                             </div>
                      </div>

                      <!--商品規格-->

                      <div class="tab-pane" id="stuff">
                          <div class="well">
                              <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                          <td>材質</td>
                                          <td>{{PRODUCTcontent.loaddata[0].Pmaterial}}</td>
                                      </tr>
                                      <tr>
                                          <td>其他規格</td>
                                          <td>{{PRODUCTcontent.loaddata[0].Panthmaterial}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>

                      <!--留言-->

                      <div class="tab-pane" id="review">
                          <div class="well">

                              <div class="media" ng-repeat="qa in PRODUCTcontent.qa">
                                  <a class="pull-left" ng-show="qa.QAmemberid == null">
                                      <img class="media-object" width="50" height="50" alt="64x64" src="./images/userpicture.jpg">
                                  </a>
                                  <a class="pull-left" ng-show="qa.QAmemberid != null">
                                      <img class="media-object" width="50" height="50" alt="64x64" src="data:image/jpg;base64,{{qa.QApicture}}">
                                  </a>
                                  <div class="media-body">
                                      <h5 class="media-heading"><strong>{{qa.QAname}}</strong>  ({{qa.QAdate}})</h5>
                                      {{qa.QAquestion}}
                                  </div>
                                  <br>
                                  <div class="media-body" style="padding-left:60px;" ng-show="qa.QArequest != null">
                                      <h5 class="media-heading"><strong>回復:</strong>  ({{qa.QAreplytime}})</h5>
                                      {{qa.QArequest}}
                                  </div>
                              </div>

                             

                              <hr />

                              

                              <p></p>
                              <form role="form" ng-show="qalogin != 'nologin'">
                                  <h4>留言：</h4>
                                  <div class="form-group">
                                      <textarea id="MEMBERsendQAcomtent" class="form-control" rows="5" value=""></textarea>
                                  </div>
                                  <button ng-click="MEMBERsendQA();" type="submit" class="btn btn-default">送出評論</button>
                              </form>

                              <form role="form" ng-show="qalogin == 'nologin'">
                                  <h4>姓名：</h4>
                                  <div class="form-group">
                                      <input id="noMEMBERsendQAname" type="text" class="form-control" value="" >
                                  </div>
                                  <h4>電子郵件：</h4>
                                  <div class="form-group">
                                      <input id="noMEMBERsendQAemail" type="text" class="form-control" value="">
                                  </div>
                                  <h4>電話：</h4>
                                  <div class="form-group">
                                      <input id="noMEMBERsendQAphone" type="text" class="form-control" value="">
                                  </div>
                                  <h4>留言：</h4>
                                  <div class="form-group">
                                      <textarea id="noMEMBERsendQAcomtent" class="form-control" rows="5" value=""></textarea>
                                  </div>
                                  <button ng-click="noMEMBERsendQA();" type="submit" class="btn btn-default">送出評論</button>
                              </form>
                          </div>
                      </div>

                  </div>

              </div>
            </div>

            <!-- Footer -->
           
        </div>
        <!-- /.container -->
        <% include masterfooter.ejs %>
    </div>
    

</body>

</html>