﻿<!DOCTYPE html>

<html ng-app="App" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common/angular.min.js"></script>
    <script src="js/common/jquery.twzipcode.min.js"></script>
    <script src="js/index/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/index/registerController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap-theme.min-yellow.css">
    <link rel="stylesheet" type="text/css" href="css/index/register.css">

    <title>眼寶光學生技-會員註冊</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

</head>
<body ng-controller="ctrl">
    <div class="regiHeader">
        <div>
            <h2>會員註冊</h2>
        </div>
    </div>
	<br/>
	<div class="topBanner" >
		<p >訪客您好,歡迎加入眼寶科技網站會員,請填寫以下資料後送出申請,即可在網站購物。</p>
	</div>

    <div class="regiContainer">
        
        <form role="form" action="javascript:;" method="post" id="registerForm" autocomplete="off">

			<div class="form-group row">
                <label class="col-sm-2 label-style">設定帳號</label>
                <div class="col-sm-9">
                    <input type="text" name="text" id="m_account" class="form-control" placeholder="帳號" maxlength="20" value="" onblur="accountTooltip(this.id);" >
                    <p id="accmountP" class="help-block text-primary" style="color:red" hidden>請輸入6~20碼的a~z,A~Z,0~9的字元</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 label-style">設定密碼</label>
                <div class="col-sm-9">
                    <input type="password" name="password" id="m_pwd1" class="form-control" placeholder="密碼" maxlength="20" value="" onblur="pwd1Tooltip(this.id);" >
                    <p id="pwd1P" class="help-block text-primary" style="color:red" hidden>請輸入6~20碼的a~z,A~Z,0~9的字元</p>
                 </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 label-style">再次輸入密碼</label>
                <div class="col-sm-9">
                    <input type="password" name="password" id="m_pwd2" class="form-control" placeholder="確認密碼" maxlength="20" value="" onblur="pwd2Tooltip(this.id);" >
                    <p id="pwd2P" class="help-block text-primary" style="color:red">請輸入6~20碼的a~z,A~Z,0~9的字元</p>
                </div>
            </div>
			<br/>
			<h2>會員資料</h2>
			<hr />
            <div class="form-group row">
                <label class="col-sm-2 label-style">姓名:</label>
                <div class="col-sm-9">
                    <input type="text" name="text" id="m_name" class="form-control" placeholder="姓名" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 label-style">電話:</label>
                <div class="col-sm-9">
                    <input type="text" name="text" id="m_phone" class="form-control" placeholder="電話" value="">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 label-style">性別:</label>
                <div class="col-sm-9">
                    <label class="radio-inline" id="m_gender">
                        <input type="radio" name="genderRadio" id="gender0" value="0" checked> 男
                        <br />
                        <input type="radio" name="genderRadio" id="gender1" value="1"> 女
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 label-style">生日:</label>
                <div class="col-sm-9">
                    <input type="date" name="birthday" id="m_birthday" class="form-control" placeholder="出生年月日" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 label-style">信箱:</label>
                <div class="col-sm-9">
                    <input type="email" name="text" id="m_email" class="form-control" placeholder="Email" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 label-style">地址:</label>
                <div class="col-sm-9">
					 <label class="col-sm-3 label-style">郵遞區號</label>
                    <input type="text" name="text" id="m_zipcode" class="form-control" placeholder="420" value="">
                    <label class="col-sm-3 label-style">國家/地區</label>
                    <input type="text" name="text" id="m_country" class="form-control" placeholder="台灣" value="">
                    <label class="col-sm-3 label-style">縣市</label>
                    <input type="text" name="text" id="m_city" class="form-control" placeholder="台中市" value="">
					 <label class="col-sm-3 label-style">鄉鎮區</label>
                    <input type="text" name="text" id="m_township" class="form-control" placeholder="北區" value="">
					 <label class="col-sm-3 label-style">詳細地址</label>
                    <input type="text" name="text" id="m_address" class="form-control" placeholder="台中路1號3樓" value="">
                </div>
            </div>
            
            <div class="form-group validateCode">
                <table border="0">
                    <tr>
                        <td>
                            <div class="code" id="checkCode" ng-click="createCode()"></div>
                            <a ng-click="createCode()">更換驗證碼</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            驗證碼：
                            <input type="text" id="inputCode"  placeholder="請輸入驗證碼" />
                        </td>
                    </tr>

                </table>
            </div>
        </form>
        <hr>
        <div class="regiFooter">
            <a href="./" class="btn btn-default btn-lg btn-block">取消</a>
			<a  class="btn btn-default btn-lg btn-block">清除重填</a>
            <a ng-click="submit();" class="btn btn-default btn-lg btn-block">確認送出</a>
        </div>
        
    </div>
</body>
</html>