﻿<!DOCTYPE html>
<html ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>眼寶光學生技-購物車</title>
    <link rel="icon" href="./images/logo.png" type="image/x-icon">

    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <link href="./css/common/bootstrap-theme.min-yellow.css" rel="stylesheet" type="text/css" >
    <link href="./css/common/footer.css" rel="stylesheet">
    <link href="./css/shoppingCart/blogHome.css" rel="stylesheet">
    <link href="./css/shoppingCart/shoppingCart.css" rel="stylesheet">
    <script type="text/javascript" src="./js/common/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/common/angular.min.js"></script>
    <script type="text/javascript" src="./js/shoppingCart/shoppingCartController.js"></script>
    <% include masterhref.ejs %>
    <script type="text/javascript">
        function showglass(x) {
            if (x == "twouse") {
                $('#glass-prescription').show();
                $('#special').show();
                $('#glass-Remark').show();
            }
            else if (x == "near") {
                $('#glass-prescription').show();
                $('#special').show();
                $('#glass-Remark').show();
            }
            else if (x == "far") {
                $('#glass-prescription').show();
                $('#special').show();
                $('#glass-Remark').show();
            }
            else if (x == "nochouse") {
                $('#glass-prescription').hide();
                $('#special').hide();
                $('#glass-Remark').hide();
            }
        }
    </script>
</head>

<body>
    <% include master.ejs %>
    <div id="fullmenu-hide" ng-controller="carctrl">

        <section id="title">
            <h1>購物車</h1>
        </section>

        <!--購物車-->

        <section id="shopping-cart">

            <div class="container ">
                <div class="row">
                    <div class="col-xs-12">
                        <!--購物商品1-->

                        <div class="thumbnail col-xs-12" ng-repeat="item in cardata">

                            <div class="col-xs-6 col-md-2">
                                <a href="./productContent?id={{item.productid}}"><img class="img-responsive" src="./images/product/{{item.picture}}" alt=""></a>
                            </div>

                            <div class="col-xs-6 col-md-6 shop-item">
                                <h4>{{item.name}}</h4>
                                <p>產品編號:P{{item.productid}}</p>
                                <p>單價:{{item.price}}元</p>
                                <p>數量:{{item.amount}}</p>
                                <p ng-show="item.prescription == 1 && item.hypermyopia == null">眼鏡處方:未填寫</p>
                                <p ng-show="item.prescription == 1 && item.hypermyopia != null">眼鏡處方:已填寫</p>
                            </div>

                            <div class="col-xs-12 col-md-4 shop-item-option">
                                <p>小計:{{item.totalprice}}元</p>
                                <p>可獲得紅利:{{item.dividend}}點</p>
                                <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#orderForm" ng-click="openupdateamount($index);">修改數量</button>
                                <button ng-show="item.prescription == 1" class="btn btn-default" type="button" data-toggle="modal" data-target="#special-glass" ng-click="openupdateprescription($index);">修改眼鏡處方</button>
                                <button class="btn btn-danger" type="button" ng-click="deletecarprescription(item.carid);">刪除</button>
                            </div>

                        </div>


                        <div id="big-buyfooter">
                            <div class="col-md-12">
                                <p>消費總金額:{{totalprice}}元</p>
                                <p>共{{cardata.length}}項</p>
                            </div>

                            <div class="col-xs-12"><a class="btn btn-default" href="./onlineMall">繼續購物</a> <a class="btn btn-warning" ng-click="gotocheckout();">結帳</a></div>
                        </div>


                        <!--修改數量-->

                        <div id="orderForm" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">修改數量</h4>
                                    </div>

                                    <div class="modal-body">

                                        <form class="form-horizontal" role="form">

                                            <div id="quantity" class="form-group">
                                                <label class="col-sm-2 control-label">數量</label>

                                                <div id="amount" class="input-group col-xs-4">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number " data-type="minus" data-field="quant[1]" ng-click="quantityNumberD()">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>

                                                    <input id="amountinput" type="text" name="quant[1]" class="form-control input-number text-center" disabled>

                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" ng-click="quantityNumberU()">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer" style="text-align:center;">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updatecaramount();">完成</button>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <!--配鏡處方-->

                        <div id="special-glass" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">眼鏡處方</h4>
                                    </div>

                                    <div class="modal-body">

                                        <h4>眼鏡用途:</h4>

                                        <!--選擇眼鏡用途-->
                                        <div id="glasses-type">
                                            <select class="form-control " id="select-glass" onchange="showglass(this.value)">
                                                <option value="nochouse">未選擇</option>
                                                <option value="far">遠用眼鏡</option>
                                                <option value="near">近用眼鏡</option>
                                                <option value="twouse">遠近兼用</option>
                                            </select>
                                        </div>

                                        <!--遠用眼鏡-->
                                        <div id="glass-prescription">
                                            <h4>處方:</h4>
                                            <hr />
                                            <!--PD & 折射率-->
                                            <form class="form-inline" role="form">
                                                <div class="form-group">
                                                    <label for="email">PD:</label>
                                                    <input id="p_PD" class="form-control">
                                                </div>

                                            </form>
                                            <!--右眼-->
                                            <form class="form-inline right-eye" role="form">
                                                <div class="form-group ">
                                                    <label for="email">OD(右眼):</label>
                                                    <input id="p_RSPH" class="form-control" placeholder="SPH">/
                                                </div>
                                                <div class="form-group ">
                                                    <input id="p_RCYL" class="form-control"placeholder="CYL">
                                                </div>
                                                <div class="form-group ">
                                                    (<input id="p_RAX" class="form-control"placeholder="AX">)
                                                </div>
                                            </form>
                                            <!--左眼-->
                                            <form class="form-inline left-eye" role="form">
                                                <div class="form-group ">
                                                    <label for="email">OD(左眼):</label>
                                                    <input id="p_LSPH" class="form-control"placeholder="SPH">/
                                                </div>
                                                <div class="form-group ">
                                                    <input id="p_LCYL" class="form-control"placeholder="CYL">
                                                </div>
                                                <div class="form-group ">
                                                    (<input id="p_LAX" class="form-control"placeholder="AX">)
                                                </div>
                                            </form>


                                        </div>
                                        <div id="glass-Remark">
                                            <h4>備註:</h4>
                                            <hr />
                                            <textarea class="form-control" rows="3" id="Remark"></textarea>
                                        </div>

                                        <div id="special">
                                            <h4>特殊加工:</h4>
                                            <hr />
                                            <form class="form-inline" role="form">
                                                <label class="checkbox-inline" ng-repeat="item in CARloadprescription" ><input type="checkbox" ng-model="item.Checked" id="check_processid_{{item.p_processid}}">{{item.name}}({{item.amount}}元)</label>
                                            </form>

                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updatecarprescription();">完成</button>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!--小視窗結帳-->

        <nav class="navbar navbar-default navbar-fixed-bottom" id="min-buyfooter" role="navigation">


            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="gotocheckout();">結帳</button>
            <p>消費總金額:{{totalprice}}元</p>
            <p>共{{cardata.length}}項</p>

        </nav>

        <% include masterfooter.ejs %>
        <!-- /.container -->
    </div>
    
</body>


</html>
