﻿html,body{
  background-color: #ffffff !important;
}

/*大搜尋 & 文章分類*/

#big-search .search {
  background-color: #76E35F;
}

#big-search .search h4 {
  color:#0F5900;
}

#big-search .search input {
  color:#ffffff;
  background-color: #0F5900;
}

#big-search .search button {
  background-color: #0F5900;
  color: #ffffff;
}

#big-search .dateSearch{
  background-color: #76E35F;
}

#big-search .dateSearch h4{
  color:#0F5900;
}

#big-search .dateSearch input {
  color:#ffffff;
  background-color: #0F5900;
}

#big-search .list-group {
  background-color: #76E35F;
  padding: 0;
}

#big-search .list-group h4 {
  margin-top: 20px;
  margin-left: 20px;
  color:#0F5900;
}

#big-search .list-group .list-group-item {
  border: none;
  color:#0F5900;
  background-color: #76E35F;
  border-top: 1px solid #000000;
}

#big-search .list-group-item:hover{
  color:#0F5900;
  background-color: #25D500;
} 

#fullmenu-hide .container{
  margin-top:160px;
}

/*文章列表*/

#blog-list h2 {
  color: rgb(25, 25, 25);
}

#blog-list p {
  color: rgb(50, 50, 50);
}

#blog-list hr {
  color: rgb(25, 25, 25);
  background-color: rgb(25, 25, 25);
  border: solid 1px rgb(25, 25, 25);
}

#blog-list a.btn{
  color:#0F5900;
  background-color: #76E35F;
}

#blog-list .pager a{
  color:#0F5900;
  background-color: #76E35F;
}

/*圖片區*/
.my-gallery {
  width: 100%;
  float: left;
  margin:10px 0px;
}
.my-gallery img {
  width: 100%;
  height: 100px;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}

.pswp{
    height:calc(100% - 140px) !important;
    margin-top:140px !important;
}

/*影片*/
#articlevideo{
     
}