html,body{
    background-color:#ffffff !important;
}

#messagelist {
  background-color: #ffffff;
  width: 100%;
  padding-top: 50px;
  margin-top: 200px;
}

#messagelist h2 {
  text-align: center;
  color: rgb(25, 25, 25);
}

#messagelist li.list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 3px rgb(25, 25, 25);
  padding: 0;
}

#messagelist li a.list-group-item {
  background-color: #92ff8e;
  border-radius: 0;
  border: 0;
}

#messagelist li a.list-group-item:hover {
  background-color: #25D500;
}

#messagelist li a.messagenoreply{
   background-color: #25D500;
}

#messagelist li a h4 {
  color: #0F5900;
}

#messagelist li a .dateTime {
  color: #0F5900;
  padding-left:10px;
}

#messagelist li a .content {
  color: #0F5900;
  padding-left:20px;
}

#messagelist .list-group{
    padding-left:0px;
    padding-right:0px;
}

@media screen and (max-width: 768px) {
    .new-container{
        padding-left:40px !important;
        padding-right:40px !important;
    }
}
