html {
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
}

#title h1 {
    margin-top: 180px;
    text-align: center;
    font-size: 60px;
    color: rgb(25, 25, 25);
}

#services0 {
    background-color: #ffffff;
}

/*會員資料*/

#member_about {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(25, 25, 25);
    font-size: 15px;
    text-align: center;
    padding: 0 10%;
}

    #member_about > div {
        border: solid 2px #76E35F;
        padding: 10px;
    }

    #member_about a {
        font-size: 15px;
        background-color: #0F5900;
        color: #ffffff;
    }


/*紅利點數*/

#member_point {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(25, 25, 25);
    font-size: 15px;
    text-align: center;
    padding: 0 10%;
    height: 100%;
}

    #member_point > div {
        border: solid 2px #76E35F;
        padding: 10px;
        height: 100%;
        width: 100%;
    }

    #member_point p {
        font-size: 59px;
        margin-top: 50px;
    }


/*購物紀錄*/

#buyHistory {
    background-color: #ffffff;
    padding: 0px 10%;
}

    #buyHistory h2 {
        color: rgb(25, 25, 25);
    }

#buyHistory-sort {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 238, 84);
}

    #buyHistory-sort p {
        float: left;
        margin-top: 15px;
        margin-left: 10px;
        color: rgb(25, 25, 25);
    }

    #buyHistory-sort .form-group {
        padding-top: 5px;
        margin-left: 10px;
    }

        #buyHistory-sort .form-group select {
            background-color: rgb(50, 50, 50);
            border-radius: 0;
            width: 60%;
        }


/*交易紀錄*/

#buyHistory #buy-history-sort .form-control {
    background-color: #0F5900;
}

#buyHistory .new-container a {
    color: #0F5900;
}

#buyHistory table,
#health table {
    border-color: rgb(25, 25, 25);
}

    #buyHistory table th,
    #health table th {
        border-color: rgb(25, 25, 25);
        text-align: center;
        background-color: #76E35F;
        color: #0F5900;
    }

    #buyHistory table td,
    #health table td {
        border-color: rgb(25, 25, 25);
        vertical-align: middle;
        text-align: center;
    }

#buyHistory .tableDetail img {
    width: 50px;
    height: 50px;
}

#buyHistory .pager a {
    background-color: #76E35F;
    color: #0F5900;
    font-weight: bolder;
}

.hide_btn {
    display: none;
}

#healthContent .col-md-6 {
    
}
/*登入*/
#edit-modal {
    display: none;
}

#edit-modal .register{
    margin-top:20px;
}

#edit-modal .register a{
    font-size:15px;
}

.editmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: rgb(118, 227, 95);
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: "malgun gothic", simhei;
    /* 其他作業系統的字型設定請參考前述教學連結 */
}

    .editmodal-container h2 {
        text-align: center;
        color: #ffffff;
    }

    .editmodal-container .checkbox,
    .editmodal-container a {
        color: #ffffff;
    }

    .editmodal-container input {
        background-color: #ffffff;
        color: rgb(25,25,25);
    }

    .editmodal-container #btn-login {
        background-color: #0F5900;
        color: #ffffff;
        font-size: 20px;
    }
