body{
	background-color: #ffffff;
}

#choose_shop {
   margin-top: 40px;
}

#choose_shop .panel {
  background-color: #ffffff;
  border-color:#ffffff;
  border:0px;
}

#choose_shop .panel .panel-heading{
	background-color: #5AD640
}

#choose_shop .panel .panel-body{
	background-color: #76E35F
}

#choose_shop .panel select {
  background-color: #0F5900;
  margin-top: 20px;
}

#choose_shop .panel-body #sub_btn a{
  margin:30px 0px 0px 0px;
	background-color: #0F5900;
	border-color:#0F5900;
  font-size:18px;
  width:140px;
}

#country {
  margin-bottom: 20px;
}

#city {
  margin-bottom: 20px;
}

#area {
  margin-bottom: 20px;
}

#sub_btn {
  text-align: center;
}

#fullmenu-hide {
    margin-top: 150px;
}


@media screen and (max-width: 425px) {
    #fullmenu-hide {
        margin-top: 110px;
    }
}