<!--jQuery CSS PlugIn-->
<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/sumoselect.css" />
<link type="text/css" rel="stylesheet" href="css/common/jquery.steps.css" />
<link type="text/css" rel="stylesheet" href="css/common/fileinput.min.css"/>
<!--css-->
<style>
/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:10px 10px 20px 10px;
}

.rowStyle{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#addActivity{
	float:right;
	font-weight: 600;
	background-color: #8598B6;
    border-color: #898AAB;
}

#addActivity:hover{
	background-color: #677B99;
    border-color: #898AAB;
}

/*EditorBg*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
    position: fixed; 
    overflow-y: scroll;
    background: #C2CAE1 none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
    z-index: 3;
}

.overlay .fa{
    padding: 15px;
    float: right;
    margin:15px;

}

.editorBox{
    margin:10px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}

/*Selector*/
.SumoSelect .select-all{
	height: 100%;
}

/*Editor Form*/
.form-horizontal .form-group{
	margin:0px;
	margin-bottom:10px; 
}

.b-upload__dnd {
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.1);
}


.b-thumb {
    float: left;
    margin: 3px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    background-color: #fff;
}
.b-thumb__name {
    width: 80px;
    overflow: hidden;
    font-size: 12px;
}

.userpic {
    width: 200px;
    height: 200px;
    border: 2px solid rgba(0,0,0,.3);
    display: inline-block;
    position: relative;
}
/*這是影片新增教學按鈕*/
#addScreenRecordBtn{
    background-color: #72bdd5;
    border-color: #86c3d5;
    margin-left: 5px;
    padding: 2px 13px 2px 10px;
    font-weight: 700;
    border-radius: 15px;
}

    #addScreenRecordBtn:hover {
        background-color: #4d94ab;
    }
    #addScreenRecordBtnS {
        padding-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-top: 5px;
    }
</style>



<!--Html-->
<div>
    <!--Main Page-->
    <div>
        <h4 class="header-text">活動消息 Activity Management</h4>
        <div class="row rowStyle">
    		<button type="button" class="btn btn-info" id="addActivity"><i class="fa fa-file-text"></i>  新增活動消息</button>
    	</div>

    	<!--Table-->
        <div class="table-responsive">        
            <table class="table table-striped" id="newsGrid">
            </table>
        </div>
    </div>

    <!--Show Contents-->
    <div class="overlay hide">
        <div class="popup">
        
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            
            <div class="editorBox">            
                <h4 class="header-text">活動消息 Publish an Activity (有*欄位為必填資料)</h4> 

                <form class="form-horizontal" id="formExample" data-validate="parsley" novalidate>
                    <div id="formWizard" class="light-background">
                        <h2>活動標題</h2>
                         <section>
                             <div class="padding-md">

                                 <div class="form-group">
                                     <label>活動標題*:</label>
                                     <div>
                                         <div id="container_image"></div>
                                         <input id="title" type="text" class="form-control" required="">
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <label>封面照片*:</label>
                                         <div>
                                             <div id="SETIMG"></div>
                                             <input id="A_uploadCoverImg" name="A_uploadCoverImg" type="file" multiple class="file-loading">
                                             <div id="errorBlock" class="help-block"></div>
                                         </div>
                                 </div>
                             </div>
                        </section>


                        <h2>活動內容</h2>
                        <section>
                            <div class="padding-md">

                                <div class="form-group">
                                    <label>影片網址:
                                        <button type="button" class="btn btn-info" id="addScreenRecordBtn" data-toggle="modal" data-target="#videoModal">
                                            +<i class="fa fa-file-text-o" id="addScreenRecordBtnS"></i>
                                        </button></label>
                                    <div>
                                        <input id="video" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>活動內容*:</label>
                                    <div><textarea name="editor"></textarea></div>                      
                                </div>
                                                   
                            </div>
                        </section>

                        <h2>照片區</h2>
                        <section>
                            <div id="pictureplace" class="padding-md">
                                <div class="form-group">
                                    <input type="button" class="form-control" style="background-color:#E9F6E9" id="updateActivityImg" value="查看已有照片">
                                </div>
                                <div class="form-group">
                                    <label>照片上傳(每次上傳以50張為限)</label>
                                    <div>
                                        <input id="uploadActivityImg" name="uploadActivityImg" type="file" multiple class="file-loading">
                                        <div id="errorBlock" class="help-block"></div>
                                    </div>
                                </div>

                            </div>
                        </section>
                                           
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(110, 185, 210);">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">影片張貼教學</h4>
                </div>
                <div class="modal-body">
                    <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#videoModal" data-slide-to="0" class="active"></li>
                            <li data-target="#videoModal" data-slide-to="1"></li>
                            <li data-target="#videoModal" data-slide-to="2"></li>
                        </ol>

                        div class="carousel-inner" role="listbox">
                            <div class="item active">-->
                    <img style="width:100%;" src="./images/1.jpg">
                    <img style="width:100%;" src="./images/2.jpg">
                                <!--<div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="./images/2.jpg" >
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="./images/3.jpg" >
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#videoModal" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#videoModal" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myExistedTypeStack" class="modal fade" role="dialog" style="z-index:2000;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(110, 185, 210);">
                    <button type="button" class="existedLevelBtn close">&times;</button>
                    <h4 class="modal-title">照片區</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">已有照片:</label>
                        <!--Table-->
                        <div class="table-responsive">
                            <table class="table table-striped" id="imgGrid"></table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="existedLevelBtn btn btn-info">確定</button>
                </div>

            </div>
        </div>
    </div>
</div>	




<!-- jQuery JS PlugIn -->
<script src="js/common/jsgrid.min.js"></script>
<script src="js/common/parsley.min.js"></script>
<script src='js/common/jquery.steps.min.js'></script>
<script src="js/common/jquery.sumoselect.min.js"></script>
<script src="js/common/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="js/common/fileinput.min.js"></script>
<!--javascript-->
<script>
    var a_id = '';
    var time = '';
    /*Datas of Table For Member Info*/
    $(function () {
        $.ajax({
            type: "GET",
            url: "./activityManagementapi/activityload",
            data: '',
            dataType: "json"
        }).done(function (result) {
            for (var i in result) {
                result[i].activityDate = new Date(result[i].activityDate).toLocaleDateString();
            }
            $("#newsGrid").jsGrid({
                width: "100%",

                //Functions
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                rowClick: function () { },
                pageSize: 5,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./activityManagementapi/activitydelete",
                        data: { 'id': args.item.activityID },
                        dataType: "json"
                    });
                },

                //Data
                controller: {
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./activityManagementapi/activityupdatePublish",
                            data: item,
                            dataType: "json"
                        });
                    }
                },
                data: result,

                //Fields
                fields: [
                    { name: "activityDate", title: "發布日期", type: "text", width: 150, align: "center", editing: false },
                    { name: "activityTitle", title: "活動標題", type: "text", width: 350, editing: false },
                    {
                        name: "activityImgSrc", title: "封面照片",
                        itemTemplate: function (val, item) {
                            return $("<img>").attr("src", './images/activity/'+val);
                        }, align: "center", width: 250
                    },
                    { name: "activityView", title: "點擊次數", type: "text", width: 120, align: "center", editing: false },
                    { name: "activityPublish", type: "checkbox", title: "發布", width: 120 },
                    {
                        name: "activityEdit", title: "內容編輯", width: 110, align: "center",
                        itemTemplate: function (_, item) {
                            return $("<button>").text('編輯')
                                   .css('background', '#9EA6CC')
                                   .css('border', '1px solid #898AAB')
                                   .css('border-radius', '3px')
                                   .css('color', 'white')
                                   .css('text-align', 'center')
                                   .on("click", function () {
                                       $(".overlay").removeClass("hide");
                                       $(document.body).addClass("no-scroll");
                                       $('#selectTypeBox').val(item.activityDate);
                                       $("#title").val(item.activityTitle);
                                       $('#SETIMG').html("<img style='height:160px' src='./images/activity/" + item.activityImgSrc + "'>");
                                       $('#SETIMG').val(item.activityImgSrc);
                                       $("#video").val(item.activityVideo);
                                       CKEDITOR.instances.editor.setData(item.activityArticle);
                                       a_id = item.activityID;
                                       time = item.activityDate;
                                       $("#pictureplace").show();
                                   });
                        }
                    },
                    { type: "control" }
                ]
            });
        });

    });


/*Close or Open Member Record*/
$(function ()   {
    $('#addActivity').on('click', function () {
        $(".overlay").removeClass("hide");
        $(document.body).addClass("no-scroll");
        $("#pictureplace").hide();
        a_id = '';
        time = '';
        $("#title").val('');
        $('#SETIMG').html('');
        $('#SETIMG').val('');
        $("#video").val('');
        CKEDITOR.instances.editor.setData('');
    });

    $('.overlay .fa').on('click', function () {
        $(".overlay").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

});


/*Steps*/
$(function ()   {
    $("#formWizard").steps({
        headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) { 
                            if(newIndex > currentIndex) { 
                                if($('#formExample').parsley().validate('step' + newIndex)) {
                                    return true;
                                }
                                else    {
                                    return false;
                                }
                            }
                            else    {
                                return true;
                            }                      
        },
        onFinished: function (event, currentIndex) { 
                            if ($("#title").val() == '') {
                                alert('標題未填寫');
                            }
                            else if ($('#SETIMG').val() == '') {
                                alert('照片未新增');
                            }
                            else {
                                if (a_id == '') {
                                    $.ajax({
                                        type: "POST",
                                        url: "./activityManagementapi/activityinsert",
                                        data: {
                                            'title': $("#title").val(),
                                            'images': $('#SETIMG').val(),
                                            'video': $("#video").val(),
                                            'content': CKEDITOR.instances.editor.getData()
                                        },
                                        dataType: "json"
                                    }).done(function (result) {
                                        window.open('./article?type=ACTIVITY&id=' + result, '_blank', 'PopUp');
                                        window.location.reload();
                                    });
                                    $(".overlay").addClass("hide");
                                    $(document.body).removeClass("no-scroll");
                                }
                                else {
                                    $.ajax({
                                        type: "POST",
                                        url: "./activityManagementapi/activityupdate",
                                        data: {
                                            'id': a_id,
                                            'time':time,
                                            'title': $("#title").val(),
                                            'images': $('#SETIMG').val(),
                                            'video': $("#video").val(),
                                            'content': CKEDITOR.instances.editor.getData()
                                        },
                                        dataType: "json"
                                    }).done(function (result) {
                                        window.open('./article?type=ACTIVITY&id=' + a_id, '_blank', 'PopUp');
                                        window.location.reload();
                                    });
                                    $(".overlay").addClass("hide");
                                    $(document.body).removeClass("no-scroll");
                                }
                            }
        }
    });
});


/*Selector*/
$(document).ready(function() {
    $('.SlectBox').SumoSelect({ csvDispCount: 3});
});


/*CoverImg Upload*/
$("#A_uploadCoverImg").fileinput({
    uploadUrl: "./activityManagementapi/insertpic",
    uploadAsync: true,
    maxFileCount: 1,
    dropZoneTitle: '請拖曳或新增一張1920*1080的照片',
    allowedFileExtensions: ["jpg", "gif", "png"]
});

$("#A_uploadCoverImg").on("fileuploaded", function (event, data) {
    $('#SETIMG').html("<img style='height:160px' src='./images/activity/" + data.response.name + "'>");
    $('#SETIMG').val(data.response.name);
});

/*Editor*/
$(function ()   {
    CKEDITOR.replace( 'editor',{
        toolbar:  [ ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'],
                    [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],
                    [ 'SelectAll', '-', 'Scayt' ],[ 'Link', 'Unlink', 'Anchor' ],[ 'Maximize', 'ShowBlocks' ],[ 'About' ],
                    [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],
                    [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],                   
                    [ 'Image', 'Flash', '-','Table', 'HorizontalRule','-', 'Smiley', 'SpecialChar'],
                    [ 'Styles', 'Format', 'Font', 'FontSize' ],
                    [ 'TextColor', 'BGColor' ]]
    });
});



/*KnowledgeImg Upload*/
$("#uploadActivityImg").fileinput({
    uploadUrl: "./activityManagementapi/insertpicplace",
    uploadAsync: true,
    maxFileCount: 50,
    dropZoneTitle: '請拖曳或新增1920*1080的照片，一次最多50張',
    allowedFileExtensions: ["jpg", "gif", "png"]
});
$("#uploadActivityImg").on("fileuploaded", function (event, data) {
    $.ajax({
        type: "POST",
        url: "./activityManagementapi/imagesinsert",
        data: {
            'id': a_id,
            'images': data.response.name
        },
        dataType: "json"
    }).done(function (result) {

    });
});

$('#updateActivityImg').on('click', function () {
    $('#myExistedTypeStack').modal('show');
    $.ajax({
        type: "POST",
        url: "./activityManagementapi/pictureload",
        data: { 'id': a_id },
        dataType: "json"
    }).done(function (result) {
        console.log(result);
        $("#imgGrid").jsGrid({

            height: 400,
            width: "100%",

            //Functions 
            editing: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 10,
            pageButtonCount: 10,
            deleteConfirm: "確定刪除這筆資料?",
            onItemDeleted: function (args) {
                $.ajax({
                    type: "POST",
                    url: "./activityManagementapi/activitydeletepic",
                    data: { 'id': args.item.pictureid },
                    dataType: "json"
                });
            },
            data: result,
            //Fields
            fields: [
                 { name: "activityPics", title: "圖片名稱", type: "text", width: 300, align: "center", editing: false },
                {
                    name: "activityPics", title: "圖片預覽",
                    itemTemplate: function (val, item) {
                        return $("<img>").attr("src", "./images/activityPIC/" + val);
                    }, align: "center", width: 250
                },
                { type: "control", editButton: false }
            ]
        });
    });
});
$('.existedLevelBtn').on('click', function () {
    $('#myExistedTypeStack').modal('hide');
});
</script>
