<!--CSS-->
<link rel="stylesheet" type="text/css" href="css/common/jquery-jvectormap-2.0.3.css">

<style>
	/*Box*/
	.miniBox{
		min-height: 80px;
		padding: 20px 10px 20px 20px;
		margin-bottom: 20px;
		background-color: #FFFFFF;
		border: 2px solid transparent;
		border-radius: 3px;
		box-shadow: 0 1px 1px #C1C1C1;
	}

	.boxIcon{
		display: block;
	    float: left;
	    margin:0px 20px 0px 10px;
	    padding-top: 20px;
	    width: 65px;
	    height: 65px;
	    line-height: 65px;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 35px;
	    color: #fff;
	}

	.boxInfo p{
		margin: 0px;
		color:#949495;;
		font-weight: 600;
	}

	/*Bar Chart*/
	.charBox{
		margin-bottom: 20px;
		padding: 2px;
		background-color: #FFFFFF;
		border: 2px solid transparent;
		border-radius: 3px;
		box-shadow: 0 1px 1px #C1C1C1;
		color:#656361;
		font-weight: 600;
	}

	.charTitle{
		padding: 5px 10px 10px 10px;
		border-radius: 3px;
		font-size: 15px;
	}

	.chatInfo{
		padding: 20px;
	}
</style>


<!--Html-->
<div>

	<!--Box Info-->
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="miniBox">
				<span class="boxIcon" style="background-color:#43C673;">
					<i class="fa fa-rocket"></i>
				</span>
				<div class="boxInfo">
					<p><span style="font-size:32px" id="branchcount"></span></p>
					<p>分店總數 Growth</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="miniBox">
				<span class="boxIcon" style="background-color:#2EC1CC;">
					<i class="fa fa-users"></i>
				</span>
				<div class="boxInfo">
					<p><span style="font-size:32px" id="membercount"></span></p>
					<p>會員人數 Member</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="miniBox">
				<span class="boxIcon" style="background-color:#F8C83F;">
					<i class="fa fa-usd"></i>
				</span>
				<div class="boxInfo">
					<p><span style="font-size:32px" id="saletotal"></span></p>
					<p>公司營利 Profit</p>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="miniBox">
				<span class="boxIcon" style="background-color:#ea7317;">
					<i class="fa fa-shopping-cart"></i>
				</span>
				<div class="boxInfo">
					<p><span style="font-size:32px" id="salecount"></span></p>
					<p>交易次數 Sales</p>
				</div>
			</div>
		</div>
	</div>

	<!--Bar Chart And Map-->
	<div class="row">
		<div class="col-md-7">
			<div class="charBox" id="printlist">
				<div class="charTitle" style="background-color: #C8F0CC;border-top: 2px solid #B0D891;">
					近月營運報告 Monthly Report
				</div>
				<div class="chatInfo" >
					<div class="col-md-3" style="padding-bottom:5px">
						<select id="BarChartConpany" class="form-control">
						  <option value="0">所有分店</option>
                          <option value="-1">網路購物</option>
						  <option ng-repeat="item in BarChartConpany" value="{{item.c_id}}">{{item.name}}</option>
						</select>
					</div>

					<div class="col-md-3" style="padding-bottom:5px">
						<select id="BarChartType" class="form-control">
						  <option value="0">總類別</option>
                           <option ng-repeat="item in BarChartType" value="{{item.t_id}}">{{item.name}}</option>
						</select>
					</div>

					<!--<div class="col-md-3" style="padding-bottom:5px">
						<input class="btn btn-default" type="button" value="列印" onclick="printScreen(printlist)">
					</div>-->
                    <div id="graph-container">
                        <canvas id="myBarChart"></canvas>
                    </div>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="charBox">
				<div class="charTitle" style="background-color: #C8F0CC;border-top: 2px solid #B0D891;">
					公司分布 Company Location
				</div>
				<div class="chatInfo"><div id="companyWorldMap" style="height:50%"></div></div>
			</div>
		</div>
	</div>

	<!--DonutChart And Prize And LineChart-->
	<div class="row">
		<div class="col-md-4">
			<div class="charBox">
				<div class="charTitle" style="background-color: #C8F0CC;border-top: 2px solid #B0D891;">
					售出商品類別 Sales Report
				</div>
				<div class="chatInfo" style="min-height:200px;">
					<canvas id="myDonutChart"></canvas>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="charBox">
				<div class="charTitle" style="background-color: #C8F0CC;border-top: 2px solid #B0D891;">
					最佳銷售商品 Best Sales 
				</div>
				<div class="chatInfo"  style="height:200px;">
					<div class="table-responsive">          
						<table class="table">
						    <thead>
						      <tr>
						        <th>#</th>
                                <th>商品編號</th>
						        <th>商品品名</th>
						        <th>售出數量</th>
						        <th>觀看次數</th>
						      </tr>
						    </thead>

						    <tbody>

						      <tr ng-repeat="item in BestSales">
						        <td>{{$index+1}}</td>
                                <td>P{{item.p_id}}</td>
						        <td>{{item.name}}</td>
						        <td>{{item.count}}</td>
						        <td>{{item.click}}</td>
						      </tr>				
                                      
						    </tbody>

					  	</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="charBox">
				<div class="charTitle" style="background-color: #C8F0CC;border-top: 2px solid #B0D891;">
					瀏覽人次 Visitors
				</div>
				<div class="chatInfo">
					<canvas id="myLineChart"></canvas>
				</div>
			</div>
		</div>
	</div>

</div>


<!--javascript-->
<script type="text/javascript" src="js/common/Chart.min.js"></script>
<script type="text/javascript" src="js/common/jquery-jvectormap-2.0.3.min.js"></script>
<script type="text/javascript" src="js/common/jquery-jvectormap-world-mill-en.js"></script>

<script>
    /*Bar Chart*/
    
    $(function () {
        $.ajax({
            type: "GET",
            url: "./analysisManagementapi/membercount",
            dataType: "json"
        }).done(function (result) {
            $('#membercount').html(result.count+'人');
        });
        $.ajax({
            type: "GET",
            url: "./analysisManagementapi/salecount",
            dataType: "json"
        }).done(function (result) {
            $('#salecount').html(result.count+'次');
        });
        $.ajax({
            type: "GET",
            url: "./analysisManagementapi/saletotal",
            dataType: "json"
        }).done(function (result) {
            $('#saletotal').html(result.total);
        });
        $.ajax({
            type: "GET",
            url: "./analysisManagementapi/branchcount",
            dataType: "json"
        }).done(function (result) {
            $('#branchcount').html(result.count+'間');
        });
    });
    $(function () {
        var myBarChart;
        function BDateAdd(interval, number, date) {
            switch (interval) {
                case "m ": {
                    date.setMonth(date.getMonth() + number);
                    return date;
                    break;
                }
                default: {
                    date.setDate(d.getDate() + number);
                    return date;
                    break;
                }
            }
        }
        loadBviews(0, 0);
        $('#BarChartConpany').change(function () {
            loadBviews($("#BarChartConpany").find(":selected").val(), $("#BarChartType").find(":selected").val())
        });
        $('#BarChartType').change(function () {
            loadBviews($("#BarChartConpany").find(":selected").val(), $("#BarChartType").find(":selected").val())
        });
        var barChartData;
        function loadBviews(c_idval, t_idval) {
            var Bmonth = new Array();
            var Bviewsnum = new Array();
            var Btotalnum = new Array();
            var dt = new Date();
            var newDate, yearnum, monthnum;
            newDate = BDateAdd("m ", -7, dt);
            for (var i = 0 ; i <= 6 ; i++) {
                newDate = BDateAdd("m ", 1, dt);
                yearnum = newDate.getFullYear();
                monthnum = (newDate.getMonth() + 1);
                if (monthnum / 10 < 1) { monthnum = '0' + monthnum; }
                Bmonth[i] = yearnum + "-" + monthnum;
            }
            Bviews(0, c_idval, t_idval);
            function Bviews(j, c_id, t_id) {
                $.ajax({
                    type: "POST",
                    url: "./analysisManagementapi/BarChart",
                    data: { 'month': Bmonth[j], 'c_id': c_id, 't_id': t_id },
                    dataType: "json"
                }).done(function (result) {
                    Bviewsnum[j] = result.num;
                    Btotalnum[j] = result.total;
                    if (j <= 5) { Bviews(j + 1, c_id, t_id) }
                    else {
                         barChartData = {
                            labels: Bmonth,
                            datasets: [
                                {
                                    label: "My First dataset",
                                    fillColor: "rgba(220,220,220,0.5)",
                                    strokeColor: "rgba(220,220,220,0.8)",
                                    highlightFill: "rgba(220,220,220,0.75)",
                                    highlightStroke: "rgba(220,220,220,1)",
                                    data: Btotalnum
                                },
                                {
                                    label: "My Second dataset",
                                    fillColor: "rgba(151,187,205,0.5)",
                                    strokeColor: "rgba(151,187,205,0.8)",
                                    highlightFill: "rgba(151,187,205,0.75)",
                                    highlightStroke: "rgba(151,187,205,1)",
                                    data: Bviewsnum
                                }
                            ]
                         };
                        var barChartoptions = {
                            responsive: true
                        };
                        //var ctx = $("#myBarChart").get(0).getContext("2d");
                        //myBarChart = new Chart(ctx).Bar(barChartData, barChartoptions);
                        $('#myBarChart').remove(); // this is my <canvas> element
                        $('#graph-container').append('<canvas id="myBarChart"><canvas>');
                        var ctx = $("#myBarChart").get(0).getContext("2d");
                        myBarChart = new Chart(ctx).Bar(barChartData, barChartoptions);
                    }
                });
            }
        }
	});

	/*Company Location Map*/
	$(function () {
	    $.ajax({
	        type: "GET",
	        url: "./analysisManagementapi/branchlocation",
	        dataType: "json"
	    }).done(function (result) {
	        var addressdata = result;
	        var addresslocation = new Array();//addressdata.length
	        getlocation(0);
	        function getlocation(i) {
	            $.ajax({
	                type: "POST",
	                url: "./analysisManagementapi/location",
	                data: { 'c_name': addressdata[i].c_name, 'address': addressdata[i].zipcode + addressdata[i].county + addressdata[i].district + addressdata[i].address, 'i': i },
	                dataType: "json"
	            }).done(function (result) {
	                addresslocation[result.i] = { latLng: [result.lat, result.lng], name: result.c_name };
	                if (result.i == addressdata.length -1) {
	                    $('#companyWorldMap').vectorMap({
	                        map: 'world_mill_en',
	                        scaleColors: ["#ffee93", '#ffee93'],
	                        normalizeFunction: 'polynomial',
	                        hoverOpacity: 0.7,
	                        hoverColor: false,
	                        hoverSize: 20,
	                        markerStyle: {
	                            initial: {
	                                fill: '#F8E23B',
	                                stroke: '#383f47'
	                            }
	                        },
	                        backgroundColor: '#a0ced9',
	                        markers: addresslocation
	                    });
	                } else {  getlocation(parseInt(result.i) + 1); }
	            });
	        }
	        
	    });
    });

    /*Donut Chart*/
	$(function () {
	    $.ajax({
	        type: "GET",
	        url: "./analysisManagementapi/salePftype",
	        dataType: "json"
	    }).done(function (result) {
	        var donutChartData = result;

	        var donutChartoptions = {
	            responsive: true
	        };

	        var ctx = $("#myDonutChart").get(0).getContext("2d");
	        var myDonutChart = new Chart(ctx).Doughnut(donutChartData, donutChartoptions);

	    });
		
	});

	/*Line Chart*/
	$(function () {
	    function DateAdd(interval, number, date) {
	        switch (interval) {
	            case "m ": {
	                date.setMonth(date.getMonth() + number);
	                return date;
	                break;
	            }
	            default: {
	                date.setDate(d.getDate() + number);
	                return date;
	                break;
	            }
	        }
	    }
	    var month = new Array();
	    var viewsnum = new Array();
	    var dt = new Date();
	    var newDate, yearnum, monthnum;
	    newDate = DateAdd("m ", -7 , dt);
	    for (var i = 0 ; i <= 6 ; i++) {
	        newDate = DateAdd("m ", 1 , dt);
	        yearnum = newDate.getFullYear();
	        monthnum = (newDate.getMonth() + 1);
	        if (monthnum / 10 < 1) { monthnum = '0' + monthnum; }
	        month[i] = yearnum + "-" + monthnum;
	    }
	    views(0);
	    function views(j){
	        $.ajax({
	            type: "POST",
	            url: "./analysisManagementapi/loadviews",
	            data: { 'month': month[j] },
	            dataType: "json"
	        }).done(function (result) {
	            viewsnum[j] = result.num;
	            if (j <= 5) { views(j + 1) }
	            else {
	                var lineChartData = {
	                    labels: month,
	                    datasets: [
                            {
                                label: "My First dataset",
                                fillColor: "rgba(51,187,205,0.2)",
                                strokeColor: "rgba(51,187,205,1)",
                                pointColor: "rgba(51,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(51,187,205,1)",
                                data: viewsnum
                            }
	                    ]
	                };

	                var lineChartoptions = {
	                    responsive: true
	                };

	                var ctx = $("#myLineChart").get(0).getContext("2d");
	                var myLineChart = new Chart(ctx).Line(lineChartData, lineChartoptions);
	            }
	        });
	    }
		
	});
</script>