<!--jQuery PlugIn-->
<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/fileinput.min.css"/>



<!--CSS-->
<style>
/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:10px 10px 30px 10px;
}

.rowStyle{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#addBranch{
	float:right;
	font-weight: 600;
	background-color: #9086C2;
	border-color: #A182D4;
}

#addBranch:hover{
	background-color: #786CB4;
    border-color: #D49382;
}

.highlight td {
  background: #FFE5D9;
}

/*Record*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
	position: fixed; 
	overflow-y: scroll;
    background: #AEACD1 none repeat scroll 0% 0%;   
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
    z-index: 3;
}

.overlay .fa{
    padding: 15px;
    float: right;
    margin:15px;

}

.overlayBox{
    margin:13px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}

/*New Branch Form*/
.form-horizontal .form-group{
    margin:0px;
    margin-bottom:10px; 
}

.label-style{
    text-align: center;
}

#saveBranchInfoBtn{
    float: right;
    background-color: #ABA6E3;
	border-color: #AE92DB;
    font-weight: 600;
    color:#FFFFFF;
}

#saveBranchInfoBtn:hover{
    background-color: #8C86CB;
    border-color: #AE92DB;
}

#twzipcode select,#twzipcode input{
    margin: 0px 10px 5px 0px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-horizontal .form-group{
	margin:0px;
	margin-bottom:10px; 
}
</style>



<!--Html-->
<div>
	<!--Main Page-->
	<div>
		<h4 class="header-text">分店管理 Branch Management</h4>
	
		<div class="row rowStyle">
	        <button type="button" class="btn btn-info" id="addBranch"><i class="fa fa-building-o"></i>新增分店</button>
	    </div>

		<div class="table-responsive">		
			<table class="table table-striped" id="jsGrid">
			</table>
		</div>
	</div>

	<!--Show Contents:New Branch-->
	<div class="overlay hide" id="overlayNewBranch">
		<div class="popup">
	        <a href=""><i class="fa fa-times fa-lg"></i></a>
	        
	        <div class="overlayBox">            
	            <h4 class="header-text">分店管理 Branch Management</h4>           
	             <from class="form-horizontal" role="form">

	             	<div class="form-group" id="branchtype">
	                    <label class="col-sm-3 label-style">公司種類:</label>
	                    <div class="col-sm-3">
							<label class="radio-inline" id="branchtype">
                                <input type="radio" name="storeTypeRadio" id="branchtype0" value="0"> 總公司
                                <br />
							 	<input type="radio" name="storeTypeRadio" id="branchtype1" value="1"> 旗艦店
                                <br/>
                                <input type="radio" name="storeTypeRadio" id="branchtype2" value="2"> 加盟店
							</label>
						</div>
	                </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">公司代碼:</label>
	                    <div class="col-sm-9">
	                        <input id="No" type="text" class="form-control" disabled>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">公司名稱:</label>
	                    <div class="col-sm-9">
	                        <input id="Name" type="text" class="form-control" placeholder="請輸入公司名稱">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">公司電話:</label>
	                    <div class="col-sm-9">
	                        <input id="Phone" type="text" class="form-control" placeholder="請輸入公司電話">
	                    </div>
	                </div>

                    <div class="form-group" id="addresstype">
                        <label class="col-sm-3 label-style">地址種類:</label>
                        <div class="col-sm-3">
                            <label class="radio-inline" id="addresstype">
                                <input type="radio" name="addressTypeRadio" id="addresstype0" value="0"> 台灣地區
                                <br />
                                <input type="radio" name="addressTypeRadio" id="addresstype1" value="1"> 其他地區
                            </label>
                        </div>
                    </div>

	                <div class="form-group" id="taiwanaddressbox">
	                    <label class="col-sm-3 label-style">公司地址:</label>
	                    <div class="col-sm-9">
                            <div id="twzipcode"></div>
	                        <input id="Address" type="text" class="form-control" placeholder="請輸入路名及門牌號碼ex:三民路1號">
	                    </div>
	                </div>

                    <div class="form-group" id="otheraddressbox">
                        <label class="col-sm-3 label-style">公司地址:</label>
                        <div class="col-sm-9">
                            <input id="o_zipcode" type="text" class="form-control" placeholder="請輸入郵遞區號ex:420">
                            <input id="o_county" type="text" class="form-control" placeholder="請輸入城市ex:台中市">
                            <input id="o_district" type="text" class="form-control" placeholder="請輸入鄉鎮ex:北區">
                            <input id="o_address" type="text" class="form-control" placeholder="請輸入路名及門牌號碼ex:三民路1號">
                        </div>
                    </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">公司信箱:</label>
	                    <div class="col-sm-9">
	                        <input id="Email" type="email" class="form-control" placeholder="請輸入公司信箱">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">管理帳號:</label>
	                    <div class="col-sm-9">
	                        <input id="Id" type="text" class="form-control" placeholder="請輸入公司帳號">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">管理密碼:</label>
	                    <div class="col-sm-9">
	                        <input id="Pwd1" type="password" class="form-control" placeholder="請輸入密碼">
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">再次密碼確認:</label>
	                    <div class="col-sm-9">
	                        <input id="Pwd2" type="password" class="form-control" placeholder="請再次輸入密碼">
	                    </div>
	                </div>

	                <div class="form-group">
		            	<label class="col-sm-3 label-style">圖片上傳:</label>
		            	<div class="col-sm-9" style="display: block;margin-top: 0em;">
                            <div id="SETIMG"></div>
                            <input id="uploadBranchCoverImg" name="uploadBranchCoverImg" type="file" multiple class="file-loading">
                            <div id="errorBlock" class="help-block"></div>              
						</div>
		            </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">權限設定:</label>
	                    <div class="col-sm-3">
							<label class="radio-inline" id="branchpost">
                                <input type="radio" name="postRadio" id="branchpost1" value="1"> 可張貼文章
                                <br />
							 	<input type="radio" name="postRadio" id="branchpost0" value="0"> 不可張貼文章
                                <br/>
							</label>
						</div>
	                </div>

	                <div class="form-group">
	                    <label class="col-sm-3 label-style">使用狀態:</label>
	                    <div class="col-sm-3">
							<label class="radio-inline" id="branchstop">
							 	<input type="radio" name="stopRadio" id="branchstop0" value="0"> 開啟
                                <br/>
                                <input type="radio" name="stopRadio" id="branchstop1" value="1"> 停用
							</label>
						</div>
	                </div>

	                 <div class="form-group">
	                    <div class="col-sm-offset-3 col-sm-9">
	                      <button type="submit" class="btn btn-default" id="saveBranchInfoBtn">儲存資料</button>
	                    </div>
	                </div>
	            </from>
	        </div>
	    </div> 
	</div>
	
</div>



<!--Javascript-->
<script type="text/javascript" src="js/common/jsgrid.min.js"></script>
<script src="js/common/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="js/common/fileinput.min.js"></script>


<script>
    $.ajax({
        type: "GET",
        url: "./branchManagementapi/branches",
        data: '',
        dataType: "json"
    }).done(function (result) {
        $("#jsGrid").jsGrid({

            width: "100%",

            //Functions
            filtering: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 10,
            pageButtonCount: 5,
            deleteConfirm: "確定刪除這筆資料?",
            deleteConfirm: function(item) {
                return "確定刪除 \"" + item.No + "\" 這筆資料?";
            },
            onItemDeleted: function (args) {
                $.ajax({
                    type: "POST",
                    url: "./branchManagementapi/deleteItem",
                    data: { 'id': args.item.dataid, 'account': args.item.Id },
                    dataType: "json"
                });
            },
            controller: {
                loadData: function (filter) {
                    return $.grep(result, function (branch) {
                        return (!filter.No || branch.No.indexOf(filter.No) > -1)
                            && (!filter.Type || branch.Type === filter.Type)
                            && (!filter.Name || branch.Name.indexOf(filter.Name) > -1)
                            && (!filter.Phone || branch.Phone.indexOf(filter.Phone) > -1)
                            && (!filter.Address || branch.Address.indexOf(filter.Address) > -1)
                            && (!filter.Id || branch.Id.indexOf(filter.Id) > -1)
                    });
                }
            },
            //Data
            fields: [
                { name: "No", title: "公司代碼", type: "text", width: 100 * 1.4, align: "center", editing: false },
                {
                    name: "ImgSrc", title: "公司圖片",
                    itemTemplate: function (val, item) {
                        return $("<img>").attr("src", './images/branch/'+val);
                    }, align: "center", width: 200
                },
                {
                    name: "Type", title: "公司種類", type: "select",
                    items: [{ Type: "所有種類", TypeId: 0 }, { Type: "總公司", TypeId: 1 }, { Type: "旗艦店", TypeId: 2 }, { Type: "加盟店", TypeId: 3 }],
                    valueField: "TypeId", textField: "Type", width: 120 * 1.4, editing: false
                },
                { name: "Name", title: "公司名稱", type: "text", width: 120 * 1.4 },
                { name: "Phone", title: "公司電話", type: "text", width: 120 * 1.4, align: "center" },
                { name: "Address", title: "公司地址", type: "text", width: 250 * 1.4 },
                { name: "Email", title: "公司信箱", type: "text", width: 250 * 1.4 },
                { name: "Id", title: "管理帳號", type: "text", width: 150 * 1.4 },
                { name: "Pwd", title: "管理密碼", type: "text", width: 150 * 1.4 },
                { name: "Post", type: "checkbox", title: "張貼文章", sorting: true, width: 100 * 1.4 ,filtering: false},
                { name: "Stop", type: "checkbox", title: "停用", width: 100 * 1.4, filtering: false },
                {
                    name: "Edit", title: "分店編輯", width: 100 * 1.4, align: "center",
                    itemTemplate: function (_, item) {
                        return $("<button>").text('編輯')
                               .css('background', '#9086C2')
                               .css('border', '1px solid #9076C2')
                               .css('border-radius', '3px')
                               .css('color', 'white')
                               .css('text-align', 'center')
                               .on("click", function () {
                                   $(".overlay").removeClass("hide");
                                   $(document.body).addClass("no-scroll");
                                   if (item.No == '#1') {
                                       $('#branchtype1').hide();
                                       $('#branchtype2').hide();
                                       $('#branchpost0').hide();
                                       $('#branchstop1').hide();
                                   }
                                   else {
                                       $('#branchtype1').show();
                                       $('#branchtype2').show();
                                       $('#branchpost0').show();
                                       $('#branchstop1').show();
                                   }
                                   $('#No').val(item.No);
                                   $('#branchtype' + (item.Type - 1)).prop("checked", 1);
                                   $('#SETIMG').html("<img style='height:160px' src='./images/branch/" + item.ImgSrc + "'>");
                                   $('#SETIMG').val(item.ImgSrc);
                                   $('#Name').val(item.Name);
                                   $('#Phone').val(item.Phone);
                                   $('#Email').val(item.Email);
                                   $('#Id').val(item.Id);
                                   $('#Pwd1').val(item.Pwd);
                                   $('#Pwd2').val(item.Pwd);
                                   $('#branchpost' + (item.Post)).prop("checked", 1);
                                   $('#branchstop' + (item.Stop)).prop("checked", 1);
                                   if (item.addresstype == 0) {
                                       $('#addresstype0').prop("checked", 1);
                                       $("#taiwanaddressbox").show();
                                       $("#otheraddressbox").hide();
                                       $('#Address').val(item.AddressContent);
                                       $('#twzipcode').twzipcode('set', {
                                           'zipcode': item.zipcode
                                       });
                                       $('#o_zipcode').val("");
                                       $('#o_county').val("");
                                       $('#o_district').val("");
                                       $('#o_address').val("");
                                   }
                                   else if (item.addresstype == 1) {
                                       $('#addresstype1').prop("checked", 1);
                                       $("#taiwanaddressbox").hide();
                                       $("#otheraddressbox").show();
                                       $('#o_zipcode').val(item.zipcode);
                                       $('#o_county').val(item.county);
                                       $('#o_district').val(item.district);
                                       $('#o_address').val(item.AddressContent);
                                       $('#twzipcode').twzipcode('reset');
                                       $('#Address').val("");
                                   }
                               });
                    }
                },
                { type: "control", editButton: false,deleteButton: false }
            ],

        });
    });
   



    /*Close or Open Add New Member*/
    $('#addBranch').on('click', function () {
        $(".overlay").removeClass("hide");
        $(document.body).addClass("no-scroll");
        $('#branchtype1').show();
        $('#branchtype2').show();
        $('#branchpost0').show();
        $('#branchstop1').show();
        $('#SETIMG').html('');
        $('#SETIMG').val('');
        $('#No').val("#NEW");
        $('#branchtype1').prop("checked", 1);
        $('#Name').val("");
        $('#Phone').val("");
        $('#Address').val("");
        $('#Email').val("");
        $('#Id').val("");
        $('#Pwd1').val("");
        $('#Pwd2').val("");
        $('#branchpost1').prop("checked", 1);
        $('#branchstop0').prop("checked", 1);
        $('#twzipcode').twzipcode('reset');

        $('#o_zipcode').val("");
        $('#o_county').val("");
        $('#o_district').val("");
        $('#o_address').val("");
        $('#addresstype0').prop("checked", 1);
        $("#taiwanaddressbox").show();
        $("#otheraddressbox").hide();
    });

    $('#overlayNewBranch .fa').on('click', function () {
        $(".overlay").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });


    $('#saveBranchInfoBtn').on('click', function () {
        $('#twzipcode').twzipcode('get', function (el) {
            var add_zipcode, add_county, add_district, add_address;
            if ($('input:radio:checked[name="addressTypeRadio"]').val() == 0) {
                add_zipcode = $(el.zipcode).val();
                add_county = $(el.county).val();
                add_district = $(el.district).val();
                add_address = $('#Address').val();
            }
            else if ($('input:radio:checked[name="addressTypeRadio"]').val() == 1) {
                add_zipcode = $('#o_zipcode').val();
                add_county = $('#o_county').val();
                add_district = $('#o_district').val();
                add_address = $('#o_address').val();
            }
            $.post("./branchManagementapi/insertItem",
              {
                  'No': $('#No').val(),
                  'Type': $('input:radio:checked[name="storeTypeRadio"]').val(),
                  'Name': $('#Name').val(),
                  'Phone': $('#Phone').val(),
                  'images': $('#SETIMG').val(),
                  'addresstype': $('input:radio:checked[name="addressTypeRadio"]').val(),
                  'county': add_county,
                  'district': add_district,
                  'zipcode': add_zipcode,
                  'Address': add_address,
                  'Email': $('#Email').val(),
                  'Id': $('#Id').val(),
                  'Pwd1': $('#Pwd1').val(),
                  'Pwd2': $('#Pwd2').val(),
                  'Post': $('input:radio:checked[name="postRadio"]').val(),
                  'Stop': $('input:radio:checked[name="stopRadio"]').val()
              }
              ).done(function (result) {
                  if (result == 'dataerror') {
                      alert('資料不完整');
                  }
                  else if (result == 'Pwderror') {
                      alert('密碼錯誤');
                  }
                  else if (result == 'IDrepeat') {
                      alert('此帳號已被使用');
                  }
                  else {
                      $(".overlay").addClass("hide");
                      $(document.body).removeClass("no-scroll");
                      window.location.reload();
                  }
              });
        });
        
    });


    $("#uploadBranchCoverImg").fileinput({
        uploadUrl: "./branchManagementapi/insertpic",
        uploadAsync: true,
        maxFileCount: 1,
        dropZoneTitle: '請拖曳或新增一張1920*1080的照片',
        allowedFileExtensions: ["jpg", "gif", "png"]
    });

    $("#uploadBranchCoverImg").on("fileuploaded", function (event, data) {
        $('#SETIMG').html("<img style='height:160px' src='./images/branch/" + data.response.name + "'>");
        $('#SETIMG').val(data.response.name);
    });

    $('#twzipcode').twzipcode({
        // 依序套用至縣市、鄉鎮市區及郵遞區號框
        'css': ['county', 'district', 'zipcode']
    })
    $('#addresstype0').click(function () {
        $("#taiwanaddressbox").show();
        $("#otheraddressbox").hide();
    });
    $('#addresstype1').click(function () {
        $("#taiwanaddressbox").hide();
        $("#otheraddressbox").show();
    });
</script>