<!--jQuery Plugin-->
<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/fileinput.min.css"/>



<!--css-->
<style>
/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:10px 10px 20px 10px;
}

.rowStyle{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#uploadImg{
	float:right;
	font-weight: 600;
}

/*Remove scrollbar form Table*/
.jsgrid-grid-header,
.jsgrid-grid-body{
  overflow: auto;
}

/*Record*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
    position: fixed; 
    overflow-y: scroll;
    background: #B3DBE7 none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
    z-index: 3;
}

.overlay .fa{
    padding: 15px;
    float: right;
    margin:15px;

}

.label-style{
	text-align: center;
}

.uploadImgBox{
    margin:13px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}

</style>



<!--HTML-->
<div>
	<!--Main Page-->
	<div>
		<!--Title-->
		<h4 class="header-text">輪播管理 Carousel Management</h4>
		<div class="row rowStyle">
			<button type="button" class="btn btn-info" id="uploadImg"><i class="fa fa-upload"></i>  上傳圖片</button>
		</div>

		<!--Table-->
		<div class="table-responsive">
			<table class="table table-striped" id="jsGrid">
		    </table>
		</div>
	</div>

	<!--Show Contents-->
    <div class="overlay hide">
    	<div class="popup">
	        <a href=""><i class="fa fa-times fa-lg"></i></a>
	        
	        <div class="uploadImgBox">           
	            <h4 class="header-text">上傳圖片 Upload Image</h4>
	            <form class="form-horizontal" role="form">
	            	
					<div class="form-group">
						<label class="col-sm-3 label-style">圖片連結:</label>
						<div class="col-sm-9">
							<input id="ImgUrl" type="text" class="form-control">
						</div>
					</div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">*播放順序:</label>
                        <div class="col-sm-9">
                            <input id="ImgPriority" type="text" class="form-control">
                        </div>
                    </div>
		            
		            <div class="form-group">
		            	<label class="col-sm-3 label-style">*圖片上傳:</label>
		            	<div class="col-sm-9" style="display: block;margin-top: 0em;">
                            <div id="SETIMG"></div>
                            <input id="C_uploadCoverImg" name="C_uploadCoverImg" type="file" multiple class="file-loading">
                            <div id="errorBlock" class="help-block"></div>              
						</div>
		            </div>

		            <div class="form-group ">
						<label class="col-sm-3"></label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-info" id="goBack">儲存輪播</button>
						</div>
					</div>
				</form>
	        </div> 
	    </div>
    </div>

</div>



<!--javascript-->
<script src="js/common/jsgrid.min.js" type="text/javascript" ></script>
<script src="js/common/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="js/common/fileinput.min.js"></script>

<script>

    /*Editor of Table With jQuery For Img Info*/
    $("#jsGrid").jsGrid({

        width: "100%",

        //Functions
        editing: true,
        sorting: true,
        paging: true,
        autoload: true,
        rowClick: function () { },
        pageSize: 5,
        pageButtonCount: 4,
        deleteConfirm: "確定刪除這筆資料?",
        onItemDeleted: function (args) {
            $.ajax({
                type: "POST",
                url: "./carouselManagementapi/deleteItem",
                data: { 'id': args.item.id },
                dataType: "json"
            });
        },

        //Data
        controller: {
            loadData: function () {
                return $.ajax({
                    type: "GET",
                    url: "./carouselManagementapi/carousel",
                    data: '',
                    dataType: "json"
                }).done(function (result) {
                    for (var i in result) {
                        result[i].ImgDate = new Date(result[i].ImgDate).toLocaleDateString();
                    }
                });
            },
            updateItem: function (item) {
                return $.ajax({
                    type: "POST",
                    url: "./carouselManagementapi/updateItem",
                    data: item,
                    dataType: "json"
                }).done(function (result) {
                    result.ImgDate = new Date(result.time).toLocaleDateString();
                });
            }
        },

        //Fields
        fields: [
            { name: "ImgPriority", title: "圖片順序", type: "text", width: 80, align: "center" },
        	{
        	    name: "ImgSrc", title: "圖片樣式",
        	    itemTemplate: function (val, item) {
        	        return $("<img>").attr("src","./images/carousel/"+ val);
        	    }, align: "center", width: 200
        	},
            { name: "ImgUrl", title: "圖片連結", type: "text", width: 365 },
            { name: "ImgCarousel", type: "checkbox", title: "播放", width: 80 },
            { name: "ImgDate", title: "上傳日期", type: "text", width: 120, align: "center", editing: false },
            { name: "ImgTime", title: "上傳時間", type: "text", width: 120, align: "center", editing: false },
            { type: "control" }
        ]
    });


	//Close or Open Member Record
    $('#uploadImg').on('click', function () {
        $(".overlay").removeClass("hide");
        $(document.body).addClass("no-scroll");
        $("#ImgUrl").val("");
        $("#ImgPriority").val("");
        $('#SETIMG').html('');
        $('#SETIMG').val('');
    });

    $('.overlay .fa').on('click', function () {
        $(".overlay").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

    $('#goBack').on('click', function () {
        $.post("./carouselManagementapi/insertItem",
          {
              'ImgUrl': $("#ImgUrl").val(),
              'ImgPriority': $("#ImgPriority").val(),
              'images': $('#SETIMG').val()
          }
          ).done(function (result) {
              window.location.reload();
          });
        $(".overlay").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

    $("#C_uploadCoverImg").fileinput({
        uploadUrl: "./carouselManagementapi/insertpic",
        uploadAsync: true,
        maxFileCount: 1,
        dropZoneTitle: '請拖曳或新增一張1920*1080的照片',
        allowedFileExtensions: ["jpg", "gif", "png"]
    });

    $("#C_uploadCoverImg").on("fileuploaded", function (event, data) {
        $('#SETIMG').html("<img style='height:160px' src='./images/carousel/" + data.response.name + "'>");
        $('#SETIMG').val(data.response.name);
    });


</script>


