<!--CSS-->
<style>
/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:10px 10px 20px 10px;
}

.rowStyle{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

/*QR code*/
.boxStyle{
    background-color:#FFFFFF;
    padding: 2px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 1px #C1C1C1;
    color:#656361;
    font-weight: 600;
}

.boxTitle{
    padding: 5px 10px 10px 10px;
    border-radius: 3px;
    font-size: 15px;
    background-color: #dcddf2;;
    border-top: 2px solid #c1c4e7;
}

.boxStyle>div>p{
    font-weight: 700;
    font-size: 15px;
    margin: 10px;
}

.boxStyle>div>span{
    color: #e04b4b;
    margin: 10px;
}

.boxContent{
    font-weight: 700;
    font-size: 15px;
    margin: 10px;
}

.memberTextStyle{
    color:#3C699C;
    padding: 10px 0px 30px 0px;
}

.companyTextStyle{
    color:#6A85B4;
    padding: 10px 0px 50px 0px;
}

.tableStyle{
    margin:0px 10px 10px 0px;
}

.table-responsive{
    width: 100%;
}
</style>  



<!--HTML-->
<div>
    <!--Main Page-->
    <div>
        <h4 class="header-text">條碼掃描 QRcode Reader</h4>
       
        <div class="row rowStyle">         
            <div class="col-sm-6">
                <div class="boxStyle"  style="height:40%">
                    <div class="boxTitle">
                        掃描畫面 Reader Monitor
                    </div>
                    <div id="reader" style="height:80%;padding:10px"></div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="boxStyle"  style="height:40%">
                    <div class="boxTitle">
                        掃描資訊 Reader Info
                    </div>
                    
                    <div>
                        <p>條碼結果:</p>
                        <span id="read">請將條碼對準鏡頭!</span>
                        </br>
                        </br>
                        </br>
                        <p>偵測訊息:</p>
                        <span id="read_error"></span>
                        <span id="vid_error"></span>
                    </div>
                    
                </div>
            </div>

             <div class="col-sm-12">
                <div class="boxStyle" style="min-height:40%;max-height:100%">
                    <div class="boxTitle">
                        購買紀錄 Purchase Record
                    </div>

                    <div class="boxContent">
                        <div class="memberTextStyle">
                            <div class="col-sm-3"><p>會員名稱: 王曉明</p></div>
                            <div class="col-sm-4"><p>會員電話: 0912345678</p></div>
                            <div class="col-sm-5"><p>會員地址: 台灣台中市太平區中正路70號</p></div>
                        </div>

                        <div class="companyTextStyle">
                            <div class="col-sm-3"><p>公司名稱: 太平分公司</p></div>
                            <div class="col-sm-4"><p>公司電話: 04-25000000</p></div>
                            <div class="col-sm-5"><p>公司地址: 台灣台中市東區旱溪街386號</p></div>
                        </div>
                    

                        <div class="table-responsive">
                                 
                            <table class="table  tableStyle">
                                <thead>
                                  <tr class="warning">
                                    <th>#</th>
                                    <th>購買日期</th>
                                    <th>商品名稱</th>
                                    <th>購買金額</th>
                                    <th>保固年限</th>
                                    <th>保固期限</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr class="warning">
                                    <td>1</td>
                                    <td>2016/01/01</td>
                                    <td>葉黃素</td>
                                    <td>$ 200</td>
                                    <td>2年</td>
                                    <td>2018/01/01</td>
                                  </tr>                                              
                                </tbody>

                            </table>
                        </div>
                        </div>    
                        
                    
                </div>                
            </div>
        </div>
    </div>
</div>



<!--JS-->
<script>
$('#reader').html5_qrcode(function(data){
    $('#read').html(data);
    },
    function(error){
      $('#read_error').html(error);
    }, function(videoError){
      $('#vid_error').html(videoError);
    }
);
</script>