<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/fileinput.min.css" />

<style>
    /*Header*/
    .header-text {
        border-bottom: 5px solid #ddd;
        padding-bottom: 10px;
        margin: 0px 10px 30px 10px;
    }

    .header-text-sm {
        border-bottom: 5px double #9CAFB7;
        padding-bottom: 10px;
        margin: 25px;
        color: #9CAFB7;
        font-weight: 600;
        opacity: 0.7;
    }

    /*Company Pic*/
    .company-profile-pic img {
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        display: block;
        border: 4px solid #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    }

    /*Company Description*/
    .company-profile-description .company-name {
        text-align: center;
        font-size: 14pt;
        font-weight: 700;
        padding-top: 10px;
    }

    .company-profile-description .company-id {
        text-align: center;
        font-size: 11pt;
        padding-top: 10px;
    }

    /*Right Side*/
    .smart-widget {
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin-bottom: 20px;
        border-color: #e4e4e4;
        border-top-width: 4px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

        .smart-widget .smart-widget-inner {
            border-radius: 0 0 3px 3px;
            -moz-border-radius: 0 0 3px 3px;
            -webkit-border-radius: 0 0 3px 3px;
        }

            .smart-widget .smart-widget-inner .smart-widget-body {
                padding: 15px;
            }

    /*Tab*/
    .tab-style {
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }

        .tab-style.tab-right li {
            float: right;
        }

        .tab-style li a {
            padding-top: 5px;
            padding-bottom: 5px;
            color: #aaa;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
        }

            .tab-style li a .icon-wrapper {
                display: inline-block;
                font-size: 18px;
                line-height: 30px;
            }

            .tab-style li a .text-wrapper {
                display: inline-block;
                vertical-align: top;
                margin-top: 7px;
                margin-left: 7px;
            }

            .tab-style li a:hover {
                border-bottom-color: #2baab1;
                transition: all .2s ease;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
            }

    /*Label*/
    .label-style {
        padding-top: 7px;
        padding-left: 10%;
        margin-bottom: 0px;
        text-align: left;
    }

    .container {
        width: 100%;
        padding: 12px;
    }

    .modal {
        top: 20%;
    }
</style>



<div>
    <!--Title-->
    <h4 class="header-text">公司個檔 Company Profile</h4>

    <!--Content-->
    <div class="row">
        <!--Left Side-->
        <div class="col-md-3">
            <div class="row">

                <!--Company Pic-->
                <div id="data_c_picture" class="col-sm-4 col-md-12 company-profile-pic">
                </div>

                <!--Company Description-->
                <div class="col-sm-6 col-md-12 company-profile-description">
                    <div class="company-name">{{BB_name}}</div>
                    <div class="company-id">
                        <i class="fa fa-briefcase"></i>
                        公司代碼: #{{BB_id}}
                    </div>
                </div>

            </div>
        </div>


        <!--Right Side-->
        <div class="col-md-9">
            <div class="smart-widget">
                <div class="container">
                    <ul class="nav nav-tabs" id="myTab">
                        <li>
                            <a data-toggle="tab" href="#menu1">
                                <span class="icon-wrapper"><i class="fa fa-book"></i></span>
                                <span class="text-wrapper">公司個資</span>
                            </a>
                        </li>
                        <li id="yearbtn">
                            <a data-toggle="tab" href="#menu2">
                                <span class="icon-wrapper"><i class="fa fa-calendar"></i></span>
                                <span class="text-wrapper">年度紀事</span>
                            </a>
                        </li>

                        <li id="paybtn">
                            <a data-toggle="tab" href="#menu3">
                                <span class="icon-wrapper"><i class="fa fa-briefcase"></i></span>
                                <span class="text-wrapper">匯款方法</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <!--公司個資-->
                        <div id="menu1" class="tab-pane fade in active">
                            <h4 class="header-text-sm">基本資料</h4>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-3 label-style">公司名稱</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_name" type="text" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 label-style">公司地址</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_address" type="text" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 label-style">公司電話</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_phone" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 label-style">公司信箱</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_email" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 label-style">營業時間</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_time" type="text" class="form-control">
                                    </div>
                                </div>

                                <h4 class="header-text-sm">帳號設定</h4>
                                <div class="form-group">
                                    <label class="col-sm-3 label-style">管理帳號</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_account" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 label-style">管理密碼</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_pwd" type="password" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 label-style">再次密碼確認</label>
                                    <div class="col-sm-8">
                                        <input id="data_c_pwdch" type="password" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3"></label>
                                    <div class="col-sm-8">
                                        <button id="data_csave" type="submit" class="btn btn-info">儲存資料變更</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--年度紀事-->
                        <!--Update-20160629-->
                        <div id="menu2" class="tab-pane fade">
                            <h4 class="header-text-sm">歷程紀錄</h4>
                            <button type="button" class="btn btn-warning" id="addHistory" style="margin: 0px 10px 20px 15px;">
                                <i class="fa fa-calendar"></i> 新增年度紀事
                            </button>

                            <!--Table-->
                            <div class="table-responsive">
                                <table class="table table-striped" id="typeGrid"></table>
                            </div>
                        </div>    
                        <!--匯款方法-->
                        <!--Update-20161210-->
                        <div id="menu3" class="tab-pane fade">
                            <h4 class="header-text-sm">匯款方法&須知</h4>
                            <!--Table-->
                            <div class="form-group">
                                <div><textarea name="editor"></textarea></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <button id="pay_save" type="submit" class="btn btn-info">儲存資料變更</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                </div>
            </div>
        </div>
    </div>

    <!--新增年度紀事-->
    <div id="myHistoryStack" class="modal fade" role="dialog" style="z-index:1800;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header" style="background-color: blanchedalmond;border-radius: 5px;text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增年度紀事</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="control-label">日期時間:(yyyy-mm-dd)</label>
                            <input id="year" onkeyup="return checkProductINT(this, value)" type="text" class="form-control">
                            <h5 id="yearonkey" style="color:red;"></h5>
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">榮譽事蹟:</label>
                            <textarea class="form-control" id="comment"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
                    <button type="submit" id="saveaboutus" class="btn btn-success" >確定</button>
                </div>

            </div>
        </div>
    </div>
    <!--更換店家照片-->
    <div id="conpanypicture" class="modal fade" role="dialog" style="z-index:1800;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header" style="background-color: blanchedalmond;border-radius: 5px;text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">上傳店家照片</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div id="c_pic">
                            </div>
                            <div>
                                <input id="uploadCoverImg" name="uploadCoverImg" type="file" multiple class="file-loading">
                                <div id="errorBlock" class="help-block"></div>
                            </div>
                        </div>
                </form>
            </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
                    <button type="submit" id="saveac_pic" class="btn btn-success">確定</button>
                </div>

            </div>
        </div>
    </div>



<!-- jQuery JS PlugIn -->
<script src="js/common/jsgrid.min.js" type="text/javascript"></script>
<script src="js/common/fileinput.min.js"></script>
<script type="text/javascript">
    //$('#data_c_name').prop('readonly', false);
    if (c_type == 1) { $('#yearbtn').show(); $('#paybtn').show(); }
    else { $('#yearbtn').hide(); $('#paybtn').hide(); }
    function checkProductINT(e, pnumber) {
        if (!/^([0-9]{4})[-]{1}([0-9]{2})[-]{1}([0-9]{2})$/.test(pnumber)) {
            //日期格式錯誤
            document.getElementById('yearonkey').innerHTML = '日期格式需輸入:YYYY-MM-DD';
            return false;
        }
        else {
            document.getElementById('yearonkey').innerHTML = '';
            return true;
        }
    }

    $(document).ready(function () {
        $("#myTab li a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        /*Add new History Modal*/
        $('#addHistory').on('click', function () {
            $('#myHistoryStack').modal('show');
            document.getElementById('yearonkey').innerHTML = '';
            $('#year').val('');
            $('#comment').val('');
        });

        $('#saveaboutus').on('click', function () {
            if ($('#year').val() == '' || $('#comment').val() == '') {
                alert("資料不完整 無法新增")
                $('#myHistoryStack').modal('show');
            }
            else if ($('#yearonkey').html() != '') {
                alert("日期需符合格式 YYYY-MM-DD")
                $('#myHistoryStack').modal('show');
            }
            else {
                $.post("./companyProfileapi/insertaboutus",
                 {
                     'year': $('#year').val(),
                     'title' : $('#comment').val()
                 }
                 ).done(function (result) {
                     if (result == "success") { alert("新增 " + $('#year').val() + " 年度記事成功"); }
                     window.location.reload();
                 });
            }
        });
        //公司照片
        $('#data_c_picture').on('click', function () {
            $('#conpanypicture').modal('show');
        });
        $("#uploadCoverImg").fileinput({
            uploadUrl: "./companyProfileapi/insertpic",
            uploadAsync: true,
            maxFileCount: 1,
            dropZoneTitle: '請拖曳或新增一張1920*1080的照片',
            allowedFileExtensions: ["jpg", "gif", "png"]
        });
        $("#uploadCoverImg").on("fileuploaded", function (event, data) {
            $('#c_pic').val(data.response.name);
        });
        $('#saveac_pic').on('click', function () {
            $.post("./companyProfileapi/companypicturesave",
             {
                 'c_id': c_id,
                 'c_picture': $('#c_pic').val()
             }
             ).done(function (result) {
                 if (result == "success") { alert("更新照片成功"); }
                 window.location.reload();
             });
        });
        //儲存公司資料
        $('#data_csave').on('click', function () {
            if ($('#data_c_phone').val() == '' || $('#data_c_email').val() == '' || $('#data_c_account').val() == '' || $('#data_c_pwd').val() == '') {
                alert('資料不完整');
            }
            else if ($('#data_c_pwd').val() == $('#data_c_pwdch').val()) {
                $.post("./companyProfileapi/companydataupdate",
                 {
                     'c_id':c_id,
                     'c_phone': $('#data_c_phone').val(),
                     'c_email': $('#data_c_email').val(),
                     'c_time': $('#data_c_time').val(),
                     'c_account': $('#data_c_account').val(),
                     'c_pwd': $('#data_c_pwd').val()
                 }
                 ).done(function (result) { 
                     if (result == 'IDrepeat') {
                         alert('此帳號已被使用');
                     }
                     else if (result == 'success') {
                         alert('儲存成功');
                         window.location.reload();
                     }
                 });
            }
            else {
                alert('密碼不正確');
            }
        });
    });

    /*Datas of Table For History Info*/
    $(function () {
        //載入公司資料
        $.ajax({
            type: "POST",
            url: "./companyProfileapi/companydataload",
            data: {id:c_id},
            dataType: "json"
        }).done(function (result) {
            var data = result;
            $('#data_c_picture').html("<img style='height:160px' src='./images/branch/" + data.c_picture + "'>");
            $('#c_pic').val(data.c_picture);
            $('#data_c_name').val(data.c_name);
            $('#data_c_address').val(data.c_county + data.c_district + data.c_address);
            $('#data_c_phone').val(data.c_phone);
            $('#data_c_email').val(data.c_email);
            $('#data_c_time').val(data.c_time);
            $('#data_c_account').val(data.c_account);
            $('#data_c_pwd').val(data.c_password);
        });

        $.ajax({
            type: "GET",
            url: "./companyProfileapi/aboutusload",
            data: '',
            dataType: "json"
        }).done(function (result) {
            for (var i in result) {
                result[i].historyYear = new Date(result[i].historyYear).toLocaleDateString();
            }
            $("#typeGrid").jsGrid({

                height: 400,
                width: "100%",

                //Functions
                filtering: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 8,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./companyProfileapi/deleteboutus",
                        data: { 'id': args.item.historyid },
                        dataType: "json"
                    });
                },

                //Data
                controller: {
                    loadData: function (filter) {
                        return $.grep(result, function (history) {
                            return (!filter.historyYear || history.historyYear.indexOf(filter.historyYear) > -1)
                                    && (!filter.historyText || history.historyText.indexOf(filter.historyText) > -1)
                        });
                    },
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./companyProfileapi/updateaboutus",
                            data: item,
                            dataType: "json"
                        });
                    }
                },
                //Fields
                fields: [
                    {
                        name: "historyYear", title: "日期", type: "text", width: 250, align: "center", editing: false
                    },
                    { name: "historyText", title: "榮譽事蹟", type: "text", width: 800 },
                    { type: "control" }
                ]
            });

        });
    });
    $.ajax({
        type: "GET",
        url: "./companyProfileapi/payload",
        data: '',
        dataType: "json"
    }).done(function (result) {
        CKEDITOR.instances.editor.setData(result[0].content);
    });
    $('#pay_save').on('click', function () {
        $.ajax({
            type: "POST",
            url: "./companyProfileapi/payinsert",
            data: {
                'data': CKEDITOR.instances.editor.getData()
            },
            dataType: "json"
        }).done(function (result) {
            if (result == 'success') {
                alert('儲存成功!');
            }
        });
    });
    /*Editor*/
    $(function () {
        CKEDITOR.replace('editor', {
            toolbar: [['Source', '-', 'NewPage', 'Preview', '-', 'Templates'],
                        ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],
                        ['SelectAll', '-', 'Scayt'], ['Link', 'Unlink', 'Anchor'], ['Maximize', 'ShowBlocks'], ['About'],
                        ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'],
                        ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                        ['Image', 'Flash', '-', 'Table', 'HorizontalRule', '-', 'Smiley', 'SpecialChar'],
                        ['Styles', 'Format', 'Font', 'FontSize'],
                        ['TextColor', 'BGColor']]
        });
    });

</script>
