<!--jQuery CSS PlugIn-->
<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/sumoselect.css" />
<link type="text/css" rel="stylesheet" href="css/common/jquery.steps.css" />
<link type="text/css" rel="stylesheet" href="css/common/fileinput.min.css"/>


<!--css-->
<style>
/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:10px 10px 20px 10px;
}

.rowStyle{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#addKnowledge{
	float:right;
	font-weight: 600;
	background-color: #68B1D2;
    border-color: #82B9D4;
}

#addKnowledge:hover{
	background-color: #4FA2C8;
    border-color: #898AAB;
}

/*Update-20160629*/
#addType{
    float:right;
    font-weight: 600;
    background-color: #5A86B9;
    border-color: #6C9FBF;
    margin: 0px 5px 0px 5px;
}

#addType:hover{
    background-color: #436C9C;
    border-color: #6C9FBF;
}

/*EditorBg*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
    position: fixed; 
    overflow-y: scroll;
    background: #98C5DA none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
    z-index: 3;
}

.overlay .fa{
    padding: 15px;
    float: right;
    margin:15px;

}

.editorBox{
    margin:10px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}



/*Steps*/
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #67b9d4;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #b0d8ea;
    color: #fff;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
              background: #74b6d5;
 }

/*Editor Form*/
.form-horizontal .form-group{
	margin:0px;
	margin-bottom:10px; 
}
/*這是影片新增教學按鈕*/
#addScreenRecordBtn{
    background-color: #72bdd5;
    border-color: #86c3d5;
    margin-left: 5px;
    padding: 2px 13px 2px 10px;
    font-weight: 700;
    border-radius: 15px;
}

    #addScreenRecordBtn:hover {
        background-color: #4d94ab;
    }
    #addScreenRecordBtnS {
        padding-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-top: 5px;
    }
</style>



<!--Html-->
<div>
    <div>
        <h4 class="header-text">知識分享 Knowledge Management</h4>
        <div class="row rowStyle">
            <button type="button" class="btn btn-info" id="addKnowledge"><i class="fa fa-file-text"></i>  新增知識訊息</button>
            <button type="button" class="btn btn-primary" id="addType"><i class="fa fa-tags"></i>  新增知識類別</button>
        </div>

        <!--Table-->
        <div class="table-responsive">
            <table class="table table-striped" id="knowledgeGrid"></table>
        </div>
    </div>

    <!--Show Contents-->
    <div class="overlay hide">
        <div class="popup">
            <a href=""><i class="fa fa-times fa-lg"></i></a>

            <div class="editorBox">
                <h4 class="header-text">知識分享 Knowledge Sharing (有*攔為必填資料)</h4>

                <form class="form-horizontal" id="knowledgeForm" data-validate="parsley" novalidate>
                    <div id="formWizard" class="light-background">
                        <h2>知識標題</h2>
                        <section>
                            <div class="padding-md">

                                <div class="form-group">
                                    <label>知識類別*:</label>
                                    <div>
                                        <select id="selectTypeBox" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>知識標題*:</label>
                                    <div>
                                        <input id="title" type="text" class="form-control"  required="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>封面照片*:</label>
                                    <div id="SETIMG">
                                    </div>
                                    <div>
                                        <input id="uploadCoverImg" name="uploadCoverImg" type="file" multiple class="file-loading">
                                        <div id="errorBlock" class="help-block"></div>
                                    </div>
                                    </div>
                            </div>
                        </section>


                        <h2>知識內容</h2>
                        <section>
                            <div class="padding-md">
                                <div class="form-group">
                                    <label>
                                        影片網址:
                                        <button type="button" class="btn btn-info" id="addScreenRecordBtn" data-toggle="modal" data-target="#videoModal">
                                            +<i class="fa fa-file-text-o" id="addScreenRecordBtnS"></i>
                                        </button>
                                    </label>
                                        <div>
                                            <input id="video" type="text" class="form-control">
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label>知識內容*:</label>
                                    <div><textarea name="editor"></textarea></div>
                                </div>
                            </div>
                        </section>
                            <h2>照片區</h2>
                            <section>
                                <div   id="pictureplace"class="padding-md">
                                    <div class="form-group">
                                        <input type="button" class="form-control" style="background-color:#E9F6E9" id="updateKnowledgeImg" value="查看已有照片">
                                    </div>
                                    <div class="form-group">
                                        <label>照片上傳(每次上傳以50張為限)</label>
                                        <div>
                                            <input id="uploadKnowledgeImg" name="uploadKnowledgeImg" type="file" multiple class="file-loading">
                                            <div id="errorBlock" class="help-block"></div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Update-20160629-->
    <div id="myTypeStack" class="modal fade" role="dialog" style="z-index:1800;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header" style="background-color: #5A86B9;color: white; text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增知識類別</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="control-label">新增類別名稱:</label>
                            <input id="newtype" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">查看已有類別:</label>
                            <!--Table-->
                            <div class="table-responsive">
                                <table class="table table-striped" id="typeGrid"></table>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id="savetype" class="btn btn-primary" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>

    <!--Show Existed Product Type Modal-->
    <div id="myExistedTypeStack" class="modal fade" role="dialog" style="z-index:2000;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(110, 185, 210);">
                    <button type="button" class="existedLevelBtn close">&times;</button>
                    <h4 class="modal-title">照片區</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">已有照片:</label>
                        <!--Table-->
                        <div class="table-responsive">
                            <table class="table table-striped" id="imgGrid"></table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="existedLevelBtn btn btn-info">確定</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(110, 185, 210);">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">影片張貼教學</h4>
                </div>
                <div class="modal-body">
                    <img style="width:100%;" src="./images/1.jpg">
                    <img style="width:100%;" src="./images/2.jpg">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>	



<!-- jQuery JS PlugIn -->
<script src="js/common/jsgrid.min.js" type="text/javascript" ></script>
<script src="js/common/parsley.min.js"></script>
<script src='js/common/jquery.steps.min.js'></script>
<script type="text/javascript" src="js/common/jquery.sumoselect.min.js"></script>
<script src="js/common/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="js/common/fileinput.min.js"></script>



<!--javascript-->
<script>
    var k_id = '';
    var time = '';
    /*Datas of Table For Knowledge Info*/
    $(function () {
        $.ajax({
            type: "GET",
            url: "./knowledgeManagementapi/knowledge",
            data: '',
            dataType: "json"
        }).done(function (result) {
            for (var i in result) {
                result[i].knowDate = new Date(result[i].knowDate).toLocaleDateString();
            }
            $("#knowledgeGrid").jsGrid({

                width: "100%",


                //Functions
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                rowClick: function () { },
                pageSize: 5,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./knowledgeManagementapi/knowledgedelete",
                        data: { 'id': args.item.id },
                        dataType: "json"
                    });
                },
                data: result,
                controller: {
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./knowledgeManagementapi/knowledgeupdatePublish",
                            data: item,
                            dataType: "json"
                        });
                    }
                },

                //Fields
                fields: [
                    { name: "knowDate", title: "發布日期", type: "text", align: "center", width: 150, editing: false },
                    { name: "knowTitle", title: "知識標題", type: "text", width: 350, editing: false },
                    {
                        name: "knowImgSrc", title: "封面照片",
                        itemTemplate: function (val, item) {
                            return $("<img>").attr("src", "./images/knowledge/" + val);
                        }, align: "center", width: 250
                    },
                    { name: "knowView", title: "點擊次數", type: "text", width: 120, align: "center", editing: false },
                    { name: "knowPublish", type: "checkbox", title: "發布", width: 120 },
                    {
                        name: "knowEdit", title: "內容編輯", align: "center", width: 110,
                        itemTemplate: function (_, item) {
                            return $("<button>").text('編輯')
                                   .css('background', '#7AC1E3')
                                   .css('border', '1px solid #D5E3F3')
                                   .css('border-radius', '3px')
                                   .css('color', 'white')
                                   .css('text-align', 'center')
                                   .on("click", function () {
                                       $.ajax({
                                           type: "POST",
                                           url: "./knowledgeManagementapi/knowledgeload",
                                           data: { 'id': item.id },
                                           dataType: "json"
                                       }).done(function (data) {
                                           $('#selectTypeBox').val(data.knowledge[0].knowledgeType);
                                           $("#title").val(data.knowledge[0].knowledgeTitle);
                                           $('#SETIMG').html("<img style='height:160px' src='./images/knowledge/"  + data.knowledge[0].knowImgSrc + "'>");
                                           $('#SETIMG').val(data.knowledge[0].knowImgSrc);
                                           $("#video").val(data.knowledge[0].knowledgeVideo);
                                           CKEDITOR.instances.editor.setData(data.knowledge[0].knowledgeArticle);
                                       });
                                       k_id = item.id;
                                       time = item.knowDate;
                                       $(".overlay").removeClass("hide");
                                       $(document.body).addClass("no-scroll");
                                       $("#pictureplace").show();

                                   });
                        }
                    },


                    { type: "control" }
                ],


            });
        });
        /*Editor of Table With jQuery For Knowledge Info*/
        
    });


    $(function () {
        $.ajax({
            type: "GET",
            url: "./knowledgeManagementapi/loadtype",
            data: '',
            dataType: "json"
        }).done(function (result) {
            $("#typeGrid").jsGrid({

                height: 400,
                width: "100%",

                //Functions 
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 10,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./knowledgeManagementapi/deletetype",
                        data: { 'id': args.item.typeNo },
                        dataType: "json"
                    });
                },
                data: result,
                controller: {
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./knowledgeManagementapi/updatetype",
                            data: item,
                            dataType: "json"
                        });
                    }
                },

                //Fields
                fields: [
                    { name: "typeNo", title: "類別編號", type: "text", width: 300, align: "center", editing: false },
                    { name: "typeName", title: "類別名稱", type: "text", width: 500, align: "center" },
                    { type: "control" }
                ]
            });
        });
        /*Editor of Table With jQuery For Product Q&A Info*/
        


    });
  
/*Close or Open Member Record*/
$(function ()   {
    $('#addKnowledge').on('click', function () {
        $(".overlay").removeClass("hide");
        $(document.body).addClass("no-scroll");
        k_id = '';
        time = '';
        $("#title").val('');
        $('#SETIMG').html('');
        $('#SETIMG').val('');
        $("#video").val('');
        CKEDITOR.instances.editor.setData('');
        $("#pictureplace").hide();
        
    });

    /*Update-20160629*/
    $('#addType').on('click', function () {
        $('#myTypeStack').modal('show'); 
        $('#newtype').val('');
    });

    $('.overlay .fa-times').on('click', function () {
        $(".overlay").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

    $('#savetype').on('click', function () {
        if ($('#newtype').val() == '') {
        }
        else { 
            $.post("./knowledgeManagementapi/inserttype",
             { 'name': $('#newtype').val() }
             ).done(function (result) {
                 if (result == "success") {
                     alert("新增知識類別 " + $('#newtype').val() + " 成功");
                     window.location.reload();
                 }
             });
        }
    });
});


/*Steps*/
$(function ()   {
    $("#formWizard").steps({
        headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) { 
                            if(newIndex > currentIndex) { 
                                if($('#knowledgeForm').parsley().validate('step' + newIndex)) {
                                    return true;
                                }
                                else    {
                                    return false;
                                }
                            }
                            else    {
                                return true;
                            }                      
        },
        onFinished: function (event, currentIndex) {
            if ($("#title").val() == '') {
                alert('標題未填寫');
            }
            else if ($('#SETIMG').val() == '') {
                alert('照片未新增');
            }
            else {
                if (k_id == '') {
                    $.ajax({
                        type: "POST",
                        url: "./knowledgeManagementapi/knowledgeinsert",
                        data: {
                            'type': $('#selectTypeBox').val(),
                            'title': $("#title").val(),
                            'images': $('#SETIMG').val(),
                            'video': $("#video").val(),
                            'content': CKEDITOR.instances.editor.getData()
                        },
                        dataType: "json"
                    }).done(function (result) {
                        console.log(result);
                        window.open('./article?type=KNOWLEDGE&id=' + result, '_blank', 'PopUp');
                        window.location.reload();
                    });
                    $(".overlay").addClass("hide");
                    $(document.body).removeClass("no-scroll");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "./knowledgeManagementapi/knowledgeupdate",
                        data: {
                            'id': k_id,
                            'time': time,
                            'type': $('#selectTypeBox').val(),
                            'title': $("#title").val(),
                            'images': $('#SETIMG').val(),
                            'video': $("#video").val(),
                            'content': CKEDITOR.instances.editor.getData()
                        },
                        dataType: "json"
                    }).done(function (result) {
                        window.open('./article?type=KNOWLEDGE&id=' + k_id, '_blank', 'PopUp');
                        window.location.reload();
                    });
                    $(".overlay").addClass("hide");
                    $(document.body).removeClass("no-scroll");
                } 
            }
        }
    });
});




$(document).ready(function () {
    //get select option
    //$('#selectTypeBox').SumoSelect();
    $.ajax({
        type: "GET",
        url: "./knowledgeManagementapi/loadtype",
        data: '',
        dataType: "json"
    }).done(function (result) {
        var tdata = result;
        for (var i = 0 ; i <= tdata.length - 1 ; i++) {
            $("#selectTypeBox").append($("<option value='" + tdata[i].typeNo + "'>" + tdata[i].typeName + "</option>"));
        }
    });
    
    $('.selectBranchBox').SumoSelect({ csvDispCount: 3 });
});

/*CoverImg Upload*/
$("#uploadCoverImg").fileinput({
    uploadUrl: "./knowledgeManagementapi/insertpic",
    uploadAsync: true,
    maxFileCount: 1,
    dropZoneTitle: '請拖曳或新增一張1920*1080的照片',
    allowedFileExtensions: ["jpg", "gif", "png"]
});
$("#uploadCoverImg").on("fileuploaded", function (event, data) {
    $('#SETIMG').html("<img style='height:160px' src='./images/knowledge/" + data.response.name + "'>");
    $('#SETIMG').val(data.response.name);
});

/*Editor*/
$(function ()   {
    CKEDITOR.replace( 'editor',{
        toolbar:  [ ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'],
                    [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],
                    [ 'SelectAll', '-', 'Scayt' ],[ 'Link', 'Unlink', 'Anchor' ],[ 'Maximize', 'ShowBlocks' ],[ 'About' ],
                    [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],
                    [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],                   
                    [ 'Image', 'Flash', '-','Table', 'HorizontalRule','-', 'Smiley', 'SpecialChar'],
                    [ 'Styles', 'Format', 'Font', 'FontSize' ],
                    [ 'TextColor', 'BGColor' ]]
    });
});


/*KnowledgeImg Upload*/
$("#uploadKnowledgeImg").fileinput({
    uploadUrl: "./knowledgeManagementapi/insertpicplace",
    uploadAsync: true,
    maxFileCount: 50,
    dropZoneTitle: '請拖曳或新增1920*1080的照片，一次最多50張',
    allowedFileExtensions: ["jpg", "gif", "png"]
});
$("#uploadKnowledgeImg").on("fileuploaded", function (event, data) {
    $.ajax({
        type: "POST",
        url: "./knowledgeManagementapi/imagesinsert",
        data: {
            'id': k_id,
            'images':data.response.name
        },
        dataType: "json"
    }).done(function (result) {

    });
});

$('#updateKnowledgeImg').on('click', function () {
    $('#myExistedTypeStack').modal('show');
    $.ajax({
        type: "POST",
        url: "./knowledgeManagementapi/pictureload",
        data: { 'id': k_id },
        dataType: "json"
    }).done(function (result) {
        $("#imgGrid").jsGrid({

            height: 400,
            width: "100%",

            //Functions 
            editing: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 10,
            pageButtonCount: 10,
            deleteConfirm: "確定刪除這筆資料?",
            onItemDeleted: function (args) {
                $.ajax({
                    type: "POST",
                    url: "./knowledgeManagementapi/knowledgedeletepic",
                    data: { 'id': args.item.pictureid },
                    dataType: "json"
                });
            },
            data: result.pic,
            //Fields
            fields: [
                 { name: "knowledgeName", title: "圖片名稱", type: "text", width: 300, align: "center", editing: false },
                {
                    name: "knowledgePicture", title: "圖片預覽",
                    itemTemplate: function (val, item) {
                        return $("<img>").attr("src", "./images/knowledgePIC/" + val);
                    }, align: "center", width: 250
                },
                { type: "control", editButton: false }
            ]
        });
    });
});
$('.existedLevelBtn').on('click', function () {
    $('#myExistedTypeStack').modal('hide');
});
</script>
