<!--jQuery PlugIn-->
<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/fileinput.min.css" />


<!--CSS-->
<style>
/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:10px 10px 30px 10px;
}

.rowStyle{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#addLevel{
    margin-left: 10px;
    float:right;
    font-weight: 600;
    background-color: #649990;
    border-color: #6DA28E;
}

#addLevel:hover{
    background-color: #2F8374;
    border-color: #6DA28E;
}

#addMember{
    margin-left: 10px;
    float:right;
    font-weight: 600;
    background-color: #F08A69;
    border-color: #DA7F45;
}

#addMember:hover{
    background-color: #D26846;
    border-color: #6E937C;
}

#searchPurchaseInfo{
    margin-left: 10px;
    float:right;
    font-weight: 600;
    background-color: #C0707E;
    border-color: #D4889D;
}

#searchPurchaseInfo:hover{
    background-color: #AB5161;
    border-color: #6E937C;
}


/*Record*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
    position: fixed; 
    overflow-y: scroll;
    background: #FF9F89 none repeat scroll 0% 0%;  
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
}

.overlay .fa-times{
    padding: 15px;
    float: right;
    margin:15px;

}

.overlayBox{
    margin:13px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}

.memberInfo{
    margin: 0px auto;
    color:#4C5C68;
    font-weight: 600;
    opacity: 0.7;
}

.purchcaseInfo{
    margin: 0px auto;
    color:#E84855;
    font-weight: 600;
    opacity: 0.7;
}


/*New Mamber Form*/
.form-horizontal .form-group{
    margin:0px;
    margin-bottom:10px; 
}

.label-style{
    text-align: center;
}

#saveMemberBtn{
    float: right;
    background-color: #E48642;
    border-color: #C6AC7E;
    font-weight: 600;
    color:#FFFFFF;
}

#saveMemberBtn:hover{
    background-color: #CC6A24;
    border-color: #6E937C;
}


/*Calendar*/
#dateRange {
    width: 100% !important;
    margin-bottom: 25px;
    padding: 0;
}

#dateRange_input{
    border-radius: 3px 3px 3px 3px !important;
}

.input-group-addon {
    background: #DB5742 !important;
    border-color: #F28E79 !important;
    border-radius: 0px 3px 3px 0px;
    color: #ffffff !important;
    height: 34px !important;
    width: 50px !important;
    z-index: 5;
    position: absolute;
    right: 0;
}

.icon {
    top: 0px;
    pointer-events: none;
    color: white;
}

.daterangepicker {
    height: auto;
}

.selectStyle{
    margin-bottom: 12px;
}


/*Add new Purchase Record */
#addPurchaseRecordBtn{
    background-color: #72bdd5;
    border-color: #86c3d5;
    margin-left: 20px;
    padding: 2px 13px 2px 10px;
    font-weight: 700;
    border-radius: 15px;
}

#addPurchaseRecordBtn:hover{
    background-color: #4d94ab;
}


/*Add new Health Record */
#addHealthRecordBtn{
    background-color: #72bdd5;
    border-color: #86c3d5;
    margin-left: 20px;
    padding: 2px 13px 2px 10px;
    font-weight: 700;
    border-radius: 15px;
}

#addHealthRecordBtn:hover{
    background-color: #4d94ab;
}

#addScreenRecordBtn{
    background-color: #72bdd5;
    border-color: #86c3d5;
    margin-left: 20px;
    padding: 2px 13px 2px 10px;
    font-weight: 700;
    border-radius: 15px;
}

#addScreenRecordBtn:hover{
    background-color: #4d94ab;
}
/*Modal*/
.modal-backdrop.in{
    opacity: 0.9;
}

.modal-dialog {
    padding: 10% 40px 40px 40px;
}

#myPurchaseStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myPurchaseStack .modal-header{
    background:#82BDD8;
    padding: 10px;
}

#myHealthStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myHealthStack .modal-header{
    background:#82BDD8;
    padding: 10px;
}
#myScreenStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myScreenStack .modal-header{
    background:#82BDD8;
    padding: 10px;
}

#myNoteStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myNoteStack .modal-header{
    background:#82BDD8;
    padding: 10px;
}

#myNoteStack{
    padding-left: 0px;
}

#myNoteStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myNoteStack .modal-header{
    background:#c28080;
    padding: 10px;
}

#myLevelStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myLevelStack .modal-header{
    background:#69A298;
    padding: 10px;
}

.btn-success {
    color: #fff;
    background-color: #63a78e;
    border-color: #509e7a;
}

.modal-title {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.btn-default{
    width: 100%;
}


/*address*/
#twzipcode select,#twzipcode input{
    margin: 0px 10px 5px 0px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/*prescrption input unit*/
 .prescrption td{
    width:70px;
    text-align: center;
 }

 .prescrption input {
    padding-right: 20px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    width: 100px;
 }
</style>



<!--HTML-->
<div>
    <!--Main Page-->
    <div>
        <h4 class="header-text">會員管理 Member Management</h4>
        <div class="row rowStyle">
            <button type="button" class="btn btn-info" id="addLevel"><i class="fa fa-user-fa fa-tag"></i>  新增等級</button>
            <button type="button" class="btn btn-info" id="addMember"><i class="fa fa-user-plus"></i>  新增會員</button>
            <button type="button" class="btn btn-info" id="searchPurchaseInfo"><i class="fa fa-search"></i>  消費搜尋</button>
        </div>

        <!--Table-->
        <div class="table-responsive">
            <table class="table table-striped" id="memberGrid"></table>
        </div>
    </div>

    <!--Show Add new Purchase Record Modal-->
    <div id="myPurchaseStack" class="modal fade" role="dialog" style="z-index:1400;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增消費紀錄</h4>
                </div>

                <div class="modal-body">
                    <div class="table-responsive row clearfix ">
                        <div class="col-sm-12 column">

                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            商品編號
                                        </th>
                                        <th class="text-center">
                                            商品名稱
                                        </th>
                                        <th class="text-center">
                                            數量
                                        </th>
                                        <th class="text-center">
                                            金額
                                        </th>
                                        <th class="text-center">
                                            備註
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr0'>
                                        <td>1</td>
                                        <td><input type="text" name='addProductId1' placeholder='商品編號' class="form-control" /></td>
                                        <td>
                                            <input type="text" name='addProductName1' placeholder='商品名稱' class="form-control" disabled />
                                        </td>
                                        <td><input type="number" name='addProductNum1' placeholder='數量' class="form-control" /></td>
                                        <td><input type="text" name='addProductCost1' placeholder='金額' class="form-control" /></td>
                                        <td><button type="button" class="btn btn-warning" name='addProductMsg1' data-toggle="modal" data-target="#myNoteStack">備註</button></td>
                                    </tr>
                                    <tr id='addr1'></tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><button id="add_row" class="btn btn-default"><i class="fa fa-plus-square-o"></i> 新增商品</button></div>
                        <div class="col-sm-2"><button id='delete_row' class="btn btn-default"><i class="fa fa-minus-square-o"></i> 刪除商品</button></div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">取消</button>
                    <button class="btn btn-info" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>

    <!--Show Add new Health Record Modal-->
    <div id="myHealthStack" class="modal fade" role="dialog" style="z-index:1400;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增保健紀錄</h4>
                </div>

                <div class="modal-body">
                    <div class="table-responsive row clearfix ">
                        <div class="col-sm-12 column">

                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            保健日期
                                        </th>
                                        <th class="text-center">
                                            開始時間
                                        </th>
                                        <th class="text-center">
                                            結束時間
                                        </th>
                                        <th class="text-center">
                                            服務人員
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="H_date" type="text" placeholder='YYYY-MM-DD' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="H_stime" type="text" placeholder='HH:MM:SS' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="H_etime" type="text" placeholder='HH:MM:SS' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="H_people" type="text" placeholder='服務人員' class="form-control" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>



                </div>

                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">取消</button>
                    <button id="savehealth" class="btn btn-info" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>
    <div id="myScreenStack" class="modal fade" role="dialog" style="z-index:1400;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增篩檢紀錄</h4>
                </div>

                <div class="modal-body">
                    <div class="table-responsive row clearfix ">
                        <div class="col-sm-12 column">

                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            右SPH
                                        </th>
                                        <th class="text-center">
                                            右CYL
                                        </th>
                                        <th class="text-center">
                                            右AX
                                        </th>
                                        <th class="text-center">
                                            左SPH
                                        </th>
                                        <th class="text-center">
                                            左CYL
                                        </th>
                                        <th class="text-center">
                                            左AX
                                        </th>
                                        <th class="text-center">
                                            PD
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="s_RSPH" type="text" placeholder='RSPH' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="s_RCYL" type="text" placeholder='RCYL' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="s_RAX" type="text" placeholder='RAX' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="s_LSPH" type="text" placeholder='LSPH' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="s_LCYL" type="text" placeholder='LCYL' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="s_LAX" type="text" placeholder='LAX' class="form-control" />
                                        </td>
                                        <td>
                                            <input id="s_PD" type="text" placeholder='PD' class="form-control" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>



                </div>

                <div class="modal-footer">
                    <!--<button class="btn btn-info" data-dismiss="modal">取消</button>-->
                    <button id="savescreen" class="btn btn-info" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>

    <!--Show prescription of Glasses Modal-->
    <div id="myNoteStack" class="modal fade" role="dialog" style="z-index:1600;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">備註</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group" id="hypermyopia">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="sel1">鏡片資訊 Lens</label>
                            </div>
                        </div>

                        <!--近視專用-->
                        <div id="myopiaTable" class="table-responsive row clearfix">
                            <div class="col-sm-12 column" style="margin-top:15px">

                                <table class="table table-bordered" style="background:#C9E5EA">
                                    <tbody>
                                        <!--遠近兩用-->
                                        <tr>
                                            <th class="text-center">
                                                眼鏡用途
                                            </th>
                                            <td>
                                                <input id="FarNear" type="text" step="0.01"  onchange="setDecimal(this)" disabled>
                                            </td>
                                        </tr>
                                        <!--PD-->
                                        <tr>
                                            <th class="text-center">
                                                PD
                                            </th>
                                            <td>
                                                <input id="Pd" type="text" step="1"  disabled>
                                            </td>
                                        </tr>
                                        <!--度數-OD(右眼)-->
                                        <tr>
                                            <th class="text-center">
                                                度數-OD(右眼)
                                            </th>
                                            <td>
                                                <input id="RSPH" type="number"  disabled> /
                                                <input id="RCYL" type="number"  disabled> (
                                                <input id="RAX" type="number"  disabled> )

                                            </td>
                                        </tr>
                                        <!--度數-OS(左眼)-->
                                        <tr>
                                            <th class="text-center">
                                                度數-OS(左眼)
                                            </th>
                                            <td>
                                                <input id="LSPH" type="number" disabled> /
                                                <input id="LCYL" type="number" disabled> (
                                                <input id="LAX" type="number" disabled> )

                                            </td>
                                        </tr>
                                        <!--特殊加工-->
                                        <tr>
                                            <th class="text-center">
                                                特殊加工
                                            </th>
                                            <td>
                                                <input id="SpecProcess" type="text"  style="width:100%" disabled>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                   <div class="modal-body">
                        <!--備註區-->
                        <div class="form-group">
                            <label for="comment">備註:</label>
                            <textarea class="form-control" rows="5" id="Remark"></textarea>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <!--<button class="btn btn-warning" data-dismiss="modal">取消</button>-->
                    <button class="btn btn-warning" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>


    <!--Show Existed Product Type Modal-->
    <div id="myLevelStack" class="modal fade" role="dialog" style="z-index:1800;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header" style="background-color: #5A86B9;color: white; text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增會員等級</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="control-label">新增等級名稱:</label>
                            <input id="newlevel" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">查看已有等級:</label>
                            <!--Table-->
                            <div class="table-responsive">
                                <table class="table table-striped" id="LevelGrid"></table>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id="savelevel" class="btn btn-primary" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>

</div>	

    <!--Show Contents:Purchase Record-->
    <div class="overlay hide" id="overlayPurchaseRecord" style="background-color:#D7B1B8;z-index:4">
        <div class="popup">
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            <div class="overlayBox">
                
                <h4 class="header-text">消費紀錄 Purchase Record 
                    <!--<button type="button" class="btn btn-info" id="addPurchaseRecordBtn">+<i class="fa fa-shopping-cart"></i></button>-->
                </h4>
                <div class="row memberInfo">
                    <p id="P_m_id" class="col-md-3"></p>
                    <p id="P_m_name" class="col-md-3"></p>
                    <p id="P_m_address" class="col-md-6"></p>
                </div>

                <div class="row purchcaseInfo">
                    <p id="P_m_price" class="col-md-3"></p>
                    <p id="P_m_dividend" class="col-md-3"></p>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped" id="memberpurchaseGrid">
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <!--Show Contents:Screen Record-->
    <div class="overlay hide" id="overlayScreenRecord" style="background-color:#5C8C86;z-index:4">
        <div class="popup">
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            <div class="overlayBox">
                
                <h4 class="header-text">篩檢紀錄 Health Record 
                    <button type="button" class="btn btn-info" id="addScreenRecordBtn">
                        +<i class="fa fa-file-text-o"></i>
                    </button>
                </h4>
                <div class="row memberInfo">
                    <p id="S_m_id" class="col-md-3"></p>
                    <p id="S_m_name" class="col-md-3"></p>
                    <p id="S_m_address" class="col-md-6"></p>
                </div>

                <div class="row purchcaseInfo">
                    <p id="S_m_time" class="col-md-3"></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" id="screenGrid">
                    </table>
                </div>
                
            </div>
        </div>
    </div>

 <!--Show Contents:Health Record~~-->
<div class="overlay hide" id="overlayHealthRecord" style="background-color:#5C8C86;z-index:4">
    <div class="popup">
        <a href=""><i class="fa fa-times fa-lg"></i></a>
        <div class="overlayBox">

            <h4 class="header-text">
                保健紀錄 Health Record
                <button type="button" class="btn btn-info" id="addHealthRecordBtn">
                    +<i class="fa fa-file-text-o"></i>
                </button>
            </h4>
            <div class="row memberInfo">
                <p id="H_m_id" class="col-md-3"></p>
                <p id="H_m_name" class="col-md-3"></p>
                <p id="H_m_address" class="col-md-6"></p>
            </div>

            <div class="row purchcaseInfo">
                <p id="H_m_totletime" class="col-md-3"></p>
                <p id="H_m_time" class="col-md-3"></p>
            </div>

            <div class="table-responsive">
                <table class="table table-striped" id="healthGrid"></table>
            </div>

        </div>
    </div>
</div>
    <!--Show Contents:Purchase Search-->
    <div class="overlay hide" id="overlayPurchaseSearch" style="background-color:#D7B1B8;z-index:5">
        <div class="popup">
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            <div class="overlayBox">
                
                <h4 class="header-text">消費搜尋 Purchase Search</h4>
                <div class="row memberInfo">               
                    <div class="col-sm-4">
                        <!--<div id="dateRange" class="input-group">
                            <input id="dateRange_input" type="text" class="form-control" placeholder="日期區間" />
                            <button id="dateRange_btn" class="input-group-addon">
                                <i class="fa fa-calendar icon"></i>
                            </button>
                        </div>-->
                    </div>
                </div>
            

                <div class="table-responsive">
                    <table class="table table-striped" id="purchaseSearchGrid">
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <!--Show Contents:New Member-->
    <div class="overlay hide" id="overlayNewMember" style="z-index:3">
    <div class="popup">
        <a href=""><i class="fa fa-times fa-lg"></i></a>

        <div class="overlayBox">
            <h4 class="header-text">會員管理 Member Management</h4>
            <from class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 label-style">會員編號:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_id" class="form-control" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">註冊店家:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_company" class="form-control" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">註冊時間:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_date" class="form-control" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">會員姓名:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_name" class="form-control"  placeholder="姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 label-style">會員照片:</label>
                    <div class="col-sm-9">
                        <img id="m_picture" style='height:160px' src="">
                        <input type="text" id="m_pictureN" class="form-control" value="無">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">會員等級:</label>
                    <div class="col-sm-9">
                        <select id="selectlevelBox"  class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">會員電話:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_phone" class="form-control"  placeholder="電話">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 label-style">會員性別:</label>
                    <div class="col-sm-3">
                        <label class="radio-inline" id="m_gender">
                            <input type="radio" name="genderRadio" id="gender0" value="0" checked> 男
                            <br/>
                            <input type="radio" name="genderRadio" id="gender1" value="1"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 label-style">會員生日:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_birthday" class="form-control"  placeholder="yyyy-mm-dd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 label-style">會員信箱:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_email" class="form-control" placeholder="email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">會員地址:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_zipcode" class="form-control" placeholder="郵遞區號">
                        <input type="text" id="m_county" class="form-control" placeholder="國家/地區&城市">
                        <input type="text" id="m_township" class="form-control" placeholder="鄉鎮">
                        <input type="text" id="m_address" class="form-control"  placeholder="路名&門牌號碼">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">紅利點數:</label>
                    <div class="col-sm-9">
                        <input type="number" id="m_dividend" class="form-control" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">會員帳號:</label>
                    <div class="col-sm-9">
                        <input type="text" id="m_account" class="form-control"  placeholder="帳號">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">會員密碼:</label>
                    <div class="col-sm-9">
                        <input type="password" id="m_password1" class="form-control"  placeholder="密碼">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 label-style">再次密碼確認:</label>
                    <div class="col-sm-9">
                        <input type="password" id="m_password2" class="form-control" placeholder="密碼">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 label-style">使用狀態:</label>
                    <div class="col-sm-3">
                        <label class="radio-inline" id="m_statue">
                            <input type="radio" name="stateRadio" id="statue0" value="0" checked> 開啟
                            <br/>
                            <input type="radio" name="stateRadio" id="statue1" value="1"> 停用
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>上傳會員照片</label>
                    <div id="SETIMG">
                        <input id="uploadImg" name="uploadImg" type="file" multiple class="file-loading">
                        <div id="errorBlock" class="help-block"></div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-sm-3"></label>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-info" id="saveMemberBtn">儲存資料</button>
                        <div>
                        </div>
                    </div>
                    </div>
            </from>
        </div>
        </div>
    </div>


<!--Javascript-->
<script type="text/javascript" src="js/common/jsgrid.min.js"></script>
<script src="js/common/daterangepickerfunction.js"></script>
<script src="js/common/fileinput.min.js"></script>
<script>
    var memberid;
    var screenins;
    var screenid, mydate;
    $(document).ready(function () {
        //get select option
        $.ajax({
            type: "GET",
            url: "./memberManagementapi/loadselectlevel",
            data: '',
            dataType: "json"
        }).done(function (result) {
            var tdata = result;
            for (var i = 0 ; i <= tdata.length - 1 ; i++) {
                $("#selectlevelBox").append($("<option value='" + tdata[i].LevelId + "'>" + tdata[i].Level + "</option>"));
            }
        });

    });
    /*Member Info*/
    $(function () {
        $.ajax({
            type: "POST",
            url: "./memberManagementapi/member",
            data: { c_id: c_id, c_type: c_type },
            dataType: "json"
        }).done(function (result) {
            $("#memberGrid").jsGrid({
                width: "100%",

                //Functions
                filtering: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",
                controller: {
                    loadData: function (filter) {
                        return $.grep(result.members, function (member) {
                            return (!filter.Id || member.Id.indexOf(filter.Id) > -1)
                                && (!filter.Level || member.Level === filter.Level)
                                && (!filter.Name || member.Name.indexOf(filter.Name) > -1)
                                && (!filter.Phone || member.Phone.indexOf(filter.Phone) > -1)
                                && (!filter.Email || member.Email.indexOf(filter.Email) > -1)
                                && (!filter.Account || member.Account.indexOf(filter.Account) > -1)
                                && (!filter.Dividend || member.Dividend.indexOf(filter.Dividend) > -1)
                                && (!filter.Store || member.Store === filter.Store)
                                && (filter.Stop === undefined || member.Stop === filter.Stop);
                        });
                    }
                },
                //Fields
                fields: [
                            { name: "Id", title: "會員編號", type: "text", width: 120 * 1.5, editing: false, align: "center" },
                            {
                                name: "Level", title: "會員等級", type: "select", items: result.levels, valueField: "LevelId", textField: "Level", width: 120 * 1.4, editing: false
                            },
                            { name: "Name", title: "會員姓名", type: "text", width: 120 * 1.5, align: "center" },
                            { name: "Phone", title: "會員電話", type: "text", width: 120 * 1.5, align: "center" },
                            { name: "Email", title: "會員信箱", type: "text", width: 200 * 1.5 },
                            { name: "Account", title: "帳號", type: "text", width: 120 * 1.5, editing: false },
                            { name: "Password", title: "密碼", type: "text", width: 120 * 1.5, editing: false },
                            { name: "Dividend", title: "紅利點數", type: "text", width: 120 * 1.5, align: "center" },
                            { name: "Store", title: "註冊店家", type: "select", items: result.company, valueField: "StoreId", textField: "Store", width: 120 * 1.4, editing: false },
                            { name: "Statue", type: "checkbox", title: "停用", sorting: false, width: 90 * 1.5 },
                            {
                                name: "PurchaseRecord", title: "消費紀錄", width: 90 * 1.5, align: "center",
                                itemTemplate: function (_, item) {
                                    return $("<button>").text('消費')
                                           .css('background', '#C37583')
                                           .css('border', '1px solid #C37383')
                                           .css('border-radius', '3px')
                                           .css('color', 'white')
                                           .css('text-align', 'center')
                                           .on("click", function () {
                                               $('#P_m_id').html("會員編號：" + item.Id);
                                               $('#P_m_name').html("會員名稱：" + item.Name);
                                               $.ajax({
                                                   type: "POST",
                                                   url: "./memberManagementapi/memberpurchase",
                                                   data: { m_id: item.Id },
                                                   dataType: "json"
                                               }).done(function (result) {
                                                   for (var i in result.purchase) {
                                                       result.purchase[i].PurchaseDate = new Date(result.purchase[i].Date).toLocaleDateString() + " " + result.purchase[i].PurchaseDate;
                                                   }
                                                   $('#P_m_address').html("會員地址：" + result.member[0].zipcode + result.member[0].city + result.member[0].township + result.member[0].address);
                                                   $('#P_m_price').html("總消費額：" + result.price[0].price);
                                                   $('#P_m_dividend').html("紅利點數：" + result.member[0].dividend);
                                                   $("#memberpurchaseGrid").jsGrid({

                                                       height: 450,
                                                       width: "100%",

                                                       //Functions

                                                       filtering: true,
                                                       sorting: true,
                                                       paging: true,
                                                       autoload: true,
                                                       pageSize: 10,
                                                       pageButtonCount: 5,

                                                       controller: {
                                                           loadData: function (filter) {
                                                               return $.grep(result.purchase, function (purchase) {
                                                                   return (!filter.PurchaseId || purchase.PurchaseId.indexOf(filter.PurchaseId) > -1)
                                                                       && (!filter.c_id || purchase.c_id === filter.c_id)
                                                                       && (!filter.MemberId || purchase.MemberId.indexOf(filter.MemberId) > -1)
                                                                       && (!filter.MemberName || purchase.MemberName.indexOf(filter.MemberName) > -1)
                                                                       && (!filter.MemberLevel || purchase.MemberLevel === filter.MemberLevel)
                                                                       && (!filter.PurchaseDate || purchase.PurchaseDate.indexOf(filter.PurchaseDate) > -1)
                                                                       && (!filter.ProductId || purchase.ProductId.indexOf(filter.ProductId) > -1)
                                                                       && (!filter.ProductName || purchase.ProductName.indexOf(filter.ProductName) > -1)
                                                                       && (!filter.ProductType || purchase.ProductType === filter.ProductType)
                                                                       && (!filter.ProductNum || purchase.ProductNum.indexOf(filter.ProductNum) > -1)
                                                                       && (!filter.ProductCost || purchase.ProductCost.indexOf(filter.ProductCost) > -1)
                                                                       && (!filter.Dividend || purchase.Dividend.indexOf(filter.Dividend) > -1)
                                                               });
                                                           }
                                                       },

                                                       //Fields
                                                       fields: [
                                                           { name: "PurchaseId", title: "消費編號", type: "text", width: 100 * 1.8, align: "center" },
                                                            { name: "c_id", title: "消費店家", type: "select", items: result.company, valueField: "StoreId", textField: "Store", width: 120 * 1.4 },
                                                           { name: "MemberId", title: "會員編號", type: "text", width: 100 * 1.8, align: "center" },
                                                           { name: "MemberName", title: "會員姓名", type: "text", width: 100 * 1.2, align: "center" },
                                                           { name: "MemberLevel", title: "會員等級", type: "select", items: result.levels, valueField: "MemberLevelId", textField: "MemberLevel", width: 120 * 1.4 },
                                                           { name: "PurchaseDate", title: "購買日期", type: "text", width: 120 * 1.8, align: "center" },
                                                           { name: "ProductId", title: "商品貨號", type: "text", width: 100 * 1.8, align: "center" },
                                                           { name: "ProductName", title: "商品品名", type: "text", width: 150 * 1.8 },
                                                           { name: "ProductType", title: "商品類別", type: "select", items: result.product, valueField: "ProductTypeId", textField: "ProductType", width: 120 * 1.4 },
                                                           { name: "ProductNum", title: "購買數量", type: "number", width: 100 * 1.6, align: "center" },
                                                           { name: "ProductCost", title: "購買金額", width: 100 * 1.6, type: "number" },
                                                           { name: "Dividend", title: "獲得紅利", width: 100 * 1.6, type: "number" },
                                                           { name: "Return", type: "checkbox", title: "退貨", sorting: false, width: 50 * 1.5, filtering: false },
                                                           {
                                                               name: "Edit", title: "備註", width: 100 * 1.8, align: "center",
                                                               itemTemplate: function (_, item) {
                                                                   return $("<button>").text('備註')
                                                                          .css('background', '#C3858F')
                                                                          .css('border', '1px solid #D3B2B8')
                                                                          .css('border-radius', '3px')
                                                                          .css('color', 'white')
                                                                          .css('text-align', 'center')
                                                                          .on("click", function () {
                                                                              if (item.hypermyopia == null) { $('#hypermyopia').hide(); }
                                                                              else { $('#hypermyopia').show(); }
                                                                              $.ajax({
                                                                                  type: "POST",
                                                                                  url: "./memberManagementapi/purchasehypermyopia",
                                                                                  data: { 'id': item.PurchaseId },
                                                                                  dataType: "json"
                                                                              }).done(function (result) {
                                                                                  if (result.FarNear == 1) { $('#FarNear').val('近視眼鏡'); }
                                                                                  else if (result.FarNear == 2) { $('#FarNear').val('遠視眼鏡'); }
                                                                                  else if (result.FarNear == 3) { $('#FarNear').val('遠近兩用眼鏡'); }
                                                                                  if (item.hypermyopia != null) {
                                                                                      $('#Pd').val(result.Pd);
                                                                                      var Rod = result.Rod.split(" ");
                                                                                      $('#RSPH').val(Rod[0]);
                                                                                      $('#RCYL').val(Rod[1]);
                                                                                      $('#RAX').val(Rod[2]);
                                                                                      var Lod = result.Lod.split(" ");
                                                                                      $('#LSPH').val(Lod[0]);
                                                                                      $('#LCYL').val(Lod[1]);
                                                                                      $('#LAX').val(Lod[2]);
                                                                                      if (result.SpecProcess == '' || result.SpecProcess == null) { $('#SpecProcess').val('無'); }
                                                                                      else {
                                                                                          result.SpecProcess = result.SpecProcess.substring(1, result.SpecProcess.length - 1);
                                                                                          var special = result.SpecProcess.split("|");
                                                                                          var specialcontent = new Array();//呈現特殊加工的內文
                                                                                          for (var i = 0 ; i < special.length ; i++) {
                                                                                              $.ajax({
                                                                                                  type: "POST",
                                                                                                  url: "./ordersManagementapi/searchspecial",
                                                                                                  data: { 'id': special[i], 'i': i },
                                                                                                  dataType: "json"
                                                                                              }).done(function (result) {
                                                                                                  specialcontent[result.i] = result.content;
                                                                                                  if (result.i == special.length - 1) {
                                                                                                      var specialcontentWrite = '';//要列印的內文
                                                                                                      for (var j = 0 ; j < specialcontent.length ; j++) {
                                                                                                          specialcontentWrite += specialcontent[j];
                                                                                                      }
                                                                                                      $('#SpecProcess').val(specialcontentWrite);
                                                                                                  }
                                                                                              });
                                                                                          }
                                                                                      }
                                                                                  }
                                                                                  if (result.Remark == null || result.Remark == '') {
                                                                                      $('#Remark').val('無');
                                                                                  }
                                                                                  else {
                                                                                      $('#Remark').val(result.Remark);
                                                                                  }
                                                                              });
                                                                              $('#myNoteStack').modal('show');
                                                                              $(document.body).addClass("no-scroll");
                                                                          });
                                                               }
                                                           }
                                                       ]
                                                   });
                                               });
                                               $("#overlayPurchaseRecord").removeClass("hide");
                                               $("#overlayNewMember").addClass("hide");
                                               $(document.body).addClass("no-scroll");
                                           });
                                }
                            },
                            {
                                name: "HealthRecord", title: "篩檢紀錄", width: 90 * 1.5, align: "center",
                                itemTemplate: function (_, item) {
                                    return $("<button>").text('篩檢')
                                           .css('background', '#41867E')
                                           .css('border', '1px solid #71ABBA')
                                           .css('border-radius', '3px')
                                           .css('color', 'white')
                                           .css('text-align', 'center')
                                           .on("click", function () {
                                               memberid =item.Id;
                                               $('#S_m_id').html("會員編號：" + item.Id);
                                               $('#S_m_name').html("會員名稱：" + item.Name);
                                               $.ajax({
                                                   type: "POST",
                                                   url: "./memberManagementapi/loadscreen",
                                                   data: { 'id': item.Id },
                                                   dataType: "json"
                                               }).done(function (screendata) {
                                                   for (var i in screendata.screen) {
                                                       screendata.screen[i].mydate = new Date(screendata.screen[i].date).toLocaleDateString() + " " + screendata.screen[i].mydate;
                                                       screendata.screen[i].date = new Date(screendata.screen[i].date).toLocaleDateString();
                                                   }
                                                   $('#S_m_address').html("會員地址：" + screendata.member[0].zipcode + screendata.member[0].city + screendata.member[0].township + screendata.member[0].address);
                                                   $('#S_m_time').html("篩檢次數：" + screendata.time[0].time + "次");
                                                   $("#screenGrid").jsGrid({

                                                       height: 450,
                                                       width: "100%",

                                                       //FunctionsS
                                                       sorting: true,
                                                       paging: true,
                                                       autoload: true,
                                                       pageSize: 10,
                                                       pageButtonCount: 5,
                                                       deleteConfirm: "確定刪除這筆資料?",
                                                       onItemDeleted: function (args) {
                                                           $.ajax({
                                                               type: "POST",
                                                               url: "./memberManagementapi/deletescreen",
                                                               data: { 'id': args.item.m_screenid },
                                                               dataType: "json"
                                                           });
                                                       },

                                                       //Data
                                                       data: screendata.screen,

                                                       //Fields
                                                       fields: [
                                                           { name: "date", title: "紀錄日期", type: "text", width: 300 * 1.4, align: "center", editing: false },
                                                           { name: "branch", title: "店家", type: "text", width: 300 * 1.4, align: "center", editing: false },
                                                           {
                                                               name: "scrren", title: "查看/編輯", width: 90 * 1.5, align: "center",editing: false,
                                                               itemTemplate: function (_, item) {
                                                                   return $("<button>").text('查看')
                                                                          .css('background', '#41867E')
                                                                          .css('border', '1px solid #71ABBA')
                                                                          .css('border-radius', '3px')
                                                                          .css('color', 'white')
                                                                          .css('text-align', 'center')
                                                                          .on("click", function () {
                                                                              screenid = item.m_screenid;
                                                                              mydate = item.mydate;
                                                                              var Reye = item.Reye.split(" ");
                                                                              var Leye = item.Leye.split(" ");
                                                                              $('#s_RSPH').val(Reye[0]);
                                                                              $('#s_RCYL').val(Reye[1]);
                                                                              $('#s_RAX').val(Reye[2]);
                                                                              $('#s_LSPH').val(Leye[0]);
                                                                              $('#s_LCYL').val(Leye[1]);
                                                                              $('#s_LAX').val(Leye[2]);
                                                                              $('#s_PD').val(item.pd);
                                                                              screenins = 'update';
                                                                              $('#myScreenStack').modal('show');
                                                                              $(document.body).addClass("no-scroll");
                                                                          });
                                                               }
                                                           },
                                                           { type: "control", editButton: false }
                                                       ]
                                                   });
                                               });
                                               $("#overlayScreenRecord").removeClass("hide");
                                               $("#overlayNewMember").addClass("hide");
                                               $(document.body).addClass("no-scroll");
                                           });
                                }
                            },
                            {
                                name: "HealthRecord", title: "保健紀錄", width: 90 * 1.5, align: "center",
                                itemTemplate: function (_, item) {
                                    return $("<button>").text('保健')
                                           .css('background', '#41867E')
                                           .css('border', '1px solid #71ABBA')
                                           .css('border-radius', '3px')
                                           .css('color', 'white')
                                           .css('text-align', 'center')
                                           .on("click", function () {
                                               memberid =item.Id;
                                               $('#H_m_id').html("會員編號：" + item.Id);
                                               $('#H_m_name').html("會員名稱：" + item.Name);
                                               $.ajax({
                                                   type: "POST",
                                                   url: "./memberManagementapi/loadhealth",
                                                   data: { 'id': item.Id },
                                                   dataType: "json"
                                               }).done(function (healthdata) {
                                                   for (var i in healthdata.health) {
                                                       healthdata.health[i].date = new Date(healthdata.health[i].Stime).toLocaleDateString();
                                                   }

                                                   $('#H_m_address').html("會員地址：" + healthdata.member[0].zipcode + healthdata.member[0].city + healthdata.member[0].township + healthdata.member[0].address);
                                                   var ttime = 0;
                                                   for (var i = 0; i < healthdata.health.length;i++) {
                                                       ttime += healthdata.health[i].timeSS;
                                                   }
                                                   var ttimeS = ttime % 60;
                                                   var ttimeM = parseInt(ttime / 60);
                                                   $('#H_m_totletime').html("操作總時間：" + ttimeM + "分鐘" + ttimeS + "秒");
                                                   $('#H_m_time').html("保健次數：" + healthdata.time[0].time + "次");
                                                   $("#healthGrid").jsGrid({

                                                       height: 450,
                                                       width: "100%",

                                                       //Functions
                                                       editing: true,
                                                       sorting: true,
                                                       paging: true,
                                                       autoload: true,
                                                       pageSize: 10,
                                                       pageButtonCount: 5,
                                                       deleteConfirm: "確定刪除這筆資料?",
                                                       onItemDeleted: function (args) {
                                                           $.ajax({
                                                               type: "POST",
                                                               url: "./memberManagementapi/deletehealth",
                                                               data: { 'id': args.item.healthid },
                                                               dataType: "json"
                                                           });
                                                       },

                                                       //Data
                                                       data: healthdata.health,
                                                       controller: {
                                                           updateItem: function (item) {
                                                               return $.ajax({
                                                                   type: "POST",
                                                                   url: "./memberManagementapi/updatehealth",
                                                                   data: item,
                                                                   dataType: "json"
                                                               });
                                                           }
                                                       },
                                                       //Fields
                                                       fields: [
                                                           { name: "date", title: "紀錄日期", type: "text", width: 100 * 1.4, align: "center" },
                                                           { name: "branch", title: "店家", type: "text", width: 100 * 1.4, align: "center", editing: false },
                                                           { name: "starttime", title: "開始時間", type: "text", width: 100 * 1.4, align: "center" },
                                                           { name: "endtime", title: "結束時間", type: "text", width: 100 * 1.4, align: "center" },
                                                           { name: "time", title: "操作時間", type: "text", width: 150 * 1.4, align: "center", editing: false },
                                                           { name: "charge", title: "服務人員", type: "text", width: 100 * 1.4, align: "center" },
                                                           { type: "control" }
                                                       ]
                                                   });
                                               });

                                               $("#overlayHealthRecord").removeClass("hide");
                                               $("#overlayNewMember").addClass("hide");
                                               $(document.body).addClass("no-scroll");
                                           });
                                }
                            }, {
                                name: "Edit", title: "會員編輯", width: 90 * 1.5, align: "center",
                                itemTemplate: function (_, item) {
                                    return $("<button>").text('編輯')
                                           .css('background', '#F08A69')
                                           .css('border', '1px solid #DA7F45')
                                           .css('border-radius', '3px')
                                           .css('color', 'white')
                                           .css('text-align', 'center')
                                           .on("click", function () {
                                               $("#overlayNewMember").removeClass("hide");
                                               $(document.body).addClass("no-scroll");
                                               $.ajax({
                                                   type: "POST",
                                                   url: "./memberManagementapi/memberdata",
                                                   data: { 'id': item.Id },
                                                   dataType: "json"
                                               }).done(function (memberdata) {
                                                   memberdata.m_date = new Date(memberdata.date).toLocaleDateString() + " " + memberdata.m_date;
                                                   memberdata.m_birthday = new Date(memberdata.m_birthday).toLocaleDateString();
                                                   $('#m_id').val(memberdata.m_id);
                                                   $('#m_company').val(memberdata.m_company);
                                                   $('#m_date').val(memberdata.m_date);
                                                   $('#m_name').val(memberdata.m_name);
                                                   if (memberdata.m_picture == null) {
                                                       $('#m_picture').hide();
                                                       $('#m_pictureN').show();
                                                   } else {
                                                       $('#m_pictureN').hide();
                                                       $('#m_picture').show();
                                                       document.getElementById("m_picture").src = "data:image/jpg;base64 ," + memberdata.m_picture;
                                                   }
                                                   $('#selectlevelBox').val(memberdata.m_level);
                                                   $('#m_phone').val(memberdata.m_phone);
                                                   $('#gender' + (memberdata.m_gender)).prop("checked", 1);
                                                   $('#m_birthday').val(memberdata.m_birthday);
                                                   $('#m_email').val(memberdata.m_email);
                                                   $('#m_zipcode').val(memberdata.m_zipcode);
                                                   $('#m_county').val(memberdata.m_city);
                                                   $('#m_township').val(memberdata.m_township);
                                                   $('#m_address').val(memberdata.m_address);
                                                   $('#m_dividend').val(memberdata.m_dividend);
                                                   $('#m_account').val(memberdata.m_account);
                                                   $('#m_password1').val(memberdata.m_password);
                                                   $('#m_password2').val(memberdata.m_password);
                                                   $('#statue' + (memberdata.m_statue)).prop("checked", 1);
                                                   $('#SETIMG').val(null);
                                               });
                                               });
                                           }
                                    },
                            { type: "control", editButton: false, deleteButton: false }
                ]
            });
        });
    });
    $(function () {
        $.ajax({
            type: "GET",
            url: "./memberManagementapi/loadlevel",
            data: '',
            dataType: "json"
        }).done(function (result) {
            $("#LevelGrid").jsGrid({

                height: 400,
                width: "100%",

                //Functions
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 5,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",

                //Data
                data: result,
                controller: {
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./memberManagementapi/updatelevel",
                            data: item,
                            dataType: "json"
                        });
                    }
                },
                //Fields
                fields: [
                    { name: "LevelId", title: "等級編號", type: "text", width: 150, align: "center", editing: false },
                    { name: "Level", title: "等級名稱", type: "text", width: 300, align: "center" },
                    { name: "LevelCompetence", title: "備註", type: "text", width: 300, align: "center" },
                    { type: "control",deleteButton: false  }
                ]
            });
        });
        
    });

    //Close Member Purchase Record
    $('#overlayPurchaseRecord .fa-times').on('click', function () {
        $("#overlayPurchaseRecord").addClass("hide");
        $("#overlayNewMember").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });
    $('#overlayScreenRecord .fa-times').on('click', function () {
        $("#overlayScreenRecord").addClass("hide");
        $("#overlayNewMember").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });
    //Close Member Health Record
    $('#overlayHealthRecord .fa-times').on('click', function () {
        $("#overlayHealthRecord").addClass("hide");
        $("#overlayNewMember").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });


    /*Close or Open Add New Member*/
    $('#addMember').on('click', function () {
        $('#m_id').val('#New');
        $('#m_company').val(c_name);
        var Today=new Date();
        $('#m_date').val('#Now');
        $('#m_name').val('');
        $('#m_picture').hide();
        $('#m_pictureN').show();
        $('#SETIMG').val(null);
        $('#selectlevelBox').val(1);
        $('#m_phone').val('');
        $('#gender0').prop("checked", 1);
        $('#m_birthday').val('');
        $('#m_email').val('');
        //$('#twzipcode').twzipcode('reset');
        $('#m_zipcode').val('');
        $('#m_county').val('');
        $('#m_township').val('');
        $('#m_address').val('');
        $('#m_dividend').val(0);
        $('#m_account').val('');
        $('#m_password1').val('');
        $('#m_password2').val('');
        $('#statue0').prop("checked", 1);
        $("#overlayNewMember").removeClass("hide");
        $(document.body).addClass("no-scroll");
    });

    $('#overlayNewMember .fa-times').on('click', function () {
        $("#overlayNewMember").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

    $('#saveMemberBtn').on('click', function () {
            var emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
            var dateRule = /^((19|20)?[0-9]{2}[/ /.](0?[1-9]|1[012])[/ /.](0?[1-9]|[12][0-9]|3[01]))*$/;
            if ($('#m_email').val().search(emailRule) == -1) {
                alert("請確認電子郵件是否正確");
            }
            else if ($('#m_birthday').val().search(dateRule) == -1) {
                alert("生日格式錯誤(yyyy/mm/dd)");
            }
            else if ($("#m_name").val() == '' || $("#m_phone").val() == '' || $("#m_address").val() == '' || $("#m_county").val() == '' || $("#m_township").val() == '' || $("#m_zipcode").val() == '' || $("#m_account").val() == '' || $("#m_password1").val() == '') {
                alert('資料不完整');
            }
            else if ($("#m_password1").val() != $("#m_password2").val()) {
                alert('密碼不正確');
            }
            else {
                if ($('#m_id').val() == '#New') {
                    $.post("./memberManagementapi/memberinsert",
                     {
                         'm_company': c_id,
                         'm_name': $('#m_name').val(),
                         'm_level': $('#selectlevelBox').val(),
                         'm_phone': $('#m_phone').val(),
                         'm_picture': $('#SETIMG').val(),
                         'm_gender': $('input:radio:checked[name="genderRadio"]').val(),
                         'm_birthday': $('#m_birthday').val(),
                         'm_email': $('#m_email').val(),
                         'm_city': $('#m_county').val(),
                         'm_township': $('#m_township').val(),
                         'm_postalcode': $('#m_zipcode').val(),
                         'm_address': $('#m_address').val(),
                         'm_dividend': $('#m_dividend').val(),
                         'm_account': $('#m_account').val(),
                         'm_password': $('#m_password1').val(),
                         'm_statue': $('input:radio:checked[name="stateRadio"]').val()
                     }
                     ).done(function (result) {
                         console.log('rrr');
                         if (result == 'IDrepeat') {
                             alert('此帳號已被使用');
                         }
                         else {
                             alert('新增成功');
                             $(".overlay").addClass("hide");
                             $(document.body).removeClass("no-scroll");
                             window.location.reload();
                         }
                     });
                }
                else {
                    $.post("./memberManagementapi/memberupdate",
                      {
                          'm_id': $('#m_id').val(),
                          'm_date': $('#m_date').val(),
                          'm_name': $('#m_name').val(),
                          'm_level': $('#selectlevelBox').val(),
                          'm_phone': $('#m_phone').val(),
                          'm_picture': $('#SETIMG').val(),
                          'm_gender': $('input:radio:checked[name="genderRadio"]').val(),
                          'm_birthday': $('#m_birthday').val(),
                          'm_email': $('#m_email').val(),
                          'm_city': $('#m_county').val(),
                          'm_township': $('#m_township').val(),
                          'm_postalcode': $('#m_zipcode').val(),
                          'm_address': $('#m_address').val(),
                          'm_dividend': $('#m_dividend').val(),
                          'm_account': $('#m_account').val(),
                          'm_password': $('#m_password1').val(),
                          'm_statue': $('input:radio:checked[name="stateRadio"]').val()
                      }
                      ).done(function (result) {
                          console.log('rrr');
                          if (result == 'IDrepeat') {
                              alert('此帳號已被使用');
                          }
                          else {
                              alert('修改成功');
                              $(".overlay").addClass("hide");
                              $(document.body).removeClass("no-scroll");
                              window.location.reload();
                          }
                      });
                }
            }
    });

    /*Close or Open Purchase Serarch*/
    $(function () {
        $('#searchPurchaseInfo').on('click', function () {
            $.ajax({
                type: "POST",
                url: "./memberManagementapi/purchase",
                data: { c_id: c_id, c_type: c_type },
                dataType: "json"
            }).done(function (result) {
                for (var i in result.purchase) {
                    result.purchase[i].PurchaseDate = new Date(result.purchase[i].Date).toLocaleDateString() + " " + result.purchase[i].PurchaseDate;
                }
                $("#purchaseSearchGrid").jsGrid({

                    height: 450,
                    width: "100%",

                    //Functions

                    filtering: true,
                    sorting: true,
                    paging: true,
                    autoload: true,
                    pageSize: 10,
                    pageButtonCount: 5,

                    controller: {
                        loadData: function (filter) {
                            return $.grep(result.purchase, function (purchase) {
                                return (!filter.PurchaseId || purchase.PurchaseId.indexOf(filter.PurchaseId) > -1)
                                    && (!filter.c_id || purchase.c_id === filter.c_id)
                                    && (!filter.MemberId || purchase.MemberId.indexOf(filter.MemberId) > -1)
                                    && (!filter.MemberName || purchase.MemberName.indexOf(filter.MemberName) > -1)
                                    && (!filter.MemberLevel || purchase.MemberLevel === filter.MemberLevel)
                                    && (!filter.PurchaseDate || purchase.PurchaseDate.indexOf(filter.PurchaseDate) > -1)
                                    && (!filter.ProductId || purchase.ProductId.indexOf(filter.ProductId) > -1)
                                    && (!filter.ProductName || purchase.ProductName.indexOf(filter.ProductName) > -1)
                                    && (!filter.ProductType || purchase.ProductType === filter.ProductType)
                                    && (!filter.ProductNum || purchase.ProductNum.indexOf(filter.ProductNum) > -1)
                                    && (!filter.ProductCost || purchase.ProductCost.indexOf(filter.ProductCost) > -1)
                                    && (!filter.Dividend || purchase.Dividend.indexOf(filter.Dividend) > -1)
                            });
                        }
                    },

                    //Fields
                    fields: [
                        { name: "PurchaseId", title: "消費編號", type: "text", width: 100 * 1.8, align: "center" },
                         { name: "c_id", title: "消費店家", type: "select", items: result.company, valueField: "StoreId", textField: "Store", width: 120 * 1.4 },
                        { name: "MemberId", title: "會員編號", type: "text", width: 100 * 1.8, align: "center" },
                        { name: "MemberName", title: "會員姓名", type: "text", width: 100 * 1.2, align: "center" },
                        { name: "MemberLevel", title: "會員等級", type: "select", items: result.levels, valueField: "MemberLevelId", textField: "MemberLevel", width: 120 * 1.4 },
                        { name: "PurchaseDate", title: "購買日期", type: "text", width: 120 * 1.8, align: "center" },
                        { name: "ProductId", title: "商品貨號", type: "text", width: 100 * 1.8, align: "center" },
                        { name: "ProductName", title: "商品品名", type: "text", width: 150 * 1.8 },
                        { name: "ProductType", title: "商品類別", type: "select", items: result.product, valueField: "ProductTypeId", textField: "ProductType", width: 120 * 1.4 },
                        { name: "ProductNum", title: "購買數量", type: "number", width: 100 * 1.6, align: "center" },
                        { name: "ProductCost", title: "購買金額", width: 100 * 1.6, type: "number" },
                        { name: "Dividend", title: "獲得紅利", width: 100 * 1.6, type: "number" },
                        { name: "Return", type: "checkbox", title: "退貨", sorting: false, width: 50 * 1.5, filtering: false },
                        {
                            name: "Edit", title: "備註", width: 100 * 1.8, align: "center",
                            itemTemplate: function (_, item) {
                                return $("<button>").text('備註')
                                       .css('background', '#C3858F')
                                       .css('border', '1px solid #D3B2B8')
                                       .css('border-radius', '3px')
                                       .css('color', 'white')
                                       .css('text-align', 'center')
                                       .on("click", function () {
                                           if (item.hypermyopia == null || item.hypermyopia == 0) {
                                               $('#hypermyopia').hide();
                                               $.ajax({
                                                   type: "POST",
                                                   url: "./memberManagementapi/purchasehypermyopia",
                                                   data: { 'id': item.PurchaseId },
                                                   dataType: "json"
                                               }).done(function (result) {
                                                   if (result.Remark == null || result.Remark == '') {
                                                       $('#Remark').val('無');
                                                   }
                                                   else {
                                                       $('#Remark').val(result.Remark);
                                                   }
                                               });
                                               $('#myNoteStack').modal('show');
                                               $(document.body).addClass("no-scroll");
                                           }
                                           else {
                                               $('#hypermyopia').show();
                                               $.ajax({
                                                   type: "POST",
                                                   url: "./memberManagementapi/purchasehypermyopia",
                                                   data: { 'id': item.PurchaseId },
                                                   dataType: "json"
                                               }).done(function (result) {
                                                   if (result.FarNear == 1) { $('#FarNear').val('近視眼鏡'); }
                                                   else if (result.FarNear == 2) { $('#FarNear').val('遠視眼鏡'); }
                                                   else if (result.FarNear == 3) { $('#FarNear').val('遠近兩用眼鏡'); }
                                                   $('#Pd').val(result.Pd);
                                                   var Rod = result.Rod.split(" ");
                                                   $('#RSPH').val(Rod[0]);
                                                   $('#RCYL').val(Rod[1]);
                                                   $('#RAX').val(Rod[2]);
                                                   var Lod = result.Lod.split(" ");
                                                   $('#LSPH').val(Lod[0]);
                                                   $('#LCYL').val(Lod[1]);
                                                   $('#LAX').val(Lod[2]);
                                                   if (result.SpecProcess == '' || result.SpecProcess == null) { $('#SpecProcess').val('無'); }
                                                   else {
                                                       result.SpecProcess = result.SpecProcess.substring(1, result.SpecProcess.length - 1);
                                                       var special = result.SpecProcess.split("|");
                                                       var specialcontent = new Array();//呈現特殊加工的內文
                                                       for (var i = 0 ; i < special.length ; i++) {
                                                           $.ajax({
                                                               type: "POST",
                                                               url: "./ordersManagementapi/searchspecial",
                                                               data: { 'id': special[i], 'i': i },
                                                               dataType: "json"
                                                           }).done(function (result) {
                                                               specialcontent[result.i] = result.content;
                                                               if (result.i == special.length - 1) {
                                                                   var specialcontentWrite = '';//要列印的內文
                                                                   for (var j = 0 ; j < specialcontent.length ; j++) {
                                                                       specialcontentWrite += specialcontent[j];
                                                                   }
                                                                   $('#SpecProcess').val(specialcontentWrite);
                                                               }
                                                           });
                                                       }
                                                   }
                                                   $('#Remark').val(result.Remark);
                                               });
                                               $('#myNoteStack').modal('show');
                                               $(document.body).addClass("no-scroll");
                                           }
                                       });
                            }
                        }
                    ]
                });
            });
            $("#overlayPurchaseSearch").removeClass("hide");
            $(document.body).addClass("no-scroll");
        });
    });

    $('#overlayPurchaseSearch .fa').on('click', function () {
         $("#overlayPurchaseSearch").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });


    /*Add new Purchase Record Modal*/
    $('#addPurchaseRecordBtn').on('click', function () {
        $('#myPurchaseStack').modal('show');
    }); 

    /*Add new Health Record Modal*/
    $('#addHealthRecordBtn').on('click', function () {
        $('#H_date').val('');
        $('#H_stime').val('');
        $('#H_etime').val('');
        $('#H_people').val('');
        $('#myHealthStack').modal('show');
    }); 
    $('#savehealth').on('click', function () {
        var dateRule = /^((19|20)?[0-9]{2}[- -.](0?[1-9]|1[012])[- -.](0?[1-9]|[12][0-9]|3[01]))*$/;
        var timeRule = /^(([0-1][0-9]|2[0-3])\:[0-5][0-9]\:[0-5][0-9])*$/;
        if ($("#H_date").val() == '' || $("#H_stime").val() == '' || $("#H_etime").val() == '' || $("#H_people").val() == '') {
            alert('資料不完整');
        }
        else if ($('#H_date').val().search(dateRule) == -1) {
            alert("日期格式錯誤(yyyy-mm-dd)");
        }
        else if ($('#H_stime').val().search(timeRule) == -1) {
            alert("時間格式錯誤(HH:MM:SS)");
        }
        else if ($('#H_etime').val().search(timeRule) == -1) {
            alert("時間格式錯誤(HH:MM:SS)");
        }
        else {
            $.post("./memberManagementapi/inserthealth",
                 {
                     'c_id': c_id,
                     'm_id': memberid,
                     'h_date': $('#H_date').val(),
                     'h_stime': $('#H_stime').val(),
                     'h_etime': $('#H_etime').val(),
                     'h_people': $('#H_people').val(),
                 }
                 ).done(function (result) {
                     if (result == "success") {
                         alert("新增記錄成功");
                         $("#overlayHealthRecord").addClass("hide");
                     }
                 });
        }
    });
    $('#addScreenRecordBtn').on('click', function () {
        $('#s_RSPH').val('');
        $('#s_RCYL').val('');
        $('#s_RAX').val('');
        $('#s_LSPH').val('');
        $('#s_LCYL').val('');
        $('#s_LAX').val('');
        $('#s_PD').val('');
        screenins = 'insert';
        $('#myScreenStack').modal('show');
    });
    $('#savescreen').on('click', function () {
        if ($("#s_RSPH").val() == '' || $("#s_RCYL").val() == '' || $("#s_RAX").val() == '' || $("#s_LSPH").val() == '' || $("#s_LCYL").val() == '' || $("#s_LAX").val() == '' || $('#s_PD').val()=='') {
            alert('資料不完整');
        }
        else if (screenins == 'insert') {
            $.post("./memberManagementapi/insertscreen",
                 {
                     'c_id': c_id,
                     'm_id': memberid,
                     's_RSPH': $('#s_RSPH').val(),
                     's_RCYL': $('#s_RCYL').val(),
                     's_RAX':  $('#s_RAX').val(),
                     's_LSPH':  $('#s_LSPH').val(),
                     's_LCYL':  $('#s_LCYL').val(),
                     's_LAX':  $('#s_LAX').val(),
                     's_PD': $('#s_PD').val()
                 }
                 ).done(function (result) {
                     if (result == "success") {
                         alert("新增記錄成功");
                         $("#overlayScreenRecord").addClass("hide");
                     }
                 });
        }
        else if (screenins == 'update') {
            $.post("./memberManagementapi/updatescreen",
                 {
                     'c_id': c_id,
                     'm_id': memberid,
                     's_id': screenid,
                     'date':mydate,
                     's_RSPH': $('#s_RSPH').val(),
                     's_RCYL': $('#s_RCYL').val(),
                     's_RAX': $('#s_RAX').val(),
                     's_LSPH': $('#s_LSPH').val(),
                     's_LCYL': $('#s_LCYL').val(),
                     's_LAX': $('#s_LAX').val(),
                     's_PD': $('#s_PD').val()
                 }
                 ).done(function (result) {
                     if (result == "success") {
                         alert("修改記錄成功");
                         $("#overlayScreenRecord").addClass("hide");
                     }
                 });
        }
    });
    /*Add new Level Modal*/
    $('#addLevel').on('click', function () {
        $('#myLevelStack').modal('show');
        $('#newlevel').val('');
    });
    $('#savelevel').on('click', function () {
        if ($('#newlevel').val() == '') {
        }
        else {
            $.post("./memberManagementapi/insertlevel",
             { 'level': $('#newlevel').val() }
             ).done(function (result) {
                 if (result == "success") {
                     alert("新增會員等級 " + $('#newlevel').val() + " 成功");
                     window.location.reload();
                 }
             });
        }
    });

    /*Show Existed Level Modal*/
    $('#showExistedLevel').on('click', function () {
        $('#myExistedLevelStack').modal('show');
    });

    $('.existedLevelBtn').on('click', function () {
        $('#myExistedLevelStack').modal('hide');
    });


    /*Add row or Delete row of Purchase Item*/
    //$(function(){
    //    var i=1;
    //    $("#add_row").click(function(){
    //        $('#addr'+i).html(  "<td>"+ (i+1) +"</td>"+
    //                            "<td><input name='addProductId"+i+"' type='text' placeholder='商品編號' class='form-control input-md'  /></td>"+
    //                            "<td><input name='addProductName"+i+"' type='text' placeholder='商品名稱' class='form-control input-md' disabled/></td>"+
    //                            "<td><input  name='addProductNum"+i+"' type='number' placeholder='數量'  class='form-control input-md'/></td>"+
    //                            "<td><input  name='addProductCost"+i+"' type='text' placeholder='金額'  class='form-control input-md'/></td>"+
    //                            "<td><button type='button' class='btn btn-warning' name='addProductMsg"+i+"' data-toggle='modal' data-target='#myNoteStack'>備註</button></td>");

    //        $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
    //        i++; 
    //    });
        
    //    $("#delete_row").click(function(){
    //        if(i>1){
    //            $("#addr"+(i-1)).html('');
    //                i--;
    //        }
    //    });
    //});


    /*the setTwoDecimalPlace method*/
    function setDecimal(input) {
        if(input.value>0){
            input.value = parseFloat(input.value).toFixed(2);
        }
    }

    /*address*/
    $('#twzipcode').twzipcode({
        // 依序套用至縣市、鄉鎮市區及郵遞區號框
        'css': ['county', 'district', 'zipcode']
    });
    $("#uploadImg").fileinput({
        uploadUrl: "./memberManagementapi/insertpic",//URL
        uploadAsync: true,
        maxFileCount: 1,
        dropZoneTitle: '請拖曳或新增一張長寬一比一的照片，可為空',
        allowedFileExtensions: ["jpg", "gif", "png"]
    });

    $("#uploadImg").on("fileuploaded", function (event, data) {
        $('#SETIMG').val('./public/images/uploads/' + data.response.name);
        console.log($('#SETIMG').val());
    });
</script>