<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />

<style>
/*Header*/
.header-text {
  	border-bottom: 5px solid #ddd;
  	padding-bottom: 10px;
  	margin:0px 10px 30px 10px;
}

.header-text-sm {
  	border-bottom: 5px double #9CAFB7;
	padding-bottom: 10px;
	margin: 25px;
	color: #9CAFB7;
	font-weight: 600;
	opacity: 0.7;
}

/*Right Side*/
.smart-widget {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
  border-color: #e4e4e4;
  border-top-width: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.smart-widget .smart-widget-inner {
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px
}

.smart-widget .smart-widget-inner .smart-widget-body {
  padding: 15px
}

.container {
    width: 100%;
    padding: 12px;
}
/*---------*/
/*Record*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
	position: fixed; 
	overflow-y: scroll;
    background: #AEACD1 none repeat scroll 0% 0%;   
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
    z-index: 3;
}

.overlay .fa{
    padding: 15px;
    float: right;
    margin:15px;

}

.overlayBox{
    margin:13px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}

</style>



<div>
    <!--Title-->
    <h4 class="header-text">聯絡我們 Contact Us</h4>
    <!--Content-->
    <div class="row">
        <div class="col-md-12">
            <div class="smart-widget">
                <div class="container">
                    <!--Table-->
                    <div class="table-responsive">
                        <table class="table table-striped" id="messageGrid"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Show Contents:New Branch-->
    <div class="overlay hide" id="overlaySEEdata">
        <div class="popup">
            <a href=""><i class="fa fa-times fa-lg"></i></a>

            <div class="overlayBox">
                <h4 class="header-text">聯絡我們</h4>
                <from class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 label-style">留言日期:</label>
                        <div class="col-sm-9">
                            <input id="time" type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">留言者:</label>
                        <div class="col-sm-9">
                            <input id="name" type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">電話:</label>
                        <div class="col-sm-9">
                            <input id="phone" type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">電子信箱:</label>
                        <div class="col-sm-9">
                            <input id="email" type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">主旨:</label>
                        <div class="col-sm-9">
                            <input id="title" type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">內容:</label>
                        <div class="col-sm-9">
                            <textarea id="context" rows="10" class="form-control" readonly></textarea>
                        </div>
                    </div>

                </from>
            </div>
        </div>
    </div>
</div>


            <!-- jQuery JS PlugIn -->
     <script src="js/common/jsgrid.min.js" type="text/javascript"></script>
     <script type="text/javascript">
                
                $(function () {
                    $.ajax({
                        type: "GET",
                        url: "./messageManagementapi/loadItem",
                        data: '',
                        dataType: "json"
                    }).done(function (result) {
                        for (var i in result) {
                            result[i].msgDate = new Date(result[i].msgDate).toLocaleDateString();
                        }
                        $("#messageGrid").jsGrid({
                            height: 500,
                            width: "100%",

                            //Functions
                            filtering: true,
                            sorting: true,
                            paging: true,
                            autoload: true,
                            pageSize: 10,
                            pageButtonCount: 10,
                            deleteConfirm: "確定刪除這筆資料?",
                            onItemDeleted: function (args) {
                                $.ajax({
                                    type: "POST",
                                    url: "./messageManagementapi/deleteItem",
                                    data: { 'id': args.item.msgId },
                                    dataType: "json"
                                });
                            },
                            rowClick: function (args) {
                                $(".overlay").removeClass("hide");
                                $(document.body).addClass("no-scroll");
                                $('#time').val(args.item.msgDate);
                                $('#name').val(args.item.msgName);
                                $('#phone').val(args.item.msgPhone);
                                $('#email').val(args.item.msgEmail);
                                $('#title').val(args.item.msgTitle);
                                $('#context').val(args.item.msgContext);
                                $.ajax({
                                    type: "POST",
                                    url: "./messageManagementapi/updateread",
                                    data: args.item,
                                    dataType: "json"
                                });
                                $.ajax({
                                    type: "GET",
                                    url: "./messageManagementapi/loadnoread",
                                    data: '',
                                    dataType: "json"
                                }).done(function (result) {
                                    if (result[0].contentusReadyetNUM == 0) {
                                        $('#noreadmessage').hide();
                                        $('#Smessage').hide();
                                    }
                                    else {
                                        $('#noreadmessage').show();
                                        $('#Smessage').show();
                                    }
                                    $('#noreadmessage').html(result[0].contentusReadyetNUM);
                                    $('#Smessage').html(result[0].contentusReadyetNUM);
                                });
                            },

                            //Data
                            controller: {
                                loadData: function (filter) {
                                    return $.grep(result, function (message) {
                                        return (!filter.msgDate || message.msgDate.indexOf(filter.msgDate) > -1)
                                                && (!filter.msgName || message.msgName.indexOf(filter.msgName) > -1)
                                                && (!filter.msgPhone || message.msgPhone.indexOf(filter.msgPhone) > -1)
                                                && (!filter.msgEmail || message.msgEmail.indexOf(filter.msgEmail) > -1)
                                                && (!filter.msgTitle || message.msgTitle.indexOf(filter.msgTitle) > -1)
                                                && (!filter.msgContext || message.msgContext.indexOf(filter.msgContext) > -1)
                                    });
                                }
                            },

                            //Fields
                            fields: [
                                { name: "msgDate", title: "留言日期", type: "text", width: 150, align: "center" },
                                { name: "readyet", type: "checkbox", title: "已讀", width: 100 * 1.4, filtering: false },
                                { name: "msgName", title: "留言者", type: "text", width: 150, align: "center" },
                                { name: "msgPhone", title: "電話", type: "text", width: 150, align: "center" },
                                { name: "msgEmail", title: "電子信箱", type: "text", width: 400 },
                                { name: "msgTitle", title: "主旨", type: "text", width: 400 },
                                { type: "control", editButton: false }
                            ]
                        });
                    });
                });
                $('#overlaySEEdata .fa').on('click', function () {
                    $(".overlay").addClass("hide");
                    $(document.body).removeClass("no-scroll");
                    $.ajax({
                        type: "GET",
                        url: "./messageManagementapi/loadItem",
                        data: '',
                        dataType: "json"
                    }).done(function (result) {
                        for (var i in result) {
                            result[i].msgDate = new Date(result[i].msgDate).toLocaleDateString();
                        }
                        $("#messageGrid").jsGrid({
                            height: 500,
                            width: "100%",

                            //Functions
                            filtering: true,
                            sorting: true,
                            paging: true,
                            autoload: true,
                            pageSize: 10,
                            pageButtonCount: 10,
                            deleteConfirm: "確定刪除這筆資料?",
                            onItemDeleted: function (args) {
                                $.ajax({
                                    type: "POST",
                                    url: "./messageManagementapi/deleteItem",
                                    data: { 'id': args.item.msgId },
                                    dataType: "json"
                                });
                            },
                            rowClick: function (args) {
                                $(".overlay").removeClass("hide");
                                $(document.body).addClass("no-scroll");
                                $('#time').val(args.item.msgDate);
                                $('#name').val(args.item.msgName);
                                $('#phone').val(args.item.msgPhone);
                                $('#email').val(args.item.msgEmail);
                                $('#title').val(args.item.msgTitle);
                                $('#context').val(args.item.msgContext);
                                $.ajax({
                                    type: "POST",
                                    url: "./messageManagementapi/updateread",
                                    data: args.item,
                                    dataType: "json"
                                });
                                $.ajax({
                                    type: "GET",
                                    url: "./messageManagementapi/loadnoread",
                                    data: '',
                                    dataType: "json"
                                }).done(function (result) {
                                    if (result[0].contentusReadyetNUM == 0) {
                                        $('#noreadmessage').hide();
                                        $('#Smessage').hide();
                                    }
                                    else {
                                        $('#noreadmessage').show();
                                        $('#Smessage').show();
                                    }
                                    $('#noreadmessage').html(result[0].contentusReadyetNUM);
                                    $('#Smessage').html(result[0].contentusReadyetNUM);
                                });
                            },

                            //Data
                            controller: {
                                loadData: function (filter) {
                                    return $.grep(result, function (message) {
                                        return (!filter.msgDate || message.msgDate.indexOf(filter.msgDate) > -1)
                                                && (!filter.msgName || message.msgName.indexOf(filter.msgName) > -1)
                                                && (!filter.msgPhone || message.msgPhone.indexOf(filter.msgPhone) > -1)
                                                && (!filter.msgEmail || message.msgEmail.indexOf(filter.msgEmail) > -1)
                                                && (!filter.msgTitle || message.msgTitle.indexOf(filter.msgTitle) > -1)
                                                && (!filter.msgContext || message.msgContext.indexOf(filter.msgContext) > -1)
                                    });
                                }
                            },

                            //Fields
                            fields: [
                                { name: "msgDate", title: "留言日期", type: "text", width: 150, align: "center" },
                                { name: "readyet", type: "checkbox", title: "已讀", width: 100 * 1.4, filtering: false },
                                { name: "msgName", title: "留言者", type: "text", width: 150, align: "center" },
                                { name: "msgPhone", title: "電話", type: "text", width: 150, align: "center" },
                                { name: "msgEmail", title: "電子信箱", type: "text", width: 400 },
                                { name: "msgTitle", title: "主旨", type: "text", width: 400 },
                                { type: "control", editButton: false }
                            ]
                        });
                    });
                   
                });

       </script>


