<!--jQuery PlugIn-->
<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/sumoselect.css" />


<!--css-->
<style>
    /*Header*/
    .header-text {
        border-bottom: 5px solid #ddd;
        padding-bottom: 10px;
        margin: 10px 10px 20px 10px;
    }

    .rowStyle {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    #addNews {
        float: right;
        font-weight: 600;
        background-color: #66AD91;
        border-color: #6E937C;
    }

        #addNews:hover {
            background-color: #53A584;
            border-color: #6E937C;
        }

    /*EditorBg*/
    .no-scroll {
        overflow: hidden;
    }

    .popup {
        position: relative;
        margin: 10px auto;
        height: 100%;
    }

    .hide {
        display: none;
    }

    .overlay {
        position: fixed;
        overflow-y: scroll;
        background: #A8D5CA none repeat scroll 0% 0%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-top: 52px;
        z-index: 3;
    }

        .overlay .fa {
            padding: 15px;
            float: right;
            margin: 15px;
        }

    .editorBox {
        margin: 10px;
        min-height: 95%;
        padding: 5% 10%;
        color: #333;
        background: white;
        font-family: '微軟正黑體','Nixie One', sans-serif;
        font-size: 13pt;
    }

    /*Selector*/
    .SumoSelect .select-all {
        height: 100%;
    }

    /*Editor Form*/
    .form-horizontal .form-group {
        margin: 0px;
        margin-bottom: 10px;
    }

    .label-style {
        text-align: center;
    }

    #publishBtn {
        float: right;
        background-color: #96D2BA;
        border-color: #7EC699;
        font-weight: 600;
    }

        #publishBtn:hover {
            background-color: #68AB90;
            border-color: #6E937C;
        }
</style>

<!--Html-->
<div >
    <!--Main Page-->
    <div>
        <h4 class="header-text">最新消息 News Management</h4>
        <div class="row rowStyle">
            <button type="button" class="btn btn-info" id="addNews"><i class="fa fa-file-text"></i>  新增消息</button>
        </div>


        <!--Table-->
        <div class="table-responsive">
            <table class="table table-striped" id="newsGrid"></table>
        </div>
    </div>


    <!--Show Contents-->
    <div class="overlay hide">
        <div class="popup">

            <a href=""><i class="fa fa-times fa-lg"></i></a>

            <div class="editorBox">
                <h4 class="header-text">最新消息 Publish a News</h4>
                <form class="form-horizontal" role="form">

                    <div class="form-group" id="writeplace">
                        <label class="col-sm-3 label-style">發布對象:</label>
                        <div class="col-sm-9">
                            <select id="SlectBox" multiple>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">消息標題:</label>
                        <div class="col-sm-9">
                            <input type="text" id="Title" class="form-control" value="標題一">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">消息內容:</label>
                        <div class="col-sm-9"><textarea name="editor"></textarea></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 label-style">發布狀態:</label>
                        <div class="col-sm-3">
                            <label class="radio-inline" id="Publish">
                                <input type="radio" name="postRadio" id="Publish1" value="1">發布
                                <br />
                                <input type="radio" name="postRadio" id="Publish0" value="0">不發布
                                <br />
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-info" id="publishBtn">儲存資料</button>
                            <div>
                            </div>
                            
                        </div>
                    </div>
                    </form>
            </div>

        </div>
    </div>

</div>	
<script type="text/javascript" src="js/common/jquery.sumoselect.min.js"></script>
<script type="text/javascript" src="js/common/jsgrid.min.js"></script>
<script type="text/javascript" src="js/backend/ngrouter.js"></script>


<!--javascript-->
<script>
    /*Datas of Table For News Info*/
    var dataid = "";//判斷是否為新增
    var DT = "";//紀錄修改前時間
    var selectC;//佔存發布對象select
    $(function () {
        if (c_type == 1) { $('#writeplace').show(); }
        else { $('#writeplace').hide(); }
        $.ajax({
            type: "POST",
            url: "./newsManagementapi/news",
            data: { id: c_id, type: c_type },
            dataType: "json"
        }).done(function (result) {
            for (var i in result.news) {
                result.news[i].Date = new Date(result.news[i].DTime).toLocaleDateString();
                result.news[i].DateTime = new Date(result.news[i].DTime).toLocaleDateString() + " " + result.news[i].DateTime;
            }
            $("#newsGrid").jsGrid({

                width: "100%",

                //Functions
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./newsManagementapi/deleteItem",
                        data: { 'id': args.item.id },
                        dataType: "json"
                    });
                },

                //Data
                data: result.news,

                //Fields
                fields: [
                            { name: "Date", title: "撰寫日期", type: "text", width: 160, align: "center", editing: false },
                            { name: "Time", title: "撰寫時間", type: "text", width: 160, align: "center", editing: false },
                            { name: "Writer", title: "發佈者", type: "text", width: 160, align: "center", editing: false },
                            { name: "Title", title: "消息標題", type: "text", width: 380, editing: false },
                            { name: "View", title: "點擊次數", type: "text", width: 100, align: "center", editing: false },
                            { name: "Publish", type: "checkbox", title: "發布", width: 100 },
                            {
                                name: "Edit", title: "內容編輯", width: 200, align: "center",
                                itemTemplate: function (_, item) {
                                    return $("<button>").text('編輯')
                                           .css('background', '#7DC5AE')
                                           .css('border', '1px solid #7EBFA6')
                                           .css('border-radius', '3px')
                                           .css('color', 'white')
                                           .css('text-align', 'center')
                                           .on("click", function () {
                                               console.log(item.Writer);
                                               if (c_type != 1 && item.Writerid != c_id) {
                                                   alert('你的權限無法編輯此消息');
                                               }
                                               else {
                                                   $(".overlay").removeClass("hide");
                                                   $(document.body).addClass("no-scroll");
                                                   $('#SlectBox')[0].sumo.unSelectAll();
                                                   dataid = item.id;
                                                   DT = item.DateTime;
                                                   $('#Title').val(item.Title);
                                                   var company = item.companyids.split("|");
                                                   for (var j = 0 ; j <= selectC.length - 1; j++) {
                                                       for (var i = 0 ; i <= company.length - 1; i++) {
                                                           if (company[i] == selectC[j].id) {
                                                               $('#SlectBox')[0].sumo.selectItem(j);
                                                           }
                                                       }
                                                   }
                                                   CKEDITOR.instances.editor.setData(item.article);//article
                                                   $('#Publish' + (item.Publish)).prop("checked", 1);
                                               }
                                           });
                                }
                            }
                ]
            });
        });


    });

/*Close or Open News Record*/
$(function (){
    $('#addNews').on('click', function () {
        dataid = "NEW";
        DT = "";
        CKEDITOR.instances.editor.setData('');
        $('#Title').val('');
        $('#SlectBox')[0].sumo.unSelectAll();
        $('#Publish1').prop("checked", 1);
        $(".overlay").removeClass("hide");
        $(document.body).addClass("no-scroll");
    });

    $('.overlay .fa').on('click', function () {
        $(".overlay").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

    $('#publishBtn').on('click', function () {
        var Edata = CKEDITOR.instances.editor.getData();
        var company = $('#SlectBox').val();
        var cs_id = "";
        if (company == null) {
            cs_id = "||";
        }
        else {
            for (var i = 0; i < company.length; i++) {
                cs_id += "|" + company[i];
            }
            cs_id += "|";
        }
        $.post("./newsManagementapi/insert",
          {
              'id': dataid,
              'c_id': c_id,
              'c_type': c_type,
              'DateTime':DT,
              'Companyid': cs_id,
              'Title': $('#Title').val(),
              'Content': Edata,
              'Publish': $('input:radio:checked[name="postRadio"]').val()
          }
          ).done(function (result) {
              if (result == 'datanotenough') {
                  alert("資料不完整，無法新增");
              }
              else {
                  window.location.reload();
                  $(".overlay").addClass("hide");
                  $(document.body).removeClass("no-scroll");
              }
          });
    });
});

/*Selector*/
$(document).ready(function () {
    //get select option
    $.ajax({
        type: "GET",
        url: "./newsManagementapi/branch",
        data: '',
        dataType: "json"
    }).done(function (result) {
        selectC = result;
        var tdata = result;
        for (var i = 0 ; i <= tdata.length - 1 ; i++) {
            $('#SlectBox')[0].sumo.add(tdata[i].id, tdata[i].name);
        }
        
        $('#SlectBox')[0].sumo.reload();
       
    });
    $('#SlectBox').SumoSelect({
        csvDispCount: 3,
        nativeOnDevice: ['Android', 'BlackBerry', 'iPhone', 'iPad', 'iPod', 'Opera Mini', 'IEMobile', 'Silk']
    });
});

/*Editor*/
$(function (){
    CKEDITOR.replace( 'editor',{
        toolbar:  [ ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'],
                    [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],
                    [ 'SelectAll', '-', 'Scayt' ],[ 'Link', 'Unlink', 'Anchor' ],[ 'Maximize', 'ShowBlocks' ],[ 'About' ],
                    [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],
                    [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                    [ 'Image', 'Flash', '-','Table', 'HorizontalRule','-', 'Smiley', 'SpecialChar'],
                    [ 'Styles', 'Format', 'Font', 'FontSize' ],
                    [ 'TextColor', 'BGColor' ]]
    });

});
    
        </script>
