<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />

<style>
/*Header*/
.header-text {
  	border-bottom: 5px solid #ddd;
  	padding-bottom: 10px;
  	margin:0px 10px 30px 10px;
}

.header-text-sm {
  	border-bottom: 5px double #9CAFB7;
	padding-bottom: 10px;
	margin: 25px;
	color: #9CAFB7;
	font-weight: 600;
	opacity: 0.7;
}

/*Right Side*/
.smart-widget {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
  border-color: #e4e4e4;
  border-top-width: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.smart-widget .smart-widget-inner {
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px
}

.smart-widget .smart-widget-inner .smart-widget-body {
  padding: 15px
}

.container {
    width: 100%;
    padding: 12px;
}
/*---------*/
/*Record*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
    position: fixed; 
    overflow-y: scroll;
    background: #FF9F89 none repeat scroll 0% 0%;  
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
}

.overlay .fa-times{
    padding: 15px;
    float: right;
    margin:15px;

}

.overlayBox{
    margin:13px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}
.memberInfo{
    margin: 0px auto;
    color:#4C5C68;
    font-weight: 800;
    opacity: 0.7;
}
#myNoteStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myNoteStack .modal-header{
    background:#82BDD8;
    padding: 10px;
}

#myNoteStack{
    padding-left: 0px;
}

#myNoteStack .modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

#myNoteStack .modal-header{
    background:#c28080;
    padding: 10px;
}
    .form-horizontal .form-group {
        margin: 0px;
        margin-bottom: 10px;
    }
 #saveout {
        float: right;
        background-color: #96D2BA;
        border-color: #7EC699;
        font-weight: 600;
    }

        #saveout:hover {
            background-color: #68AB90;
            border-color: #6E937C;
        }
</style>



<div>
    <!--Title-->
    <h4 class="header-text">訂單管理 Orders Management</h4>
    <!--Content-->
    <div class="row">
        <div class="col-md-12">
            <div class="smart-widget">
                <div class="container">
                    <!--Table-->
                    <div class="table-responsive">
                        <table class="table table-striped" id="ordersGrid"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--訂單內容-->
    <div class="overlay hide" id="orderscontent" style="background-color:#D7B1B8;z-index:4">
        <div class="popup">
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            <div class="overlayBox">

                <h4 class="header-text">
                     訂單內容 Orders Content
                </h4>
                <form class="form-horizontal" role="form">
                    <div class="row memberInfo">
                        <p id="o_id" class="col-md-3"></p>
                        <p id="statue" class="col-md-3"></p>
                        <p id="total" class="col-md-3"></p>
                    </div>

                    <div class="row memberInfo">
                        <p id="name" class="col-md-3"></p>
                        <p id="address" class="col-md-6"></p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped" id="orderscontentGrid"></table>
                    </div>
                    <div class="form-group" id="saveoutBtn">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-info" id="saveout">完成出貨</button>
                            <div>
                            </div>

                        </div>
                    </div>
                    </form>
              </div>
        </div>
    </div>
</div>

    <!--Show prescription of Glasses Modal-->
<div id="myNoteStack" class="modal fade" role="dialog" style="z-index:1600;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">備註</h4>
            </div>

            <div class="modal-body">
                <div class="form-group" id="hypermyopia">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="sel1">鏡片資訊 Lens</label>
                        </div>
                    </div>

                    <!--近視專用-->
                    <div id="myopiaTable" class="table-responsive row clearfix">
                        <div class="col-sm-12 column" style="margin-top:15px">

                            <table class="table table-bordered" style="background:#C9E5EA">
                                <tbody>
                                    <!--遠近兩用-->
                                    <tr>
                                        <th class="text-center">
                                            眼鏡用途
                                        </th>
                                        <td>
                                            <input id="FarNear" type="text" step="0.01" onchange="setDecimal(this)" disabled>
                                        </td>
                                    </tr>
                                    <!--PD-->
                                    <tr>
                                        <th class="text-center">
                                            PD
                                        </th>
                                        <td>
                                            <input id="Pd" type="text" step="1" disabled>
                                        </td>
                                    </tr>
                                    <!--度數-OD(右眼)-->
                                    <tr>
                                        <th class="text-center">
                                            度數-OD(右眼)
                                        </th>
                                        <td>
                                            <input id="RSPH" type="number" disabled> /
                                            <input id="RCYL" type="number" disabled> (
                                            <input id="RAX" type="number" disabled> )

                                        </td>
                                    </tr>
                                    <!--度數-OS(左眼)-->
                                    <tr>
                                        <th class="text-center">
                                            度數-OS(左眼)
                                        </th>
                                        <td>
                                            <input id="LSPH" type="number" disabled> /
                                            <input id="LCYL" type="number" disabled> (
                                            <input id="LAX" type="number" disabled> )

                                        </td>
                                    </tr>
                                    <!--特殊加工-->
                                    <tr>
                                        <th class="text-center">
                                            特殊加工
                                        </th>
                                        <td>
                                            <input id="SpecProcess" type="text" style="width:100%" disabled>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <!--備註區-->
                    <div class="form-group">
                        <label for="comment">備註:</label>
                        <textarea class="form-control" rows="5" id="Remark"disabled></textarea>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <!--<button class="btn btn-warning" data-dismiss="modal">取消</button>-->
                <button class="btn btn-warning" data-dismiss="modal">確定</button>
            </div>

        </div>
    </div>
</div>


            <!-- jQuery JS PlugIn -->
<script src="js/common/jsgrid.min.js" type="text/javascript"></script>
<script type="text/javascript">
                
    $(function () {
        var ordersid;
        $.ajax({
            type: "GET",
            url: "./ordersManagementapi/loadItem",
            data: '',
            dataType: "json"
        }).done(function (result) {
            for (var i in result) {
                result[i].orderdate = new Date(result[i].ODtime).toLocaleDateString();
                if (result[i].OTtime != null) {
                    result[i].outdate = new Date(result[i].OTtime).toLocaleDateString();
                }
            }
            $("#ordersGrid").jsGrid({
                height: 500,
                width: "100%",

                //Functions
                filtering: true,
                sorting: true,
                editing: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 10,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./ordersManagementapi/deleteItem",
                        data: { 'id': args.item.ordersID },
                        dataType: "json"
                    });
                },
                rowClick: function (args) {
                    $(".overlay").removeClass("hide");
                    $(document.body).addClass("no-scroll");
                    ordersid = args.item.ordersID;
                    $('#o_id').html("訂單編號：" + args.item.ordersID);
                    var sta;//出貨狀態
                    if (args.item.statue == 0) { sta = '未出貨'; $('#saveoutBtn').show(); }
                    else if (args.item.statue == 1) { sta = '已出貨'; $('#saveoutBtn').hide(); }//
                    $('#statue').html("出貨狀態：" + sta);
                    $('#total').html("訂單總額：" + args.item.total);
                    $('#name').html("收件人：" + args.item.name);
                    $('#address').html("收件地址：" + args.item.zip + args.item.address);
                    $.ajax({
                        type: "POST",
                        url: "./ordersManagementapi/loadcontent",
                        data: { 'o_id': args.item.ordersID },
                        dataType: "json"
                    }).done(function (content) {
                        $("#orderscontentGrid").jsGrid({
                            height: 450,
                            width: "100%",

                            //Functions

                            filtering: true,
                            sorting: true,
                            paging: true,
                            autoload: true,
                            pageSize: 10,
                            pageButtonCount: 5,
                            deleteConfirm: "確定刪除這筆資料?",
                            onItemDeleted: function (args) {//刪除
                                $.ajax({
                                    type: "POST",
                                    url: "./ordersManagementapi/deletecontent",
                                    data: { 'id': args.item.c_id },
                                    dataType: "json"
                                });
                            },
                            controller: {
                                loadData: function (filter) {
                                    return $.grep(content, function (content) {
                                        return (!filter.p_id || content.p_id.indexOf(filter.p_id) > -1)
                                            && (!filter.p_name || content.p_name.indexOf(filter.p_name) > -1)
                                            && (!filter.amount || content.amount.indexOf(filter.amount) > -1)
                                            && (!filter.totalprice || content.totalprice.indexOf(filter.totalprice) > -1)
                                            && (!filter.dividend || content.dividend.indexOf(filter.dividend) > -1)
                                    });
                                }
                            },

                            //Fields
                            fields: [
                                { name: "p_id", title: "產品編號", type: "text", width: 80 * 1.8, align: "center" },
                                { name: "p_name", title: "產品名稱", type: "text", width: 100 * 1.8, align: "center" },
                                { name: "amount", title: "數量", type: "text", width: 40 * 1.8, align: "center" },
                                { name: "totalprice", title: "總額", type: "text", width: 80 * 1.2, align: "center" },
                                { name: "dividend", title: "可獲得紅利", type: "text", width: 100 * 1.2, align: "center" },
                                {
                                    name: "Edit", title: "備註", width: 50 * 1.8, align: "center",
                                    itemTemplate: function (_, item) {
                                        return $("<button>").text('備註')
                                               .css('background', '#C3858F')
                                               .css('border', '1px solid #D3B2B8')
                                               .css('border-radius', '3px')
                                               .css('color', 'white')
                                               .css('text-align', 'center')
                                               .on("click", function () {
                                                   if (item.hypermyopia == 0 || item.hypermyopia == null) { $('#hypermyopia').hide(); }
                                                   else { $('#hypermyopia').show(); }
                                                   if (item.hypermyopia == 1) { $('#FarNear').val('近視眼鏡'); }
                                                   else if (item.hypermyopia == 2) { $('#FarNear').val('遠視眼鏡'); }
                                                   else if (item.hypermyopia == 3) { $('#FarNear').val('遠近兩用眼鏡'); }
                                                   if (item.hypermyopia != 0 && item.hypermyopia != null) {
                                                       $('#Pd').val(item.PD);
                                                       var Rod = item.rightOD.split(" ");
                                                       $('#RSPH').val(Rod[0]);
                                                       $('#RCYL').val(Rod[1]);
                                                       $('#RAX').val(Rod[2]);
                                                       var Lod = item.leftOD.split(" ");
                                                       $('#LSPH').val(Lod[0]);
                                                       $('#LCYL').val(Lod[1]);
                                                       $('#LAX').val(Lod[2]);
                                                       //特殊加工
                                                       if (item.specialprocess == '') { $('#SpecProcess').val('無'); }
                                                       else {
                                                           var special = item.specialprocess.split("|");
                                                           var specialcontent = new Array();//呈現特殊加工的內文
                                                           for (var i = 0 ; i < special.length ; i++) {
                                                               $.ajax({
                                                                   type: "POST",
                                                                   url: "./ordersManagementapi/searchspecial",
                                                                   data: { 'id': special[i], 'i': i },
                                                                   dataType: "json"
                                                               }).done(function (result) {
                                                                   specialcontent[result.i] = result.content;
                                                                   if (result.i == special.length - 1) {
                                                                       var specialcontentWrite = '';//要列印的內文
                                                                       for (var j = 0 ; j < specialcontent.length ; j++) {
                                                                           specialcontentWrite += specialcontent[j];
                                                                       }
                                                                       $('#SpecProcess').val(specialcontentWrite);
                                                                   }
                                                               });
                                                           }
                                                       }
                                                   }
                                                   $('#Remark').val(item.remark);
                                                   $('#myNoteStack').modal('show');
                                                   $(document.body).addClass("no-scroll");
                                               });
                                    }
                                },
                            { type: "control", editButton: false }
                            ]
                        });
                    });
                },

                //Data
                controller: {
                    loadData: function (filter) {
                        return $.grep(result, function (orders) {
                            return (!filter.msgDate || orders.msgDate.indexOf(filter.msgDate) > -1)
                                    && (!filter.ordersID || orders.ordersID.indexOf(filter.ordersID) > -1)
                                    && (!filter.orderDate || orders.orderDate.indexOf(filter.orderDate) > -1)
                                    && (!filter.orderTime || orders.orderTime.indexOf(filter.orderTime) > -1)
                                    && (!filter.total || orders.total.indexOf(filter.total) > -1)
                                    && (!filter.memberid || orders.memberid.indexOf(filter.memberid) > -1)
                                    && (!filter.name || orders.name.indexOf(filter.name) > -1)
                                    && (!filter.zip || orders.zip.indexOf(filter.zip) > -1)
                                    && (!filter.address || orders.address.indexOf(filter.address) > -1)
                                    && (!filter.outDate || orders.outDate.indexOf(filter.outDate) > -1)
                                    && (!filter.outTime || orders.outTime.indexOf(filter.outTime) > -1)
                        });
                    },
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./ordersManagementapi/updateItem",
                            data: item,
                            dataType: "json"
                        });
                    }
                },
                //Fields
                fields: [
                    { name: "ordersID", title: "訂單編號", type: "text", width: 150, align: "center", editing: false },
                    { name: "orderdate", title: "下單日期", type: "text", width: 150, align: "center", editing: false },
                    { name: "ordertime", title: "下單時間", type: "text", width: 150, align: "center", editing: false },
                    { name: "statue", type: "checkbox", title: "是否出貨", width: 100 * 1.4, filtering: false, editing: false },
                    { name: "total", title: "總金額", type: "text", width: 150, align: "center", editing: false },
                    { name: "memberid", title: "會員編號", type: "text", width: 150, align: "center", editing: false },
                    { name: "name", title: "收件人", type: "text", width: 150, align: "center" },
                    { name: "zip", title: "收件郵遞區號", type: "text", width: 150, align: "center" },
                    { name: "address", title: "收件地址", type: "text", width: 400 },
                    { name: "outdate", title: "出貨日期", type: "text", width: 150, align: "center", editing: false },
                    { name: "outtime", title: "出貨時間", type: "text", width: 150, align: "center", editing: false },
                    { type: "control" }
                ]
            });
        });

        $('#orderscontent .fa').on('click', function () {
            $(".overlay").addClass("hide");
            $(document.body).removeClass("no-scroll");
        });

        $('#saveout').on('click', function () {
            if (confirm("確定已完成列表上的商品已出貨??") == true) {
                $.ajax({
                    type: "POST",
                    url: "./ordersManagementapi/outorders",
                    data: { id: ordersid },
                    dataType: "json"
                }).done(function (result) {
                    var dealdata = result;
                    for (var i = 0 ; i < dealdata.length ; i++) {
                        dealdata[i].i = i;
                        $.ajax({
                            type: "POST",
                            url: "./ordersManagementapi/outcar",
                            data: dealdata[i],
                            dataType: "json"
                        }).done(function (result) {
                            if (result.i == dealdata.length - 1) {
                                alert("完成出貨!!");
                                window.location.reload();
                            }
                        });
                    }
                });
            }
            else { alert("已取消 完成出貨"); }
        });
    });
</script>


