<!--jQuery CSS PlugIn-->
<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/sumoselect.css" />
<link type="text/css" rel="stylesheet" href="css/common/jquery.steps.css" />
<link type="text/css" rel="stylesheet" href="css/common/fileinput.min.css"/>

<!--css-->
<style>

/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:10px 10px 20px 10px;
}

.rowStyle{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#addProduct{
	float:right;
	font-weight: 600;
	background-color: #DD6B58;
    border-color: #D49382;
    margin: 0px 5px 0px 5px;
}

#addProduct:hover{
	background-color: #C95F4E;
    border-color: #D49382;
}

#addType{
    float:right;
    font-weight: 600;
    background-color: #5A86B9;
    border-color: #6C9FBF;
    margin: 0px 5px 0px 5px;
}
#addwork{
    float:right;
    font-weight: 600;
    background-color: #5A86B9;
    border-color: #6C9FBF;
    margin: 0px 5px 0px 5px;
}

#addwork:hover{
    background-color: #436C9C;
    border-color: #6C9FBF;
}

#addType:hover{
    background-color: #436C9C;
    border-color: #6C9FBF;
}

/*EditorBg*/
.no-scroll
{
    overflow: hidden;
}

.popup
{
    position: relative;
    margin: 10px auto;
    height: 100%;
}

.hide
{
    display: none;
}

.overlay {
    position: fixed; 
    overflow-y: scroll;
    background: #F8C8BD none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
    z-index: 3;
}

.overlay .fa{
    padding: 15px;
    float: right;
    margin:15px;

}

#overlayComment{
    background: #F5E1B1 none repeat scroll 0% 0%;
}

.overlayBox{
    margin:10px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}

/*Steps*/
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #d48267;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #e4b7a8;
    color: #fff;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #e1824f;
}

/*Selector*/
.SumoSelect .select-all{
	height: 100%;
}

/*Upload CoverImg*/
.jFiler-theme-default .jFiler-input{
    width:100%;
}

/*Editor Form*/
.form-horizontal .form-group{
	margin:0px;
	margin-bottom:10px; 
}

.memberInfo{
    margin: 0px auto;
    color:#4C5C68;
    font-weight: 600;
    opacity: 0.7;
}
/*Comment*/
#commentInfo{
    margin: 0px auto;
    color:#4C5C68;
    font-weight: 600;
    opacity: 0.7;
}

/*Modal*/
.modal-backdrop.in{
    opacity: 0.8;
}

.modal-dialog {
    padding: 10% 40px 40px 40px;
}

.modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

.modal-header{
    background:#D89A82;
}

.modal-title {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

</style>



<!--Html-->
<div>
    <!--Main Page-->
    <div>
        <h4 class="header-text">商品管理 Product Management</h4>
        <div class="row rowStyle">
    		<button type="button" class="btn btn-info" id="addProduct"><i class="fa fa-tags"></i>  新增商品</button>
            <button type="button" class="btn btn-info" id="addType"><i class="fa fa-tags"></i>  新增商品類別</button>
            <button type="button" class="btn btn-info" id="addwork"><i class="fa fa-tags"></i>  新增特殊加工</button>
    	</div>

    	<!--Table-->
        <div class="table-responsive">        
            <table class="table table-striped" id="productGrid">
            </table>
        </div>
    </div>


    <!--Show Contents For Edit-->
    <div class="overlay hide" id="overlayEdit">
        <div class="popup">        
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            
            <div class="overlayBox">            
                <h4 class="header-text">商品管理 Product Management (有*欄位為必填資料)</h4> 

                <form class="form-horizontal" id="producteForm" data-validate="parsley" novalidate>
                    <div id="formWizardEdit" class="light-background">
                        <h2>商品標籤</h2>
                         <section>
                             <div class="padding-md">

                                 <div class="form-group">
                                     <label>商品貨號:</label>
                                     <div>
                                         <input id="ProductId" type="text" class="form-control"  disabled>
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <label>*商品類別:</label>
                                     <div>
                                         <select id="selectType"></select>
                                     </div>
                                 </div>

                                 <div class="form-group">
                                     <label>*商品圖示:</label>
                                     <div id="SETIMG">
                                     </div>
                                     <div>
                                         <input id="uploadProductImg" name="uploadProductImg" type="file" multiple class="file-loading">
                                         <div id="errorBlock" class="help-block"></div>
                                     </div>
                                 </div>
                             </div>
                        </section>

                        <h2>商品內容</h2>
                        <section>
                            <div class="padding-md">

                                <div class="form-group">
                                    <label>*商品品名:</label>
                                    <div>
                                        <input id="ProductName" maxlength="50" type="text" class="form-control" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>*商品定價:</label>
                                    <div>
                                        <input id="ProductPrice" onkeyup="return checkProductINT(this, value)" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>*紅利點數:</label>
                                    <div>
                                        <input id="ProductDividend" onkeyup="return checkProductINT(this, value)" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>*庫存數量:</label>
                                    <div>
                                        <input id="ProductStock" onkeyup="return checkProductINT(this, value)" type="text" class="form-control" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>*是否需眼鏡處方:</label>
                                    <div>
                                        <label class="radio-inline" >
                                            <input type="radio" name="Prescription" id="noPrescription" value="0">不需
                                            <br>
                                            <input type="radio" name="Prescription" id="Prescription" value="1">需要
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" id="process">
                                    <label>特殊加工:</label>
                                    <div >
                                        <select id="SlectBox" multiple></select>
                                    </div>
                                </div>
                                                   
                            </div>
                        </section>

                        <h2>商品介紹</h2>
                        <section>
                            <div class="padding-md">

                                <div class="form-group">
                                    <label>*產品內文:</label>
                                    <div><textarea name="editor"></textarea></div>
                                </div>

                                <div class="form-group">
                                    <label>材質:</label>
                                    <div>
                                        <input id="ProductMaterial" type="text" class="form-control" maxlength="20">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>其他規格:</label>
                                    <div>
                                        <input id="ProductAnthMaterial" type="text" class="form-control" maxlength="20">
                                    </div>
                                </div>

                            </div>
                        </section>

                        <h2>照片區</h2>
                        <section>
                            <div id="pictureplace" class="padding-md">
                                <div class="form-group">
                                    <input type="button" class="form-control" style="background-color:#E9F6E9" id="updateProductImgplace" value="查看已有照片">
                                </div>
                                <div class="form-group">
                                    <label>照片上傳(每次上傳以20張為限)</label>
                                    <div>
                                        <input id="uploadProductImgplace" name="uploadProductImgplace" type="file" multiple class="file-loading">
                                        <div id="errorBlock" class="help-block"></div>
                                    </div>
                                </div>

                            </div>
                        </section>
                      
                    </div>
                </form> 
            </div>
        </div>
    </div>

    <div class="overlay hide" id="overlayPurchaseRecord" style="background-color:#D7B1B8;z-index:4">
        <div class="popup">
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            <div class="overlayBox">

                <h4 class="header-text">
                    消費紀錄 Purchase Record
                    <!--<button type="button" class="btn btn-info" id="addPurchaseRecordBtn">+<i class="fa fa-shopping-cart"></i></button>-->
                </h4>

                <div class="row memberInfo">
                    <p id="P_m_id" class="col-md-3" style="width: 350px;"></p>
                    <p id="P_m_name" class="col-md-3" style="width: 350px;"></p>
                    <p id="P_m_amount" class="col-md-3" style="width: 350px;"></p>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped" id="memberpurchaseGrid"></table>
                </div>

            </div>
        </div>
    </div>
    <!--Show prescription of Glasses Modal-->
    <div id="myNoteStack" class="modal fade" role="dialog" style="z-index:1600;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">備註</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group" id="hypermyopia">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="sel1">鏡片資訊 Lens</label>
                            </div>
                        </div>

                        <!--近視專用-->
                        <div id="myopiaTable" class="table-responsive row clearfix">
                            <div class="col-sm-12 column" style="margin-top:15px">

                                <table class="table table-bordered" style="background:#C9E5EA">
                                    <tbody>
                                        <!--遠近兩用-->
                                        <tr>
                                            <th class="text-center">
                                                眼鏡用途
                                            </th>
                                            <td>
                                                <input id="FarNear" type="text" step="0.01" onchange="setDecimal(this)" disabled>
                                            </td>
                                        </tr>
                                        <!--PD-->
                                        <tr>
                                            <th class="text-center">
                                                PD
                                            </th>
                                            <td>
                                                <input id="Pd" type="text" step="1" disabled>
                                            </td>
                                        </tr>
                                        <!--度數-OD(右眼)-->
                                        <tr>
                                            <th class="text-center">
                                                度數-OD(右眼)
                                            </th>
                                            <td>
                                                <input id="RSPH" type="number" disabled> /
                                                <input id="RCYL" type="number" disabled> (
                                                <input id="RAX" type="number" disabled> )

                                            </td>
                                        </tr>
                                        <!--度數-OS(左眼)-->
                                        <tr>
                                            <th class="text-center">
                                                度數-OS(左眼)
                                            </th>
                                            <td>
                                                <input id="LSPH" type="number" disabled> /
                                                <input id="LCYL" type="number" disabled> (
                                                <input id="LAX" type="number" disabled> )

                                            </td>
                                        </tr>
                                        <!--特殊加工-->
                                        <tr>
                                            <th class="text-center">
                                                特殊加工
                                            </th>
                                            <td>
                                                <input id="SpecProcess" type="text" style="width:100%" disabled>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <!--備註區-->
                        <div class="form-group">
                            <label for="comment">備註:</label>
                            <textarea class="form-control" rows="5" id="Remark"></textarea>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">取消</button>
                    <button class="btn btn-warning" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>
    <!--Show Contents For Q&A-->
    <div class="overlay hide" id="overlayComment">
        <div class="popup">        
            <a href=""><i class="fa fa-times fa-lg"></i></a>
            <div id="QA_p_id"></div>
            <div class="overlayBox">            
                <h4 class="header-text">商品問與答 Product Q&A</h4> 
                <div class="row" style="margin: 0px auto; color:#BF714D; font-weight: 600; opacity: 0.7; padding-bottom: 15px;">
                    <p id="qaP_id" class="col-md-3" style="width: 350px;"></p>
                    <p id="qaP_name" class="col-md-3" style="width: 350px;"></p>
                </div>
                <div class="row" style="margin: 0px auto; color:#BF714D; font-weight: 600; opacity: 0.7; padding-bottom: 15px;">
                    <p id="qaP_type" class="col-md-3" style="width: 350px;"></p>
                    <p id="qaP_price" class="col-md-3" style="width: 350px;"></p>
                </div>

                <div class="table-responsive">        
                    <table class="table table-striped" id="productCommentGrid">
                    </table>
                </div>            
            </div>
        </div>
    </div>


    <!--Show Q&A Modal-->
    <div class="modal fade" id="myCommentModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content" >
                <div id="QA_id"></div>
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">商品問與答</h4>
                </div>
                    
                <div class="modal-body" >
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">留言</label>
                            <div class="col-sm-10">
                                <textarea id="QAquestion" class="form-control" rows="3" disabled></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">回覆</label>
                            <div class="col-sm-10">
                                <textarea id="QArequest" class="form-control" rows="3" placeholder="回覆...."></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                    <button id="saveQA" ng-click="QAmessageload();" type="submit" class="btn btn-info" data-dismiss="modal">確定</button>
                </div>
                    
            </div>
        </div> 
    </div> 


    <!--Show Add new Product Type Modal-->
     <div id="myTypeStack" class="modal fade" role="dialog" style="z-index:1800;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                    
                <div class="modal-header" style="background-color: #5A86B9;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增商品父類別</h4>
                </div>
                    
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="control-label">新增商品父類別:</label>
                            <input id="newftype" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">查看已有父類別:</label>
                            <!--Table-->
                            <div class="table-responsive">
                                <table class="table table-striped" id="ftypeGrid"></table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="submit" id="saveftype" class="btn btn-primary" data-dismiss="modal">確定</button>
                </div>
                    
            </div>
        </div> 
    </div>
    <!--type-->
    <div id="sTypeStack" class="modal fade" role="dialog" style="z-index:1800;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header" style="background-color: #5A86B9;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="stypetite" class="modal-title"></h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="control-label">新增商品子類別:</label>
                            <input id="newstype" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">查看已有子類別:</label>
                            <!--Table-->
                            <div class="table-responsive">
                                <table class="table table-striped" id="stypeGrid"></table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="submit" id="savestype" class="btn btn-primary" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>
    <!--addwork-->
    <div id="myWorkStack" class="modal fade" role="dialog" style="z-index:1800; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header" style="background-color: #5A86B9;color: white; text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增特殊加工</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="control-label">新增特殊加工名稱:</label>
                            <input id="newwork" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">查看已有特殊加工:</label>
                            <!--Table-->
                            <div class="table-responsive">
                                <table class="table table-striped" id="workGrid"></table>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button id="savework" class="btn btn-primary" data-dismiss="modal">確定</button>
                </div>

            </div>
        </div>
    </div>
     
    <div id="myExistedTypeStack" class="modal fade" role="dialog" style="z-index:2000;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(110, 185, 210);">
                    <button type="button" class="existedLevelBtn close">&times;</button>
                    <h4 class="modal-title">照片區</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">已有照片:</label>
                        <!--Table-->
                        <div class="table-responsive">
                            <table class="table table-striped" id="imgGrid"></table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="existedLevelBtn btn btn-info">確定</button>
                </div>

            </div>
        </div>
    </div>

</div>	




<!-- jQuery JS PlugIn -->
<script type="text/javascript" src="js/common/jsgrid.min.js"></script>
<script type="text/javascript" src='js/common/jquery.steps.min.js'></script>
<script src="js/common/parsley.min.js"></script>
<script type="text/javascript" src="js/common/jquery.sumoselect.min.js"></script>
<script type="text/javascript" src="js/common/fileinput.min.js"></script>



<!--javascript-->
<script>
    var Product_id = '';//圖片區用
    var selectS;//佔存w特殊加工select
    var QA_id; //佔存QAid
    var QA_p_id; //站存產品QA的產品id
    function checkProductINT(e, pnumber) {
        if (!/^(0|[1-9][0-9]*)$/.test(pnumber)) {
            e.value = '';
        }
        return false;
    }
    

    $(function () {
        $.ajax({
            type: "GET",
            url: "./productManagementapi/product",
            data: '',
            dataType: "json"
        }).done(function (result) {
            $("#productGrid").jsGrid({

                width: "100%",

                //Functions
                editing: true,
                filtering: true,
                sorting: true,
                paging: true,
                autoload: true,
                rowClick: function () { },
                pageSize: 10,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",
                controller: {
                    loadData: function (filter) {
                        return $.grep(result.products, function (product) {
                            return (!filter.productName || product.productName.indexOf(filter.productName) > -1)
                                && (!filter.productType || product.productType === filter.productType)
                                && (!filter.productId || product.productId.indexOf(filter.productId) > -1)
                                && (!filter.productPrice || product.productPrice === filter.productPrice)
                                && (!filter.productStock || product.productStock === filter.productStock)
                        });
                    },
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./productManagementapi/productupdatestatue",
                            data: item,
                            dataType: "json"
                        });
                    }
                },
                //Fields
                fields: [
                   {
                       name: "productImg", title: "圖示",
                       itemTemplate: function (val, item) {
                           return $("<img>").attr("src","./images/product/"+ val);
                       }, align: "center", width: 150
                   },
                   { name: "productName", title: "品名", type: "text", width: 120, align: "center", editing: false },
                   { name: "productType", title: "類別", type: "select", items: result.types, valueField: "productTypeId", textField: "productType", width: 120, align: "center", editing: false },
                   { name: "productId", title: "貨號", type: "text", width: 120, align: "center", editing: false },
                   { name: "productPrice", title: "價格", type: "number", width: 80, align: "center", editing: false },
                   { name: "productStock", title: "庫存", type: "number", width: 80, align: "center", editing: false },
                   { name: "productclick", title: "點擊次數", type: "number", width: 120, align: "center", editing: false, filtering: false },
                   { name: "productPublish", type: "checkbox", title: "上架", sorting: true, width: 80, filtering: false },
                   {
                       name: "PurchaseRecord", title: "消貨紀錄", width: 90 * 1.5, align: "center",
                       itemTemplate: function (_, item) {
                           return $("<button>").text('消貨')
                                  .css('background', '#C37583')
                                  .css('border', '1px solid #C37383')
                                  .css('border-radius', '3px')
                                  .css('color', 'white')
                                  .css('text-align', 'center')
                                  .on("click", function () {
                                      $('#P_m_id').html("產品貨號：" + item.productId);
                                      $('#P_m_name').html("產品名稱：" + item.productName);
                                      $.ajax({
                                          type: "POST",
                                          url: "./productManagementapi/productpurchase",
                                          data: { id: item.productId },
                                          dataType: "json"
                                      }).done(function (result) {
                                          $('#P_m_amount').html("消貨數量：" + result.amount[0].amount);
                                          $("#memberpurchaseGrid").jsGrid({

                                              height: 450,
                                              width: "100%",

                                              //Functions

                                              filtering: true,
                                              sorting: true,
                                              paging: true,
                                              autoload: true,
                                              pageSize: 10,
                                              pageButtonCount: 5,

                                              controller: {
                                                  loadData: function (filter) {
                                                      return $.grep(result.purchase, function (purchase) {
                                                          return (!filter.PurchaseId || purchase.PurchaseId.indexOf(filter.PurchaseId) > -1)
                                                              && (!filter.c_id || purchase.c_id === filter.c_id)
                                                              && (!filter.MemberId || purchase.MemberId.indexOf(filter.MemberId) > -1)
                                                              && (!filter.MemberName || purchase.MemberName.indexOf(filter.MemberName) > -1)
                                                              && (!filter.MemberLevel || purchase.MemberLevel === filter.MemberLevel)
                                                              && (!filter.PurchaseDate || purchase.PurchaseDate.indexOf(filter.PurchaseDate) > -1)
                                                              && (!filter.ProductId || purchase.ProductId.indexOf(filter.ProductId) > -1)
                                                              && (!filter.ProductName || purchase.ProductName.indexOf(filter.ProductName) > -1)
                                                              && (!filter.ProductType || purchase.ProductType === filter.ProductType)
                                                              && (!filter.ProductNum || purchase.ProductNum.indexOf(filter.ProductNum) > -1)
                                                              && (!filter.ProductCost || purchase.ProductCost.indexOf(filter.ProductCost) > -1)
                                                              && (!filter.Dividend || purchase.Dividend.indexOf(filter.Dividend) > -1)
                                                      });
                                                  }
                                              },

                                              //Fields
                                              fields: [
                                                  { name: "PurchaseId", title: "消費編號", type: "text", width: 100 * 1.8, align: "center" },
                                                  { name: "c_id", title: "消費店家", type: "select", items: result.company, valueField: "StoreId", textField: "Store", width: 120 * 1.4 },
                                                  { name: "MemberId", title: "會員編號", type: "text", width: 100 * 1.8, align: "center" },
                                                  { name: "MemberName", title: "會員姓名", type: "text", width: 100 * 1.2, align: "center" },
                                                  { name: "MemberLevel", title: "會員等級", type: "select", items: result.levels, valueField: "MemberLevelId", textField: "MemberLevel", width: 120 * 1.4 },
                                                  { name: "PurchaseDate", title: "購買日期", type: "text", width: 120 * 1.8, align: "center" },
                                                  { name: "ProductId", title: "商品貨號", type: "text", width: 100 * 1.8, align: "center" },
                                                  { name: "ProductName", title: "商品品名", type: "text", width: 150 * 1.8 },
                                                  { name: "ProductType", title: "商品類別", type: "select", items: result.product, valueField: "ProductTypeId", textField: "ProductType", width: 120 * 1.4 },
                                                  { name: "ProductNum", title: "購買數量", type: "number", width: 100 * 1.6, align: "center" },
                                                  { name: "ProductCost", title: "購買金額", width: 100 * 1.6, type: "number" },
                                                  { name: "Dividend", title: "獲得紅利", width: 100 * 1.6, type: "number" },
                                                  { name: "Return", type: "checkbox", title: "退貨", sorting: false, width: 50 * 1.5, filtering: false },
                                                  {
                                                      name: "Edit", title: "備註", width: 100 * 1.8, align: "center",
                                                      itemTemplate: function (_, item) {
                                                          return $("<button>").text('備註')
                                                                 .css('background', '#C3858F')
                                                                 .css('border', '1px solid #D3B2B8')
                                                                 .css('border-radius', '3px')
                                                                 .css('color', 'white')
                                                                 .css('text-align', 'center')
                                                                 .on("click", function () {
                                                                     if (item.hypermyopia == null) { $('#hypermyopia').hide(); }
                                                                     else { $('#hypermyopia').show(); }
                                                                     $.ajax({
                                                                         type: "POST",
                                                                         url: "./memberManagementapi/purchasehypermyopia",
                                                                         data: { 'id': item.PurchaseId },
                                                                         dataType: "json"
                                                                     }).done(function (result) {
                                                                         console.log(result);
                                                                         if (result.FarNear == 1) { $('#FarNear').val('近視眼鏡'); }
                                                                         else if (result.FarNear == 2) { $('#FarNear').val('遠視眼鏡'); }
                                                                         else if (result.FarNear == 3) { $('#FarNear').val('遠近兩用眼鏡'); }
                                                                         if (item.hypermyopia != null) {
                                                                             $('#Pd').val(result.Pd);
                                                                             var Rod = result.Rod.split(" ");
                                                                             $('#RSPH').val(Rod[0]);
                                                                             $('#RCYL').val(Rod[1]);
                                                                             $('#RAX').val(Rod[2]);
                                                                             var Lod = result.Lod.split(" ");
                                                                             $('#LSPH').val(Lod[0]);
                                                                             $('#LCYL').val(Lod[1]);
                                                                             $('#LAX').val(Lod[2]);
                                                                             $('#SpecProcess').val(result.SpecProcess);
                                                                         }
                                                                         $('#Remark').val(result.Remark);
                                                                     });
                                                                     $('#myNoteStack').modal('show');
                                                                     $(document.body).addClass("no-scroll");
                                                                 });
                                                      }
                                                  }
                                              ]
                                          });
                                      });
                                      $("#overlayPurchaseRecord").removeClass("hide");
                                      $("#overlayNewMember").addClass("hide");
                                      $(document.body).addClass("no-scroll");
                                  });
                       }
                   },
                   {
                       name: "productComment", title: "Q&A", width: 90, align: "center",
                       itemTemplate: function (_, item) {
                           return $("<button>").text('問與答')
                                  .css('background', '#F4A261')
                                  .css('border', '1px solid #F4A361')
                                  .css('border-radius', '3px')
                                  .css('color', 'white')
                                  .css('text-align', 'center')
                                  .on("click", function () {
                                      $("#overlayComment").removeClass("hide");
                                      $(document.body).addClass("no-scroll");
                                      $('#qaP_id').html("商品貨號：" + item.productId);
                                      $('#qaP_name').html("商品名稱：" + item.productName);
                                      $('#qaP_type').html("商品類別：" + item.productTypeName);
                                      $('#qaP_price').html("商品價錢：" + item.productPrice);
                                      QA_p_id = item.productId;
                                      $('#QA_p_id').val(item.productId);
                                      $.ajax({
                                          type: "POST",
                                          url: "./productManagementapi/qaload",
                                          data: { 'ProductId': item.productId },
                                          dataType: "json"
                                      }).done(function (sresult) {
                                          for (var i in sresult) {
                                              sresult[i].QAdate = new Date(sresult[i].date).toLocaleDateString() + " " + sresult[i].QAdate;
                                          }
                                          
                                          $("#productCommentGrid").jsGrid({
                                              height: 340,
                                              width: "100%",

                                              //Functions
                                              editing: true,
                                              sorting: true,
                                              paging: true,
                                              autoload: true,
                                              pageSize: 10,
                                              pageButtonCount: 5,
                                              deleteConfirm: "確定刪除這筆資料?",
                                              onItemDeleted: function (args) {
                                                  $.ajax({
                                                      type: "POST",
                                                      url: "./productManagementapi/qadelete",
                                                      data: { 'id': args.item.QAid },
                                                      dataType: "json"
                                                  });
                                              },
                                              rowClick: function (args) {
                                                  $('#myCommentModal').modal('show');
                                                  QA_id = args.item.QAid;
                                                  $('#QA_id').val(args.item.QAid);
                                                  $('#QAquestion').val(args.item.QAquestion);
                                                  $('#QArequest').val(args.item.QArequest);
                                              },

                                              //Data
                                              data: sresult,

                                              //Fields
                                              fields: [
                                                  { name: "QAdate", title: "留言日期", type: "text", width: 120, align: "center", editing: false },
                                                  { name: "memberid", title: "會員編號", type: "text", width: 80, align: "center", editing: false },
                                                  { name: "QAname", title: "姓名", type: "text", width: 100, align: "center", editing: false },
                                                  { name: "QAreply", type: "checkbox", title: "回覆", sorting: true, editing: false },
                                                  { name: "QAemail", title: "信箱", type: "text", width: 150, align: "center", editing: false },
                                                  { name: "QAphone", title: "電話", type: "text", width: 120, align: "center", editing: false },
                                                  { type: "control", editButton: false }
                                              ]
                                          });
                                      });
                                  });
                       }
                   },
                   {
                       name: "productEdit", title: "商品編輯", width: 90, align: "center",
                       itemTemplate: function (_, item) {
                           return $("<button>").text('編輯')
                                  .css('background', '#E76F51')
                                  .css('border', '1px solid #E76F81')
                                  .css('border-radius', '3px')
                                  .css('color', 'white')
                                  .css('text-align', 'center')
                                  .on("click", function () {
                                      $("#pictureplace").show();
                                      $("#overlayEdit").removeClass("hide");
                                      $(document.body).addClass("no-scroll");
                                      Product_id = item.productId;
                                      $('#SlectBox')[0].sumo.unSelectAll();
                                      $("#ProductId").val(item.productId);
                                      $('#selectType').val(item.productType);
                                      $('#SETIMG').html("<img style='height:160px' src='./images/product/" + item.productImg + "'>");
                                      $('#SETIMG').val(item.productImg);
                                      $("#ProductName").val(item.productName);
                                      $("#ProductPrice").val(item.productPrice);
                                      $("#ProductDividend").val(item.productDividend);
                                      $("#ProductStock").val(item.productStock);
                                      if (item.productPrescript == 0) {
                                          $('#noPrescription').prop("checked", 1);
                                          $("#process").hide();
                                      }
                                      else if (item.productPrescript == 1) {
                                          $('#Prescription').prop("checked", 1);
                                          $("#process").show();
                                      }
                                      var Special = item.productSpecial.split("|");
                                      for (var j = 0 ; j <= selectS.length - 1; j++) {
                                          for (var i = 0 ; i <= Special.length - 1; i++) {
                                              if (Special[i] == selectS[j].workNo) {
                                                  $('#SlectBox')[0].sumo.selectItem(j);
                                              }
                                          }
                                      }
                                      $("#ProductMaterial").val(item.productMaterial);
                                      $("#ProductAnthMaterial").val(item.productAnthMaterial);
                                      CKEDITOR.instances.editor.setData(item.productContent)
                                  });
                       }
                   },
                   { type: "control", deleteButton: false }
                ]
            });
        });
});

$(function ()   {
    var fNo = '';
    var fName = '';
    /*Add new Level Modal*/
    $('#addType').on('click', function () {
        $('#myTypeStack').modal('show');
        $('#newftype').val('');
        $.ajax({
            type: "GET",
            url: "./productManagementapi/loadftype",
            data: '',
            dataType: "json"
        }).done(function (result) {
            $("#ftypeGrid").jsGrid({

                height: 400,
                width: "100%",

                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",

                //Data
                data: result,
                controller: {
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./productManagementapi/updateftype",
                            data: item,
                            dataType: "json"
                        });
                    }
                },

                //Fields
                fields: [
                    //{ name: "ftypeNo", title: "父類別編號", type: "text", width: 200, align: "center", editing: false },
                    { name: "ftypeName", title: "父類別名稱", type: "text", width: 350, align: "center" },
                    { name: "ftypeStatue", type: "checkbox", title: "停用", width: 250 },
                    {
                        name: "typeEdit", title: "子類別編輯", width: 120, align: "center",
                        itemTemplate: function (_, item) {
                            return $("<button>").text('編輯')
                                   .css('background', '#E76F51')
                                   .css('border', '1px solid #E76F81')
                                   .css('border-radius', '3px')
                                   .css('color', 'white')
                                   .css('text-align', 'center')
                                   .on("click", function () {
                                       $('#sTypeStack').modal('show');
                                       $('#newstype').val('');
                                       fNo = item.ftypeNo;
                                       fName = item.ftypeName;
                                       $('#stypetite').html('新增 ' + item.ftypeName + ' 子類別');
                                       
                                       $.ajax({
                                           type: "POST",
                                           url: "./productManagementapi/loadstype",
                                           data: {'ftypeNo':item.ftypeNo},
                                           dataType: "json"
                                       }).done(function (sresult) {
                                           $("#stypeGrid").jsGrid({

                                               height: 400,
                                               width: "100%",

                                               //Functions
                                               editing: true,
                                               sorting: true,
                                               paging: true,
                                               autoload: true,
                                               pageSize: 10,
                                               pageButtonCount: 5,
                                               deleteConfirm: "確定刪除這筆資料?",

                                               //Data
                                               data: sresult,
                                               controller: {
                                                   updateItem: function (item) {
                                                       return $.ajax({
                                                           type: "POST",
                                                           url: "./productManagementapi/updatestype",
                                                           data: item,
                                                           dataType: "json"
                                                       });
                                                   }
                                               },

                                               //Fields
                                               fields: [
                                                   //{ name: "stypeNo", title: "子類別編號", type: "text", width: 200, align: "center", editing: false },
                                                   { name: "stypeName", title: "子類別名稱", type: "text", width: 350, align: "center" },
                                                   { name: "stypeStatue", type: "checkbox", title: "停用", width: 250 },
                                                   { type: "control", deleteButton: false }
                                               ]
                                           });
                                       });
                                      

                                   });
                        }
                    },
                    { type: "control", deleteButton: false }
                ]
            });
        });
    });
    $('#savestype').on('click', function () {
        if ($('#newstype').val() == '') {
        }
        else {
            $.post("./productManagementapi/insertstype",
             {
                 'name': $('#newstype').val(),
                 'ftypeNo': fNo
             }
             ).done(function (result) {
                 if (result == "success") {
                     alert("在 " + fName + " 中新增子類別 " + $('#newstype').val() + " 成功");
                 }
             });
        }
    });
    $('#addwork').on('click', function () {
        $('#myWorkStack').modal('show');
        $('#newwork').val('');
        $.ajax({
            type: "GET",
            url: "./productManagementapi/loadwork",
            data: '',
            dataType: "json"
        }).done(function (result) {
            $("#workGrid").jsGrid({

                height: 400,
                width: "100%",

                //Functions
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆特殊加工?",

                //Data
                data: result,
                controller: {
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "./productManagementapi/updatework",
                            data: item,
                            dataType: "json"
                        });
                    }
                },
                //Fields 
                fields: [
                    //{ name: "workNo", title: "特殊加工編號", type: "text", width: 250, align: "center", editing: false },
                    { name: "workName", title: "特殊加工名稱", type: "text", width: 350, align: "center" },
                    { name: "workAmount", title: "特殊加工價錢", type: "text", width: 250, align: "center" },
                    { name: "workStatue", type: "checkbox", title: "停用", width: 150 },
                    { type: "control", deleteButton: false }
                ]
            });
        });
    });

});


/*Close or Open Add new Product*/
$(function ()   {
    $('#addProduct').on('click', function () {
        $("#overlayEdit").removeClass("hide");
        $(document.body).addClass("no-scroll");
        $("#pictureplace").hide();
        $("#ProductId").val('#NEW');
        $('#SETIMG').html('');
        $('#SETIMG').val('');
        $("#ProductName").val('');
        $("#ProductPrice").val('');
        $("#ProductDividend").val('');
        $("#ProductStock").val('');
        $('#noPrescription').prop("checked", 1);
        $("#process").hide();
        $('#SlectBox')[0].sumo.unSelectAll();
        $("#ProductMaterial").val('');
        $("#ProductAnthMaterial").val('');
        CKEDITOR.instances.editor.setData('');
        
    });

    $('#overlayEdit .fa').on('click', function () {
        $("#overlayEdit").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

    $('#overlayComment .fa').on('click', function () {
        $("#overlayComment").addClass("hide");
        $(document.body).removeClass("no-scroll");
    });

    $('#savework').on('click', function () {
        if ($('#newwork').val() == '') {
        }
        else {
            $.post("./productManagementapi/insertwork",
             { 'name': $('#newwork').val() }
             ).done(function (result) {
                 if (result == "success") {
                     alert("新增特殊加工 " + $('#newwork').val() + " 成功");
                 }
             });
        }
    });

    $('#saveftype').on('click', function () {
        if ($('#newftype').val() == '') {
        }
        else {
            $.post("./productManagementapi/insertftype",
             { 'name': $('#newftype').val() }
             ).done(function (result) {
                 if (result == "success") {
                     alert("新增父類別 " + $('#newftype').val() + " 成功");
                 }
             });
        }
    });
    
});


/*Steps*/
$(function ()   {
    $("#formWizardEdit").steps({
        headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) {
            if (newIndex > currentIndex) {
                if ($('#producteForm').parsley().validate('step' + newIndex)) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                return true;
            }
        },
        onFinished: function (event, currentIndex) {
            if ($('#SETIMG').val() == '') {
                alert('照片未新增');
            }
            else if ($('#selectType').val() == '' || $('#ProductName').val() == '' || $('#ProductDividend').val() == '' || $('#ProductStock').val() == '' || CKEDITOR.instances.editor.getData() == '') {
                alert('有*的資料必須填寫完成');
            }
            else {
                //SlectBox轉換格式
                var work = $('#SlectBox').val();
                var w_id = "";
                if (work == null) {
                    w_id = "||";
                }
                else {
                    for (var i = 0; i < work.length; i++) {
                        w_id += "|" + work[i];
                    }
                    w_id += "|";
                }
                if ($("#ProductId").val() == '#NEW') {
                    $.ajax({
                        type: "POST",
                        url: "./productManagementapi/productinsert",
                        data: {
                            'typeid': $('#selectType').val(),
                            'picture': $('#SETIMG').val(),
                            'name': $("#ProductName").val(),
                            'price': $("#ProductPrice").val(),
                            'dividend': $("#ProductDividend").val(),
                            'stock': $("#ProductStock").val(),
                            'prescription': $('input:radio:checked[name="Prescription"]').val(),
                            'specialprocess': w_id,
                            'material': $("#ProductMaterial").val(),
                            'anthmaterial': $("#ProductAnthMaterial").val(),
                            'content': CKEDITOR.instances.editor.getData()
                        },
                        dataType: "json"
                    }).done(function (result) {
                        window.open('./productContent?id=' + result, '_blank', 'PopUp');
                        window.location.reload();
                    });
                    $(".overlay").addClass("hide");
                    $(document.body).removeClass("no-scroll");
                }
                else {
                    var p_id = $("#ProductId").val();
                    p_id = p_id.slice(1, p_id.length);
                    $.ajax({
                        type: "POST",
                        url: "./productManagementapi/productupdate",
                        data: {
                            'p_id': p_id,
                            'typeid': $('#selectType').val(),
                            'picture': $('#SETIMG').val(),
                            'name': $("#ProductName").val(),
                            'price': $("#ProductPrice").val(),
                            'dividend': $("#ProductDividend").val(),
                            'stock': $("#ProductStock").val(),
                            'prescription': $('input:radio:checked[name="Prescription"]').val(),
                            'specialprocess': w_id,
                            'material': $("#ProductMaterial").val(),
                            'anthmaterial': $("#ProductAnthMaterial").val(),
                            'content': CKEDITOR.instances.editor.getData()
                        },
                        dataType: "json"
                    }).done(function (result) {
                        window.open('./productContent?id=' + p_id, '_blank', 'PopUp');
                        window.location.reload();
                    });
                    $(".overlay").addClass("hide");
                    $(document.body).removeClass("no-scroll");
                }
            }
        }
    });

});


    



/*ProductImg Upload*/
$("#uploadProductImg").fileinput({
    uploadUrl: "./productManagementapi/insertpic",
    uploadAsync: true,
    maxFileCount: 1,
    dropZoneTitle: '請拖曳或新增一張1920*1080的照片',
    allowedFileExtensions: ["jpg", "gif", "png"]
});
$("#uploadProductImg").on("fileuploaded", function (event, data) {
    $('#SETIMG').html("<img style='height:160px' src='./images/product/" + data.response.name + "'>");
    $('#SETIMG').val(data.response.name);
});

$('.overlay .fa-times').on('click', function () {
    $(".overlay").addClass("hide");
    $(document.body).removeClass("no-scroll");
});


$(document).ready(function () {
    //get select option
    $.ajax({
        type: "GET",
        url: "./productManagementapi/productType",
        data: '',
        dataType: "json"
    }).done(function (result) {
        var tdata = result;
        for (var i = 0 ; i <= tdata.length - 1 ; i++) {
            $("#selectType").append($("<option value='" + tdata[i].productTypeId + "'>" + tdata[i].productType + "</option>"));
        }
    });

    $.ajax({
        type: "GET",
        url: "./productManagementapi/work",
        data: '',
        dataType: "json"
    }).done(function (result) {
        var tdata = result;
        selectS = result;
        for (var i = 0 ; i <= tdata.length - 1 ; i++) {
            $('#SlectBox')[0].sumo.add(tdata[i].workNo, tdata[i].workName);
        }
        $('#SlectBox')[0].sumo.reload();
    });
    $('#SlectBox').SumoSelect({
        csvDispCount: 3
    });

    
    $('#Prescription').click(function () {
        $("#process").show();
    });
    $('#noPrescription').click(function () {
        $("#process").hide();
    });
});

/*Editor*/
$(function ()   {
    CKEDITOR.replace('editor', {
        toolbar: [['Source', '-', 'NewPage', 'Preview', '-', 'Templates'],
                    ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],
                    ['SelectAll', '-', 'Scayt'], ['Link', 'Unlink', 'Anchor'], ['Maximize', 'ShowBlocks'], ['About'],
                    ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'],
                    ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                    ['Image', 'Flash', '-', 'Table', 'HorizontalRule', '-', 'Smiley', 'SpecialChar'],
                    ['Styles', 'Format', 'Font', 'FontSize'],
                    ['TextColor', 'BGColor']]
    });

    /*KnowledgeImg Upload*/
    $("#uploadProductImgplace").fileinput({
        uploadUrl: "./productManagementapi/insertpicplace",
        uploadAsync: true,
        maxFileCount: 20,
        dropZoneTitle: '請拖曳或新增1920*1080的照片，一次最多20張',
        allowedFileExtensions: ["jpg", "gif", "png"]
    });
    $("#uploadProductImgplace").on("fileuploaded", function (event, data) {
        $.ajax({
            type: "POST",
            url: "./productManagementapi/imagesinsert",
            data: {
                'id': Product_id,
                'images': data.response.name
            },
            dataType: "json"
        }).done(function (result) {

        });
    });

    $('#updateProductImgplace').on('click', function () {
        $('#myExistedTypeStack').modal('show');
        $.ajax({
            type: "POST",
            url: "./productManagementapi/pictureload",
            data: { 'ProductId': Product_id },
            dataType: "json"
        }).done(function (result) {
            console.log(Product_id);
            $("#imgGrid").jsGrid({
                height: 400,
                width: "100%",

                //Functions 
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 10,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./productManagementapi/picturepicDelete",
                        data: { 'id': args.item.p_photoid },
                        dataType: "json"
                    });
                },
                data: result,
                //Fields
                fields: [
                     { name: "ProductPics", title: "圖片名稱", type: "text", width: 300, align: "center", editing: false },
                    {
                        name: "ProductPics", title: "圖片預覽",
                        itemTemplate: function (val, item) {
                            return $("<img>").attr("src", "./images/ProductPIC/" + val);
                        }, align: "center", width: 250
                    },
                    { type: "control", editButton: false }
                ]
            });
        });
    });
    $('.existedLevelBtn').on('click', function () {
        $('#myExistedTypeStack').modal('hide');
    });
    $('#saveQA').on('click', function () {
        if ($('#QArequest').val() == '') {
            $.ajax({
                type: "POST",
                url: "./productManagementapi/qarequestdelete",
                data: {
                    'qa_id': $('#QA_id').val()
                },
                dataType: "json"
            }).done(function (result) {
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "./productManagementapi/qarequest",
                data: {
                    'qa_id': $('#QA_id').val(),
                    'qa_request': $('#QArequest').val()
                },
                dataType: "json"
            }).done(function (result) {
            });
        }
        $.ajax({
            type: "POST",
            url: "./productManagementapi/qaload",
            data: { 'ProductId': $('#QA_p_id').val() },
            dataType: "json"
        }).done(function (sresult) {
            console.log(sresult);
            $("#productCommentGrid").jsGrid({

                height: 340,
                width: "100%",

                //Functions
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 6,
                pageButtonCount: 5,
                deleteConfirm: "確定刪除這筆資料?",
                onItemDeleted: function (args) {
                    $.ajax({
                        type: "POST",
                        url: "./productManagementapi/qadelete",
                        data: { 'id': args.item.QAid },
                        dataType: "json"
                    });
                },
                rowClick: function (args) {
                    $('#myCommentModal').modal('show');
                    QA_id = args.item.QAid;
                    $('#QA_id').val(args.item.QAid);
                    $('#QAquestion').val(args.item.QAquestion);
                    $('#QArequest').val(args.item.QArequest);
                },

                //Data
                data: sresult,

                //Fields
                fields: [
                    { name: "QAdate", title: "留言日期", type: "text", width: 120, align: "center", editing: false },
                    { name: "memberid", title: "會員編號", type: "text", width: 80, align: "center", editing: false },
                    { name: "QAname", title: "姓名", type: "text", width: 100, align: "center", editing: false },
                    { name: "QAreply", type: "checkbox", title: "回覆", sorting: true, editing: false },
                    { name: "QAemail", title: "信箱", type: "text", width: 150, align: "center", editing: false },
                    { name: "QAphone", title: "電話", type: "text", width: 120, align: "center", editing: false },
                    { type: "control", editButton: false }
                ]
            });
        });
    });

});

</script>
