<link type="text/css" rel="stylesheet" href="css/common/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="css/common/jsgrid-theme.min.css" />
<style>
/*Header*/
.header-text {
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
    margin:0px 10px 30px 10px;
}

.header-text-sm {
    border-bottom: 5px double #9CAFB7;
  padding-bottom: 10px;
  margin: 25px;
  color: #9CAFB7;
  font-weight: 600;
  opacity: 0.7;
}

/*Right Side*/
.smart-widget {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
  border-color: #e4e4e4;
  border-top-width: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.smart-widget .smart-widget-inner {
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px
}

.smart-widget .smart-widget-inner .smart-widget-body {
  padding: 15px
}

.container {
    width: 100%;
    padding: 12px;
}
.noreply {
background-color: #eee ;
}
/*QA*/
.overlay {
    position: fixed; 
    overflow-y: scroll;
    background: #F8C8BD none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 52px;
    z-index: 3;
}

.overlay .fa{
    padding: 15px;
    float: right;
    margin:15px;

}

#overlayComment{
    background: #F5E1B1 none repeat scroll 0% 0%;
}

.overlayBox{
    margin:10px;
    min-height:95%;
    padding:5% 10%;
    color:#333;
    background:white;
    font-family: '微軟正黑體','Nixie One',  sans-serif;
    font-size: 13pt;
}
/*Modal*/
.modal-backdrop.in{
    opacity: 0.8;
}

.modal-dialog {
    padding: 10% 40px 40px 40px;
}

.modal-content{
    border: 3px solid #fff;
    background:#FCF3E1; 
    border-radius:3px;
}

.modal-header{
    background:#D89A82;
}

.modal-title {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
.form-horizontal .form-group{
	margin:0px;
	margin-bottom:10px; 
}
</style>



<div class="row">
  <!--Title-->
  <h4 class="header-text">觀看所有通知 View All Notifications</h4>
  <!--Content-->
  <div class="col-xs-12">
      <div class="smart-widget">
        <div class="container">
           
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">歷史通知</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding" style="margin-top:20px">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th>日期</th>
                    <th>時間</th>
                    <th>通知</th>
                  </tr>
                  <tr ng-repeat="item in BIGERQAmessage" ng-class="{noreply:item.QAreply==0}" ng-click="QAclick(item.QAp_id ,item.QAp_name,item.QAp_type,item.QAp_price);">
                    <td>{{item.QAdate}}</td>
                    <td>{{item.QAtime}}</td>
                    <td ng-show="item.QAreply == 1">
                        {{item.QAname}}在產品 {{item.QAp_name}} 文章中留言 (已回復)
                    </td>
                    <td ng-show="item.QAreply == 0"><span class="notification-icon"><i class="fa fa-warning"></i></span>
                      {{item.QAname}}在產品 {{item.QAp_name}} 文章中留言未回覆
                    </td>
                  </tr>
                 
                </tbody>
                </table>
                  <div style="text-align: center;">
                      <button ng-click="BIGERQAmessageloadmore();" type="button" style="background:#41867E;border:1px solid #71ABBA;border-radius:3px;color:white;text-align:center;">載入更多</button>
                  </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
      </div>
  </div>
</div>
    <!--Show Contents For Q&A-->
<div class="overlay hide" id="overlayComment">
    <div class="popup">
        <a href=""><i class="fa fa-times fa-lg"></i></a>
        <div class="overlayBox">
            <h4 class="header-text">商品問與答 Product Q&A</h4>
            <div class="row" style="margin: 0px auto; color:#BF714D; font-weight: 600; opacity: 0.7; padding-bottom: 15px;">
                <p id="qaP_id" class="col-md-3" style="width: 350px;"></p>
                <p id="qaP_name" class="col-md-3" style="width: 350px;"></p>
            </div>
            <div class="row" style="margin: 0px auto; color:#BF714D; font-weight: 600; opacity: 0.7; padding-bottom: 15px;">
                <p id="qaP_type" class="col-md-3" style="width: 350px;"></p>
                <p id="qaP_price" class="col-md-3" style="width: 350px;"></p>
            </div>

            <div class="table-responsive">
                <table class="table table-striped" id="productCommentGrid"></table>
            </div>
        </div>
    </div>
</div>

<div id="QA_p_id"></div>

<!--Show Q&A Modal-->
<div class="modal fade" id="myCommentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">商品問與答</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">留言</label>
                        <div id="QA_id"></div>
                        <div class="col-sm-10">
                            <textarea id="QAquestion" class="form-control" rows="3" disabled></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">回覆</label>
                        <div class="col-sm-10">
                            <textarea id="QArequest" class="form-control" rows="3" placeholder="回覆...."></textarea>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                <button id="saveQA" ng-click="QAmessageload();" type="submit" class="btn btn-info" data-dismiss="modal">確定</button>
            </div>

        </div>
    </div>
</div> 

<script type="text/javascript" src="js/common/jsgrid.min.js"></script>
<script type="text/javascript" src="js/common/parsley.min.js"></script>
<script type="text/javascript" src='js/common/jquery.steps.min.js'></script>
<script type="text/javascript" src="js/common/canvas-to-blob.min.js"></script>
<script type="text/javascript" src="js/common/fileinput.min.js"></script>
<script>
    $(function () {
        $('#overlayComment .fa').on('click', function () {
            $("#overlayComment").addClass("hide");
            $(document.body).removeClass("no-scroll");
        });

        $('#saveQA').on('click', function () {
            if ($('#QArequest').val() == '') {
                $.ajax({
                    type: "POST",
                    url: "./productManagementapi/qarequestdelete",
                    data: {
                        'qa_id': $('#QA_id').val()
                    },
                    dataType: "json"
                }).done(function (result) {
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "./productManagementapi/qarequest",
                    data: {
                        'qa_id': $('#QA_id').val(),
                        'qa_request': $('#QArequest').val()
                    },
                    dataType: "json"
                }).done(function (result) {
                });
            }
            $.ajax({
                type: "POST",
                url: "./productManagementapi/qaload",
                data: { 'ProductId': $('#QA_p_id').val() },
                dataType: "json"
            }).done(function (sresult) {
                for (var i in sresult) {
                    sresult[i].QAdate = new Date(sresult[i].date).toLocaleDateString() + " " + sresult[i].QAdate;
                }
                $("#productCommentGrid").jsGrid({

                    height: 340,
                    width: "100%",

                    //Functions
                    editing: true,
                    sorting: true,
                    paging: true,
                    autoload: true,
                    pageSize: 6,
                    pageButtonCount: 5,
                    deleteConfirm: "確定刪除這筆資料?",
                    onItemDeleted: function (args) {
                        $.ajax({
                            type: "POST",
                            url: "./productManagementapi/qadelete",
                            data: { 'id': args.item.QAid },
                            dataType: "json"
                        });
                    },
                    rowClick: function (args) {
                        $('#myCommentModal').modal('show');
                        var QA_id = args.item.QAid;
                        $('#QA_id').val(args.item.QAid);
                        $('#QAquestion').val(args.item.QAquestion);
                        $('#QArequest').val(args.item.QArequest);
                    },

                    //Data
                    data: sresult,

                    //Fields
                    fields: [
                        { name: "QAdate", title: "留言日期", type: "text", width: 120, align: "center", editing: false },
                        { name: "memberid", title: "會員編號", type: "text", width: 80, align: "center", editing: false },
                        { name: "QAname", title: "姓名", type: "text", width: 100, align: "center", editing: false },
                        { name: "QAreply", type: "checkbox", title: "回覆", sorting: true, editing: false },
                        { name: "QAemail", title: "信箱", type: "text", width: 150, align: "center", editing: false },
                        { name: "QAphone", title: "電話", type: "text", width: 120, align: "center", editing: false },
                        { type: "control", editButton: false }
                    ]
                });
            });
        });
    });
    

</script>