body {
    background-color: #ffffff;
    overflow-x:hidden;
}

/*照片*/
/* #region 視差滾輪圖片 */
#services {
    display: block;
    margin: 145px auto 0;
    background-size:contain;
    /*width: 460px;*/
    height: 400px;
    background-image:url('../../images/logo.png') ;
    background-position:center;
    background-repeat:no-repeat;
}

#img01,
#img02,
#img03 {
    height: 400px;
    background: url('../../images/aboutUs/bg01.png') 50% 0 no-repeat fixed;
    background-size: cover;
}

#img02 {
    background: url('../../images/aboutUs/bg02.png') 50% 0 no-repeat fixed;
}

#img03 {
    background: url('../../images/aboutUs/bg03.png') 50% 0 no-repeat fixed;
}
#img01mobile,
#img02mobile,
#img03mobile {
    display:none;
}

@media screen and (max-width:425px) {
    #img01,
    #img02,
    #img03 {
        display:none;
    }
    #img01mobile, #img02mobile, #img03mobile {
        height: 100px;
        background: url('../../images/aboutUs/bg01.png') 50% 0 no-repeat;
        background-size: cover;
        display: block;
    }

    #img02mobile {
        background: url('../../images/aboutUs/bg02.png') 50% 0 no-repeat;
        background-size: cover;
    }

    #img03mobile {
        background: url('../../images/aboutUs/bg03.png') 50% 0 no-repeat;
        background-size: cover;
    }
}

/* #endregion 視差滾輪圖片 */
/*關於*/

#services0 {
    
    background-color: #fff;
    padding-top: 50px;
    text-align: center;
}

    #services0 p {
        font-size: 20px;
        line-height: 40px;
        color: rgb(25, 25, 25);
        margin-top: 50px;
    }

    #services0 h2 {
        color: rgb(25, 25, 25);
    }


/*各種服務*/

#services1 {
    background-color: #ffffff;
    margin-top: 0;
    padding: 50px;
    text-align: center;
}

    #services1 .services {
        margin-top: 50px;
    }


/*年度記事*/

#year-about {
    background-color: #ffffff;
    padding: 50px;
}

#year-about h2 {
color: rgb(25, 25, 25);
}

#year-about .year-list {
margin-top: 30px;
}

#year-about .year-list li {
    background-color: #ffffff;
    border-radius: 0px;
    border-bottom: 0;
    border-top: 0;
    border-right: 0px;
    border-left: solid 5px rgb(60, 60, 60);
}

#year-about .year-list h4 {
    color: #808080;
}

#year-about .year-list p {
    color: rgb(25, 25, 25);
}

#year-about .pager a{
    color: #0F5900;
    background-color: #76E35F;
}
