p,
h2,
h3,
h4,
h5,
h6,
h1,
label,
a,
th,
td {
  font-family: "malgun gothic", simhei;
  /* 其他作業系統的字型設定請參考前述教學連結 */
}

body {
  padding-top: 70px;
}

.min-buyhistory {
  display: none;
}

.big-buyhistory {
  display: block;
}

@media(max-width:768px) {
  .min-buyhistory {
    display: block;
  }
  .big-buyhistory {
    display: none;
  }
}
