﻿html,body{
  background-color: #ffffff !important;
}

input{
    background-color: #ffffff !important;
    border: 1px solid #ccc !important;
    color: #0F5900 !important;
}

/*訂購清單*/
#buyHistory{
    margin-top:200px;
}

#buyHistory table {
    border-color: rgb(25, 25, 25);
}

#buyHistory table th {
    border-color: rgb(25, 25, 25);
    text-align: center;
    background-color: #76E35F;
    color: #0F5900;
}

#buyHistory table td {
    border-color: rgb(25, 25, 25);
    vertical-align: middle;
    text-align: center;
}

#buyHistory .tableDetail img {
    width: 50px;
    height: 50px;
}

/*購買人資料*/
#purchaserDetail .detailButton{
    text-align:right;
}

#purchaserDetail #detailSubmit{
    margin-bottom:15px;
    width:100px;
    color:#0F5900;
    background-color: #76E35F;
    
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
   color: #0F5900 !important;
}

input:-moz-placeholder,textarea:-moz-placeholder { 
   color: #0F5900 !important;
}

input::-moz-placeholder,textarea::-moz-placeholder {  
   color: #0F5900 !important;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {  
   color: #0F5900 !important;
}