body{
  background-color: #ffffff;
}

.form-control {
  background-color: #ffffff;
  color:#0F5900;
}

#min-buyfooter {
  display: none;
}

#big-buyfooter {
  display: block;
}

@media(max-width:768px) {
  #min-buyfooter {
    display: block;
  }
  #big-buyfooter {
    display: none;
  }
}


/*標題*/

#title h1 {
  margin-top: 200px;
  text-align: center;
  font-size: 60px;
  color: #0F5900;
}


/*購物車商品*/

#shopping-cart {
  background-color: #ffffff;
  padding-bottom: 50px;
}

#shopping-cart .thumbnail {
  padding: 20px;
  background-color: #76E35F;
}

#shopping-cart .thumbnail img {
  height: 120px;
  width: 120px;
  margin-top: 6%;
}

#shopping-cart .thumbnail button{
  color:#ffffff;
  background-color: #0F5900;
  border-color:#0F5900;
}

#shopping-cart #big-buyfooter a{
  color:#ffffff;
  background-color: #0F5900;
  border-color:#0F5900;
}


/*購買資訊*/

.shop-item h4,
.shop-item p {
  color: rgb(25, 25, 25);
}


/*購買選項*/

.shop-item-option {
  margin-top: 20px;
}

.shop-item-option p {
  color: rgb(25, 25, 25);
  font-size: 20px;
}

.shop-item-option .btn-default {
  background-color: rgb(25, 25, 25);
  color: rgb(255, 238, 84);
}


/*下方結帳*/

#big-buyfooter {
  text-align: center;
  color: rgb(25, 25, 25);
  font-size: 20px;
}

#big-buyfooter p {
  color: rgb(25, 25, 25);
  font-size: 25px;
}


/*修改訂單*/

#orderForm .modal-content ,#special-glass .modal-content {
  background-color: rgb(255, 238, 84);
  color: rgb(25, 25, 25);
  margin-top:170px;
}

#orderForm .modal-header h4 ,#special-glass .modal-body h4{
  color: rgb(25, 25, 25);
}

#orderForm .modal-content .modal-header , #special-glass .modal-content .modal-header{
  background-color: #ffffff;
}

#orderForm .modal-content .modal-body , #special-glass .modal-content .modal-body{
  background-color: #76E35F;
}
#orderForm .modal-content .modal-footer , #special-glass .modal-content .modal-footer{
  background-color: #ffffff;
  text-align: center;
}
#orderForm .modal-footer button , #special-glass .modal-footer button{
  background-color: #0F5900;
  color: #ffffff;
}

#quantity .input-group {
  margin: auto;
}

#quantity .input-group button {
  background-color: #0F5900;
  color: #ffffff;
}

#quantity .input-group input {
  min-width: 50px;
}

#special-glass .modal-body hr {
  border: solid 1px rgb(25, 25, 25);
}

#glasses-type {
  margin-bottom: 20px;
}

#far-glass,
#close-glass,
#special {
  display: none;
}

.right-eye,
.left-eye {
  margin-top: 20px;
}

.right-eye .form-control,
.left-eye .form-control {
  width: 100px;
}


/*小視窗結帳*/

#min-buyfooter button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

#min-buyfooter p {
  float: right;
  font-size: 20px;
  color: #ffffff;
  margin-right: 20px;
  margin-top: 15px;
}
