@import url(http://fonts.googleapis.com/css?family=Roboto);

/*html {
    height: 100%;
}*/

p, h2, h3, h4, h5, h6, h1, label, a, th, td {
    font-family: "Yu Gothic", SimHei;
    /* 其他作業系統的字型設定請參考前述教學連結 */
    font-weight: bold;
}

a {
    font-size: 14px;
}

[ng-click] {
    cursor: pointer;
}

/*body {
    background-color: #fff0a9;
    height: 100%;
    overflow-y: hidden;
}*/

.new-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 768px) {
    .new-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        
    }
}

/*小視窗選單*/
#fullmenu {
    margin-top: 142px;
    height: 350px;
    width: 100%;
    position:fixed;
    z-index:101;
    background-color:#ffffff;
    top:0px;
}

#fullmenu .fullmenu-btn {
    margin-bottom: 50px;
    text-align: center;
    padding-top: 15px;
    color: rgb(25, 25, 25);
}

#fullmenu .fullmenu-btn .glyphicon {
    font-size: 30px;
    color: rgb(25, 25, 25);
}
@media screen and (max-width: 480px) {
    #fullmenu {
        margin-top: 90px !important;
       
    }
}

/*大視窗上方選單*/
#top-menu {
    z-index: 999;
    position: fixed !important;
    border: none;
    border-radius: 0;
    background-color: #76E35F;
    opacity: 0.8;
    margin-bottom: 0;
    margin-top: 35px;
}

#top-menu .navbar-header a,
#top-menu .navbar-collapse .navbar-nav li a {
    color: #0F5900;
}

#top-menu .navbar-header button .glyphicon {
    font-size: 20px;
    color: #0F5900;
}

#top-menu .navbar-header img {
    height: 105px;
    position: absolute;
    left: 5%;
}

@media screen and (max-width: 425px){
    #top-menu .navbar-header img{
        height: 55px;
        position:absolute;
        left:20px;
    }
    #top-menu .navbar-header button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navbar{
        min-height:50px;
    }
}

#top-menu .navbar-collapse li {
    text-align: center;
}

    #top-menu .navbar-collapse li span {
        font-size: 30px;
    }

#top-menu .open ul li a {
    color: #0F5900;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
}

#top-menu .open ul {
    background-color: #76E35F;
}


/*上方登入*/
#navbar-login {
    height: 35px;
    padding: 2px;
    background-color: #E7EEE6;
    width: 100%;
    position:fixed !important;
}

    #navbar-login .top-btn {
        float: right;
        margin-right: 10px;
    }

    #navbar-login #logout-btn {
        display: none;
        background-color: #76E35F;
        color: #0F5900;
        border: none;
        padding: 4px 30px;
    }

    #navbar-login #login-btn, #navbar-login #register {
        background-color: #76E35F;
        color: #0F5900;
        border: none;
        padding: 4px 30px;
    }

    @media screen and (max-width:375px){
        #navbar-login #login-btn, #navbar-login #register {
            padding: 6px 22px !important;
        }
    }

    #navbar-login .top-btn #message {
        display: none;
        background-color: #76E35F;
        color: #0F5900;
        border: none;
    }

        #navbar-login .top-btn #message span {
            background-color: #0F5900;
            color: #ffffff;
            border: none;
        }
    #navbar-login .dropdown-menu {
        z-index: 5;
        font-size: 8px;
        position:absolute;
        right:0;
        width:200px;
        overflow-y:auto;
        height:400px;
    }
    @media screen and (max-width: 320px){
        #navbar-login .dropdown-menu {
            width:20px;
            height:300px;
        }
    }

    @media screen and (max-width: 768px ) and (min-width: 320px){
        #navbar-login .dropdown-menu {
            width:100px;
            height:350px;
        }
    }
    

    @media screen and (min-width: 1440px) {
        #navbar-login .dropdown-menu {
            width:300px;
            height:400px;
        }
    }
        #navbar-login .dropdown-menu a:focus,
        #navbar-login .dropdown-menu a:hover {
            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 3px rgb(25, 25, 25);
            color: #0F5900;
            background-color: #76E35F;
        }

        #navbar-login .dropdown-menu a {
            font-size: 12px;

            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 3px rgb(25, 25, 25);
            color: #0F5900;
            background-color: #ffffff;
        }
        #navbar-login .dropdown-menu .messagenoreply {
            background-color: #76E35F;
        }
         
        #navbar-login .dropdown-menu .all-message {
            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: none;
            text-align: center;
            color: #0F5900;
            background-color: rgb(255, 255, 255);
        }
        #navbar-login .dropdown-menu .time {
            
        }

/*登入*/
#login-modal {
    display: none;
}

#login-modal .register{
    margin-top:20px;
}

#login-modal .register a{
    font-size:15px;
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: rgb(118, 227, 95);
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: "malgun gothic", simhei;
    /* 其他作業系統的字型設定請參考前述教學連結 */
}

    .loginmodal-container h2 {
        text-align: center;
        color: #ffffff;
    }

    .loginmodal-container .checkbox,
    .loginmodal-container a {
        color: #ffffff;
    }

    .loginmodal-container input {
        background-color: #ffffff;
        color: rgb(25,25,25);
    }

    .loginmodal-container #btn-login {
        background-color: #0F5900;
        color: #ffffff;
        font-size: 20px;
    }

iframe {
    width: 100%;
    height: calc(100% - 0px);
    border: none;
}


input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
   color: #0F5900 !important;
}

input:-moz-placeholder,textarea:-moz-placeholder { 
   color: #0F5900 !important;
}

input::-moz-placeholder,textarea::-moz-placeholder {  
   color: #0F5900 !important;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {  
   color: #0F5900 !important;
}

.navbar-nav li.Hover {
     background-color:#5AD640;
}