﻿body{
    background-color:#C0F7B4;
}

.regiContainer {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    
}

.regiHeader {
    background-color:#76E35F;
    height:60px;
    margin-top:20px;
    padding-top:15px;
}

.regiHeader div{
    width:50%;
    margin-left:auto;
    margin-right:auto;

}

.regiHeader h2{
    margin:0px;
}

#registerForm .form-group input{
    background-color: #ffffff;
    color: rgb(25,25,25);
}

/*address*/
#twzipcode select,#twzipcode input{
    margin: 0px 10px 5px 0px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-group {
    margin-top:10px;
}

.regiFooter{
    margin:auto;
    width:75%;
}

.regiFooter a {
    width: 100px;
    font-size: 18px;
    margin-left: 20px;
    display: inline-block;
    vertical-align:bottom;
    background-color: #0F5900;
    color: #ffffff;
    font-weight:initial;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: gray !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: gray !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: gray !important;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {  
   color: gray !important;
}

.btn-default:hover, .btn-default:focus, .btn-group.open .dropdown-toggle.btn-default{
    background-color: #5AD640;
}

hr{
    border-top: 2px solid #000;
}

.validateCode{
    text-align:right;
}

.validateCode table{
    display:inline-block;
}

.validateCode .code{
    font-family:Arial;
    font-style:italic;
    color:blue;
    font-size:30px;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;             
    float:left;            
    cursor:pointer;
    width:150px ;
    height:60px;
    line-height:60px;
    text-align:center;
    vertical-align:middle;
}
.validateCode a{
    text-decoration: none;
    font-size: 12px;
    color: #288bc4;
    position: absolute;
    right: 0;
    bottom: 0;
}
 .validateCode td:first-child {
        position: relative;
    }
.validateCode a:hover{
    text-decoration:underline;
}

.validateCode #inputCode{
    width:150px;
}

.topBanner {
    width: 100%;
}

.topBanner p {
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 450px) {
    .topBanner p {
        width: 82%;
    }
    .regiFooter {
        width: 100%;
    }

    .regiFooter a {
        width: 80px;
        font-size: 15px;
        margin-left: 2px;
        padding:10px;
    }
    .regiContainer{
        width:80%;
    }
}
