body {
    background-color: #ffffff;
    overflow-x: hidden;
}

#contact_us {
    padding-top: 50px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

#contact-header {
    color: rgb(25, 25, 25);
}

#contact-body {
    margin-top: 30px;
}

    #contact-body h2 {
        color: rgb(25, 25, 25);
    }

    #contact-body form input, #contact-body form textarea, #contact-body form button {
        background-color: #76E35F;
        color: #000000;
    }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #000000 !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #000000 !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #000000 !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #000000 !important;
}

.validateCode {
    text-align: right;
}

    .validateCode table {
        display: inline-block;
    }

    .validateCode .code {
        font-family: Arial;
        font-style: italic;
        color: blue;
        font-size: 30px;
        border: 0;
        padding: 2px 3px;
        letter-spacing: 3px;
        font-weight: bolder;
        float: left;
        cursor: pointer;
        width: 150px ;
        height: 60px;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
    }

    .validateCode a {
        text-decoration: none;
        font-size: 12px;
        color: #288bc4;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .validateCode td:first-child {
        position: relative;
    }

    .validateCode a:hover {
        text-decoration: underline;
    }
