.thumbnail {
margin-top:20px;
margin-bottom:0px;

}

@media only screen and (max-width: 1200px) {
    #history_panel {
        width: 70%;
    }
}

@media only screen and (max-width: 1000px) {
    #history {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .product {
        border: 5px solid #fff;
    }
}

@media only screen and (max-width: 480px) {
    #big-list{
        margin:0px 10% 0px 10% !important;
    }

    #history {
        display: none;
    }

    .productList {
        width: 100%;
        margin-left: 0px;
    }

    .productList .caption p {
        display: none;
    }

    .productList .caption button {
        display: none;
    }

    .pagination li:nth-child(7), .pagination li:nth-child(8), .pagination li:nth-child(9),
    .pagination li:nth-child(10), .pagination li:nth-child(11) {
        display: none;
    }

    #big-list .product .thumbnail {
        padding: 15px 0px;
    }

    #search-product, #product-sort, #shoppingcart {
        margin: 5px 0px;
    }

        #shoppingcart a {
            padding: 5px 10px !important;
        }

    #big-list .typeContentWapper .typeItemDiv {
        margin-left: 5px !important;
    }

    #big-list .productList{
        margin-top:130px !important;
    }
}

body {
    background-color: #ffffff;
}
/*搜尋*/
#search-product{
        padding-bottom: 5px;
    }

#search-product input {
    background-color: #0F5900;
}

#search-product button {
    background-color: #0F5900;
    color: #ffffff;
    border-radius: 0;
}

#search-product select {
    background-color: #0F5900;
    border-radius: 0;
    margin-left: 10px;
}

/*大視窗商品*/
/*上方選項*/
#big-list{
    margin:0px 15% 0px 15%;
}

#big-list #product-option {
    background-color: #76E35F;
    padding: 10px 0px;
}
/*搜尋*/

#big-list #search-product input {
    background-color: #0F5900;
}

#big-list #search-product button {
    background-color: #0F5900;
    color: #ffffff;
}

#big-list .product .thumbnail {
    background-color: #76E35F;
}

    #big-list .product .thumbnail a {
        color: #0F5900;
    }

    #big-list .product .thumbnail button {
        background-color: #0F5900;
        color: #ffffff;
        border-color: #0F5900;
    }

#big-list .pagination a {
    background-color: #0F5900;
    color: #ffffff;
}

#big-list #expansionType .typeExpand {
    position: absolute;
    top: 10px;
    right: 14px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(/images/icon-toggle.png) no-repeat 0 0;
    cursor: pointer;
    text-indent: -9999px;
}

#big-list #expansionType .typeCollapse {
    position: absolute;
    top: 10px;
    right: 14px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(/images/icon-toggle.png) no-repeat 0 0;
    background-position: 0 -30px;
    cursor: pointer;
    text-indent: -9999px;
}

@media screen and (max-width: 320px) {
    #big-list #expansionType .typeCollapse{
        right: -0px;
    }
    #big-list #expansionType .typeExpand{
        right: -0px;
    }

}

#big-list .productList {
    margin-top: 50px;

}

#big-list .typeContentWapper {
    background-color: #76E35F;
    border-top: 1px dotted #0F5900;
    padding-top: 8px;
    height:170px;
    overflow-y:auto;
    margin-bottom: 10px;
}

    #big-list .typeContentWapper .typeItemDiv {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
    }

#big-list .typeItemDiv dl {
    border-left: 1px dotted #0F5900;
    padding-left: 5px;
}

#big-list .typeItemDiv dt {
    margin-bottom: 5px;
}

#big-list .typeItemDiv dd {
    margin-bottom: 2px;
    padding: 0px 5px;
}

    #big-list .typeItemDiv dd:hover {
        background-color: #25D500;
    }

/*排序*/


#product-sort .input-group {
    width: 100%;
}

#product-sort select {
    background-color: #0F5900;
    border-radius: 0;
}


/*購物車*/
#shoppingcart button {
    background-color: #0F5900;
    color: #ffffff;
    font-weight: bolder;
    display: inline-block;
}

#shoppingcart span {
    margin-left: 8px;
}

#shoppingcart a {
    background-color: #0F5900;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 5px 50px;
    font-size: 16px;
    font-weight: normal;
}


/*商品*/

.product .thumbnail {
    border: 0;
}

.product .caption h4 {
    text-align: center;
    margin-right:0;
}

@media screen and (max-width: 768px ) and (min-width: 320px){
    .product .caption h4 {
        font-size:12px;
    }
}

.product .caption a {
    font-size: 18px;
}

.product .price {
    text-align: center;
    margin-right: 20px;
}


/*瀏覽紀錄*/

#history {
    position: fixed;
    top: 200px;
    right: 0px;
}

    #history #history_panel {
        width: 150px;
        background-color: #76E35F;
    }

        #history #history_panel .panel-heading {
            background-color: #76E35F;
            text-align: center;
            padding: 4px 2px;
        }

        #history #history_panel .list-group {
            border-color: rgb(254, 223, 0);
        }

        #history #history_panel a.list-group-item {
            background-color: #97EE85;
            border-color: #ffffff;
            padding: 4px 2px;
            text-align:center;
        }

            #history #history_panel a.list-group-item:hover {
                background-color: #3BC31F;
            }

            #history #history_panel a.list-group-item img {
                height: 50px;
                width:80px;
            }

            #history #history_panel a.list-group-item h5 {
                display: inline-block;
                margin-left: 15px;
                text-align:left;
            }

            #history #history_panel a.list-group-item a {
                display: inline-block;
                margin-left: 15px;
            }
