html , body{
  background-color: rgb(255,255,255) !important;
}

.page-header {
  color: rgb(25, 25, 25);
}


/*產品縮圖*/

ul.horizontal-slide {
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

ul.horizontal-slide li[class*="span"] {
  display: inline-block;
  float: none;
}

ul.horizontal-slide li[class*="span"]:first-child {
  margin-left: 0;
}


/*
Credits:
https://github.com/marcaube/bootstrap-magnify
*/

.mag {
  margin: 0 auto;
  float: none;
}

.mag img {
  max-width: 100%;
  height:340px;
}

.magnify {
  position: relative;
  cursor: none
}

.magnify-large {
  position: absolute;
  display: none;
  width: 175px;
  height: 175px;
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%
}

#myCarousel .product-main-image {
    background-color: #ffffff;
    border-color: #97EE85 ;
    height:350px;
}

#fullmenu-hide {
    margin-top: 140px;
}

@media only screen and (max-width: 450px) {
    #myCarousel .product-main-image {
        height: 150px !important;
    }
    .mag img {
        height: 145px !important;
    }
    #fullmenu-hide {
        margin-top: 90px !important;
    }
}

#myCarousel .item {
  text-align: center;
}

.horizontal-slide a {
  max-height: 100px;
  max-width: 100px;
  background-color: rgb(25, 25, 25);
}



/*商品右邊介紹*/
#rightbox {
    background-color: #97EE85;
}

#rightbox .product-short-detail .row {
  padding: 15px;
}

#rightbox .the-list h1 {
  color: rgb(25, 25, 25);
}

#rightbox .the-list h3 {
  color: rgb(255, 0, 0);
}

#rightbox .the-list p {
  line-height: 30px;
  color: rgb(25, 25, 25);
}

#rightbox .the-list button {
  background-color: #0F5900;
  color: rgb(255, 255, 255);
}

#rightbox .the-list button{
    margin-left:30px;
}




/*QR CODE視窗*/

#qrcode .modal-body {
  height: 200px;
}

#qrcode .modal-content{
    margin-top:200px;
    background-color:#76E35F;
}

#qrcode .modal-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#qrcode .modal-footer button{
    background-color:#0F5900;
    color:#ffffff;
}


/*選擇款式*/

.the-list .choose {
  margin-bottom: 20px;
}

.the-list .choose-title {
  color: rgb(25, 25, 25);
  text-align: center;
}

.the-list select {
  margin-bottom: 20px;
  line-height: 50px;
  background-color: #0F5900;
  color:#ffffff;
}


/*數量*/

#amount {
  margin: auto;
}

#amount button {
  background-color: #0F5900;
  color:#ffffff;
}

#amount input {
  min-width: 100px;
  background-color: #3BC31F;
  color:#ffffff;
}


/*加入購物車*/

#buy_btn button {
  margin-top: 20px;
  background-color: #0F5900;
  color:#ffffff;
}


/*下方TAB*/

.product-detail-tab li a {
  color: rgb(25, 25, 25)
}


/*商品介紹*/

.tab-pane .well {
  color: rgb(25, 25, 25);
  background-color: #97EE85;
}


/*商品規格*/

#stuff .well td {
  border-color: rgb(25, 25, 25);
}


/*留言*/

#review .well .media-body h5 {
  color: rgb(25, 25, 25);
}

#review .well h4 {
  color: rgb(25, 25, 25);
}

#review .well input,
#review .well select,
#review .well textarea {
  background-color: #0F5900;
}

#review .well button {
  background-color: #0F5900;
  color: rgb(255, 255, 255);
}

/*ul.navvv li.active a:hover{
  background-color: #76E35F;
}

ul.navvv li.active a{
  background-color: #76E35F;
}

ul.navvv li a{
  background-color: #ffffff;
}*/

#shopcarIcon {
    background: url('../../images/shopcar.png');
    background-size: cover;
    width: 45px;
    height: 45px;
    background-color: #76E35F;
    position:fixed;
    bottom:0px;
    right:0px;
    z-index:100;
}